[2020-10-10 13:59] fancysnake opened #483 "Function is untyped after decorator transformation"
# Bug report

## What's wrong

I have an inclusion tag defined using a decorator:

[code]

Mypy gives me here this error:

[code]

suggesting that `inclusion_tag` returns an untyped function.

## How is that should be

`inclusion_tag` and other templatetag decorators should return the function of the same types.
e.g. using typevars

## System information

- OS: ArchLinux
- `python` version: 3.8.6

[2020-10-11 06:06] AndreyMZ commented on #330
Closed as django-stubs 1.6.0 has been released.

[2020-10-11 06:06] #330 closed, assigned to nobody

[2020-10-11 09:11] sobolevn commented on #482
@radowit do you want to work on this?

[2020-10-11 09:13] sobolevn commented on #483
Yes, PRs are welcome! 🙏

[2020-10-12 01:00] oladhari opened #486 "No compatibility with the new version of mypy"
# Bug report

## What's wrong

After updating mypy to the newest version I got this Error message:
[code]

## How is that should be

could you please update django-stubs so it can be compatible with the new version of mypy, thank you

## System information

- OS: ubuntu 20.04
- `python` version: 3.8
- `django` version: 3.1.2
- `mypy` version: 0.790
- `django-stubs` version: 1.6.0

[2020-10-12 19:06] niksubramanian commented on #439
Hi there,

I was wondering if there has been any update on this issue? I understand there's no perfect solution to this, but it'd be a shame if the last features of django aren't supported because of backwards compatibility issues...

Happy to help if I can!

[2020-10-12 20:18] vgel commented on #482
I can take a shot at this!

[2020-10-12 20:24] sobolevn commented on #439
See #262

[2020-10-12 20:25] sobolevn commented on #482
@vgel awesome! Please, feel free to do so!

[2020-10-12 20:25] kszmigiel commented on #439
@niksubramanian Hello! Me and @sobolevn actually worked out a plan of making it work. We plan to divide stub files into separate repositories, as there is no simple solution to support various Django versions. It'll be done as soon as I finish my refactor, which lingers in time due to my excess of responsibilities. I'll get back to this, promise.

[2020-10-12 20:42] kszmigiel commented on #134
@nuschk @oystein-beaufort Great hacks guys! I'm no VSC user myself, but I think it would be great to have such information in our readme. Any on you is up to contribute?

[2020-10-13 05:39] nuschk commented on #134
@kszmigiel Yes, sure. But then again, isn't there an easier solution to this?

The problem seems to be that `django-stubs` is running actual code (`django.setup()`), using mypy's cwd as import root. Wouldn't it be much more straight-forward to have a setting like `django_root_directory`in which we could specify the cwd for those?

So, in context.py, instead of this:

[code]

We would have to add t

[2020-10-13 14:13] niksubramanian commented on #439
@kszmigiel awesome! Thanks so much for all the hard work you're putting in the library - it has saved us countless hours of bug hunting, so it's very much appreciated.

[2020-10-13 15:56] palfrey opened #488 "Projects with no models.py suddenly seem to have missing related fields"
# Bug report

## What's wrong

I've got a project where we've just moved over from having a models.py to splitting out all of the models and their related views, etc into feature-specific files. The project was getting 0 errors from mypy before this, but then suddenly had issues like a model using the default primary key having errors like `has no attribute "id"` and others now missing various rel

[2020-10-13 16:10] Goldziher commented on #488
thanks for reporting the issue.

Can you explain what you mean by "other issues like missing related fields"? I mean actual code / complaint would be helpful.

[2020-10-13 16:35] palfrey commented on #488
I can't provide code directly as it's a private project, but the other errors were all things like mypy complaining that class X didn't have field Y, when field Y exists because class Z has a ForeignKey referencing class X. Even when I imported class Z into the file where the error was, it didn't go away.

[2020-10-18 05:57] ghost opened #492 "the type signature of AbstractBaseUser.set_password is incorrect"
# bug report

## what's wrong

the type signature for `AbstractBaseUser.set_password` is `def set_password(self, raw_password: Optional[str]) -> None` when `raw_password` is actually a required argument (at least in django 2.2.16 and 3.0.7)

## how is that should be

raw_password should be marked as `str`

## system information

- OS: fedora 32
- `python` version: 3.8.6
- `django` version: i've ch

[2020-10-18 08:54] #492 closed, assigned to nobody

[2020-10-19 10:04] giladsheffer opened #495 "django.contrib.auth.login should accept Optional[AbstractBaseUser] as second argument"
# Bug report

## What's wrong

Django project's `login` function handles None as second argument- https://github.com/django/django/blob/master/django/contrib/auth/__init__.py#L87

However, the stubs only accept `AbstractBaseUser`

## How is that should be

https://github.com/typeddjango/django-stubs/blob/8729a74f8141e24ca630507e4271f984a91a53d2/django-stubs/contrib/auth/__init__.pyi#L26 Should acc

[2020-10-19 13:55] sobolevn commented on #495
PRs are welcome!

[2020-10-19 14:48] giladsheffer commented on #495
Opened one :)

[2020-10-19 15:15] #495 closed, assigned to nobody

[2020-10-21 05:02] vgel commented on #482
Unfortunately I've been really busy at work and don't think I can do this
task at the moment. I'll try to come back to it later, but in the meantime
if someone else wants to pick it up please feel free. Sorry!

On Mon, Oct 12, 2020 at 1:25 PM Nikita Sobolev <notifications@github.com>
wrote:

[2020-10-22 22:06] #224 closed, assigned to nobody

[2020-10-23 05:48] AdrienLemaire opened #500 "request.user type is not adjusted following conditions"
[code]

![](https://i.imgur.com/d1XTYAz.png)

Following the line `if user.is_anonymous: return False`, there cannot be any mistake that user is a `User` and not `Union[User, AnonymousUser]` (well actually, `user.has_perm("userprofile.view_profilepage")` should be enough to validate it).
We shouldn't get a type warning for the following `user.companies.count()` condition, since AnonymousUser can ne

[2020-10-23 08:39] sobolevn commented on #500
Hi! Thanks a lot for the bug report. I am pretty sure it was discussed already somewhere, but I cannot find where.

So, here's the deal. We are using `Literal[True]` in our anonymous user. And we are using `Literal[False]` in logger in user: https://github.com/typeddjango/django-stubs/blob/master/django-stubs/contrib/auth/base_user.pyi#L29 and https://github.com/typeddjango/django-stubs/blob/maste

[2020-10-26 14:43] coiax opened #503 "🧵 False positive for strings used in models.functions.Replace"
# Bug report

## What's wrong

The stub for `django.db.models.functions.Replace`  is too restrictive, and doesn't permit strings to be used as
an argument, while in reality and in the [Django docs](https://docs.djangoproject.com/en/3.1/ref/models/database-functions/#replace), strings are allowed.

[code]

## How is that should be

It should not cause any problems. The expression above should cause

[2020-10-27 22:02] #482 closed, assigned to nobody

[2020-10-28 12:17] MAHANTH-wq commented on #403
same issue here

[2020-10-28 15:51] sobolevn commented on #403
I would love to fix this issue, but I need a fully reproducable failure. Can someone please create a minimal repo with the failure?

[2020-10-28 20:33] bradykieffer opened #507 "Generic Type Error with ModelAdmin when running in strict mode"
# Bug report

## What's wrong

I might be crazy here, but when I subclass from `admin.ModelAdmin` and run mypy with `--strict` enabled I get an error, `error: Missing type parameters for generic type "ModelAdmin"`.  It's completely non-obvious to me how to exactly resolve this. The following code will fail on my machine:

[code]

This code:

[code]

Generates a type error: `TypeError: 'MediaDefini

[2020-10-28 21:21] sobolevn commented on #507
We have to patch Django from time to time to fix this 🙂

[2020-10-29 13:42] bradykieffer commented on #507
@sobolevn just so I understand, you mean submit a patch to django directly for this? Presumably having these classes inherit from `Generic` at some point right?

[2020-10-29 14:47] Niedzwiedzw commented on #417
I'm getting that error when trying to run mypy in my project...

[2020-10-29 14:48] sobolevn commented on #507
Nope, we submit patches to https://github.com/django/django

Example: https://github.com/django/django/commit/578c03b276e435bcd3ce9eb17b81e85135c2d3f3

[2020-10-29 21:36] bradykieffer commented on #507
Oh awesome, thanks so much. I'll see if I can get a patch in 😄

[2020-10-30 14:40] antonagestam opened #511 "Proposal: Allow narrowing ORM fields"
I am currently working on implementing [phantom types for Python](https://github.com/antonagestam/phantom-types), which, when implemented throughout an application, would allow statically proving that a value saved on model is validated.

To be able to use this with django-stubs there would need to be some way of narrowing the types that ORM fields hold.

One example would be a field for country c

[2020-10-30 15:38] sobolevn commented on #511
Hi, @antonagestam!

You can use this notation:

[code]

Will it work for you?

The problem is that you currently can specify wrong generic params:

[code]

[2020-10-30 21:10] amikrop opened #512 "user.is_staff complex type"
Hello, as I am not sure if this is an issue related to django-stubs, or djangorestframework-stubs, or just my code, I am posting here as well. I created this issue https://github.com/typeddjango/djangorestframework-stubs/issues/109
Seems `user.is_staff` does not agree with the `bool` return type annotation I gave to my method. Is this an issue for fixing in django-stubs or djangorestframework-stub

[2020-10-30 21:12] sobolevn commented on #512
Can you please post what `reveal_type(user)` and `reveal_type(user.is_stuff)` produces?

[2020-10-30 21:29] amikrop commented on #512
user: Revealed type is 'Union[django.contrib.auth.models.User, django.contrib.auth.models.AnonymousUser]'
user.is_staff: Revealed type is 'Union[django.db.models.fields.BooleanField[Union[builtins.bool, django.db.models.expressions.Combinable], builtins.bool], builtins.bool]'

[2020-10-31 00:07] antonagestam commented on #511
@sobolevn Cool, I did not know about that! I think I'm running into a variance issue though.

I setup a minimal Django project to test with, and testing with this definition just to have less moving parts to think about (also tested with `NewType` with same results):

[code]

I get:

[code]

If I change the definitions of `_ST` and `_GT` that `Field` is generic with regards to, to be contravariant

[2020-10-31 03:27] ghost opened #514 "LoginView has a typing issue"
# bug report

## what's wrong

django's LoginView (django.contrib.auth.views.LoginView) violates the Liskov substitution principle. we see [here](https://github.com/django/django/blob/4f61810751751b8c5070ce038ea57e949650e9e3/django/contrib/auth/views.py#L90) that the view's `form_valid` method calls `form.get_user()`, meaning that `form` must be of type `AuthenticationForm`. however, `FormMixin` d

[2020-10-31 03:50] ghost commented on #514
additional info:

a work-around is to override form_valid as follows:

[code]

which is fine for my current use-case, but doesn't work if someone needs to *completely* override the method

i think that if this isn't possible to fix in django-stubs, there should be something in the documentation mentioning that workaround

[2020-10-31 08:09] sobolevn commented on #514
Yes, I have seen this myself 😞

PRs are welcome!

[2020-10-31 08:18] ghost commented on #514
i honestly have no idea how to even fix this, i don't think it's possible to do it on django-stubs' end. only thing i can think of would be to make an `AuthenticationFormMixin` that's just a copy of `FormMixin` except it takes an `AuthenticationForm` instead of a `BaseForm`.

maybe make `FormMixin` generic for the form class?

[2020-10-31 08:27] sobolevn commented on #514
As a wild idea, we can try to make `FormView` generic on a form type 😆
But, I am not sure it will work.

[2020-10-31 08:34] ghost commented on #514
since `form_valid` is defined in `FormMixin`, we'd have to make the entire subclass stack generic. here's what i came up with, mypy playground says it typechecks:

[code]

[2020-10-31 08:40] ghost commented on #514
whoops i got my class hierarchy wrong. i think it should still work though

[2020-10-31 09:08] ghost commented on #514
looks good, running tests one last time but i don't think there'll be any issues. i'll send the pr as soon as it finishes!

[2020-10-31 18:53] #514 closed, assigned to nobody

[2020-11-02 11:44] revmischa opened #518 "No module named 'mypy_django_plugin'"
# Bug report

## What's wrong

I can `runserver` without any problems. I just can't run `mypy`.

[code]

[code]

## System information

- OS:
- `python` version: 3.9
- `django` version: 3.1.1
- `mypy` version: 0.790
- `django-stubs` version: 1.7.0

[2020-11-02 12:06] sobolevn commented on #518
Do you have `django-stubs` installed? Can you run `python -c 'from mypy_django_plugin import main'`?

[2020-11-02 12:10] revmischa commented on #518
I do, running that command does not raise any import error

[2020-11-02 12:10] revmischa commented on #518
No error running `python -m mypy_django_plugin.main` either

[2020-11-02 12:48] sobolevn commented on #518
Are `mypy` and `django-stubs` in the same `venv`?

[2020-11-02 13:06] revmischa commented on #518
Yep. Using poetry.

[2020-11-02 13:18] sobolevn commented on #518
Then, I would love to see a sample reproduction repo.
Because, it works for me and the CI says it is working.

So, no ideas how to reproduce and fix it 😞

[2020-11-02 14:25] MarcinWieczorek commented on #503
It was introduced in fa718b8e55e4ac74b309b0068eeced6f89f48728. I don't know what a `Combinable` is, could you confirm that this is indeed a good type but it's too broad? Should it just be an union with str?

[2020-11-02 14:38] sobolevn commented on #503
PRs are welcome!

[2020-11-02 14:38] Eboreg opened #519 "InlineModelAdmin: Wrong type for formset?"
# Bug report

## What's wrong

My code:

[code]

On this, mypy reports error: `Incompatible types in assignment (expression has type "Type[StudentInlineFormSet]", base class "InlineModelAdmin" defined the type as "BaseFormSet")  [assignment]`. And yes, in the stub file `options.pyi` is says `formset: BaseFormSet = ...`. But in the actual `InlineModelAdmin`, `formset` is defined as `BaseInlineFormS

[2020-11-02 17:15] sobolevn commented on #519
PRs are welcome!

[2020-11-02 19:04] ghost commented on #518
does anything change if you explicitly specify the mypy config with `mypy --config-file mypy.ini`?

[2020-11-03 10:59] revmischa commented on #518
Turned out my pre-commit action was missing the deps

[2020-11-03 10:59] #518 closed, assigned to nobody

[2020-11-06 02:37] Eboreg commented on #519
@sobolevn I'm not very used to contributing to other people's projects, but OK: https://github.com/typeddjango/django-stubs/pull/521

[2020-11-06 08:04] #519 closed, assigned to nobody

[2020-11-06 21:14] jrheard commented on #507
Thanks for creating this ticket and for your work on https://code.djangoproject.com/ticket/32156 , @bradykieffer !

It looks like the Django devs decided not to accept your proposed patch; that's a bummer, but I see where they're coming from. @sobolevn , what do you think should be done next?

Is reverting https://github.com/typeddjango/django-stubs/pull/504 on the table, or is a better option ava

[2020-11-06 21:36] sobolevn commented on #507
Well, I agree with Carlton here. Because, it's a really bad idea to ask Django's devs to add `__class__getitem__` here and there.
We should not be really dependent on them here. Because of the slow release cycle, long term support, etc.

I think we should go with monkeypatching stuff on our own end. For example, we can add

[code]

in `manage.py` and do our dirty job.

This way we would hide all t

[2020-11-06 21:36] bradykieffer commented on #507
@jrheard thanks for the update - it's been a hectic week on my end so I haven't been able to update this. I'm in the same boat as you where we're grappling with how to address this, it would be **really** nice if django stubs were compatible with supported Django versions for us as well. The approaches that I can see being immediately available are:

1. Revert #504 so that stubs work with supporte

[2020-11-07 08:00] zume2020 commented on #403
I had the same problem, fixed it just by ```manage.py migrate <app_name>```

with this model :
[code]
I was getting  **ValueError: Related model 'api.user' cannot be resolved**

[2020-11-07 19:05] ghost commented on #403
@zume2020 are you able to upload a full repo with that issue? i also can't reproduce this at all

[2020-11-07 21:44] ghost commented on #507
oh jeez, i didn't even think about the fact that making ModelAdmin generic would actually fail to run. i hate that there's no clean answer here, but i think monkeypatching is absolutely the way to go

[2020-11-08 07:27] DedMaxTech commented on #403
same issue

[2020-11-08 09:40] ghost commented on #512
could always just use `bool(user.is_active)`. calling `user.clean_fields()` will ensure the instance has a bool there

[2020-11-08 10:52] amikrop commented on #512
Yep, I was hoping to solve it without adding more visual clutter to the code.

[2020-11-08 10:54] ghost commented on #403
@MaxGyverTech would you be willing to upload a failing repo so we can look at it?

[2020-11-10 22:56] #419 closed, assigned to nobody

[2020-11-11 07:04] #507 closed, assigned to nobody

[2020-11-11 07:30] ghost commented on #507
hey @bradykieffer the fix for this just got merged. we ended up going with a sub-project as part of the main repo. you'll have to install it in addition to django stubs with `pip install 'git+https://github.com/typeddjango/django-stubs.git#egg=django_stubs_ext&subdirectory=django_stubs_ext'`

then somewhere in your top-level urlconf add the following:

[code]

[2020-11-13 22:33] ghost opened #528 "[request] push a release of django_stubs_ext to pypi"
pip can install subdirectory packages just fine, but poetry currently can't (https://github.com/python-poetry/poetry/pull/1822); that means poetry users are absolutely unable to use django-stubs at all right now, since django-stubs relies on django_stubs_ext which is completely uninstallable

for now, i've split it out into a mirror (https://github.com/3n-k1/django-stubs-ext), but that's just a wo

[2020-11-14 08:08] sobolevn commented on #528
Thanks for the report! Will do today 👍

[2020-11-14 16:15] sobolevn opened #529 "Move to github actions"
Currently we use Travis as our CI service.
But, Travis is shutting down its open-source program, so we will face some limitations soon.

Let's move to Github Actions!

[2020-11-14 17:03] #529 closed, assigned to nobody

[2020-11-14 17:37] ghost commented on #528
awesome, thanks!

[2020-11-14 18:30] sobolevn commented on #528
Done! https://pypi.org/project/django-stubs-ext/0.1.0/

[2020-11-14 18:30] #528 closed, assigned to nobody

[2020-11-14 19:53] ghost commented on #528
fantastic, thank you!

[2020-11-14 20:08] sobolevn commented on #528
Please, report back if something is wrong!

Btw, you might be interested in this task to contribute: https://github.com/wemake-services/wemake-django-template/issues/1375 ⭐

[2020-11-14 23:28] ghost commented on #528
getting poetry to use it over the one that was installed from my mirror was a bit of a hassle, but i ended up just re-creating the virtualenv and it installs and runs fine. there's some weirdness with where to add the monkeypatch calls, and i ended up having to write a mypy plugin for flycheck in emacs, but other than that it's good. when i get all the kinks worked out on my end, i'll send a pr wi

[2020-11-16 16:21] lysnikolaou commented on #428
Hey everyone and thanks for the awesome work! :rocket:

FWIW we're also facing this problem and we'd like to see it fixed. After an initial investigation, there's also a dependency on `django.contrib.auth` with the imports [here](https://github.com/typeddjango/django-stubs/blob/16326e999c6cc1b2bda1155c36b57c729eef5b05/mypy_django_plugin/transformers/request.py#L16). If these could be made optional

[2020-11-18 11:43] felixmeziere commented on #299
Have the same problem too ! :/

Monkey patch works for me, make sure to import ModelState from migrations. You can put this for example in your settings.py.

[code]

[2020-11-23 12:11] lysnikolaou opened #534 "Mypy crashes when django.contrib.[auth,contenttypes] is not installed"
Hello everyone and thanks for the awesome work you've been doing. :rocket:

First of all, I also posted on #428, but my comment there might have been lost in the noise, so I thought I'd open a new, more complete bug report. I hope that's okay with you!

## What's wrong

We have a somewhat irregular Django project, where we don't use either `django.contrib.auth` or `django.contrib.contenttypes`. Fo

[2020-11-23 13:52] sobolevn commented on #534
@lysnikolaou thanks a lot! This patch seems like a good start! Please, open a new PR and let's discuss it from there.

[2020-11-23 16:25] lysnikolaou commented on #534
Thanks for the quick response, @sobolevn! Opened #535 to address this.

[2020-11-24 11:38] #428 closed, assigned to kszmigiel

[2020-11-24 11:38] #534 closed, assigned to nobody

[2020-12-09 12:35] kalekseev commented on #492
Actually the signature were correct, see https://docs.djangoproject.com/en/3.1/ref/contrib/auth/#django.contrib.auth.models.User.set_password you can pass None as password to make it unusable. @sobolevn please revert.

[2020-12-09 17:27] ghost commented on #492
@kalekseev thanks for correcting this, sorry i missed it!

[2020-12-11 10:12] WisdomPill opened #539 "Async test related classes are missing [Django 3.1.x]"
# Bug report

From django 3.1.x async tests are available but are missing in django-stubs so IDEs complain

## What's wrong

All the async test related classes are missing, for example `async_client_class` in `django.test.testcase.SimpleTestCase`,
`AsyncClient` in `django.test.client` and so on.

## How is that should be

Support for async tests should be added

[2020-12-11 10:16] zkne commented on #471
Hey all, is there any update for this issue?
I'm having the same problem.

[2020-12-12 16:30] MarcinWieczorek commented on #512
I've read your comments and referred issues/PRs and I'm still not sure what is the solution other than wrapping it in `bool()`. I think that assuming bool should be totally okay, but I don't understand how it works in django/drf in general. I can use a model's let's say `FloatField` as a `float`. Here it breaks because of the union, and this (failing) testcase shows it.

[code]
Output:
[code]

[2020-12-13 10:14] sobolevn commented on #512
@MarcinWieczorek can you please test other fields of `AnonymousUser`? Are they revealed correctly?

[2020-12-13 10:22] MarcinWieczorek commented on #512
Yes, but what would be a fix? Maybe defining an user class inheriting both `User` and `AnonymousUser` and typing their common fields to bool? That would add clutter and probably break existing types.

[2020-12-13 10:24] sobolevn commented on #512
If other fields of `AnonymousUser` are revealed incorrectly, then the fix would be to change the type-inference logic for it.

[2020-12-13 13:21] #337 closed, assigned to nobody

[2020-12-13 16:03] MarcinWieczorek commented on #512
It seems that only is_authenticated is working correctly.

[code]

[code]

[2020-12-13 17:57] sobolevn commented on #512
@MarcinWieczorek and I know why this happens 🙂

Because, `AnonymousUser` is not a `models.Model` subclass: https://github.com/django/django/blob/5fcfe5361e5b8c9738b1ee4c1e9a6f293a7dda40/django/contrib/auth/models.py#L400

However, this should be a special case I think.

Here's when we work with it in our plugin: https://github.com/typeddjango/django-stubs/blob/d9c851abcedf6a2a434da9a9dbda7aa536edc

[2020-12-13 22:56] ghost commented on #512
i'll look into this in the next few hours, see what i can do

[2020-12-13 23:12] sobolevn commented on #512
@void-witch thanks a lot!

offtop: oh, you've changed your profile pic and username! It took me sometime 🙂

[2020-12-13 23:13] ghost commented on #512
@sobolevn oh yes! apologies, i didn't mean to switch them both so quickly, forgot that would be disorienting haha

[2020-12-15 15:49] jsatt opened #540 "Missing stub for classproperty"
# Missing Stub

The classproperty decorator was made public in Django 3.1 (django.utils.functional), but the stub for this decorator in missing.

## System information

- OS:
- `python` version: 3.8
- `django` version: 3.1
- `mypy` version: 0.770
- `django-stubs` version: 1.7.0

[2020-12-16 14:36] ghost commented on #512
i dug through a lot of the plugin code and got really lost. it would help if i had an easy way to debug the plugin to find where the issue is, but that line you linked isn't even being run by any of the minimal examples i try, and digging through the callstack is painful

[2020-12-16 16:43] sobolevn commented on #512
Have you seen `mypy --pbd`? https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-pdb

[2020-12-16 17:12] ghost commented on #512
i have, it doesn't drop into a pdb shell. i've added breakpoints all over the `set_auth_user_model_as_type_for_request_user` function, no dice (maybe the `partial` is doing something that breaks pdb?). `find`+`grep` says it's only called here:

https://github.com/typeddjango/django-stubs/blob/d9c851abcedf6a2a434da9a9dbda7aa536edce52/mypy_django_plugin/main.py#L274

and setting breakpoints after th

[2020-12-16 18:28] ghost commented on #512
aha, i got it working. the following example no longer fails on `is_staff`, but on `is_active`

[code]

is this fix something we want to apply to *all* BooleanFields on a class inheriting from AbstractUser, or should this be conservative and only apply to these two attributes?

[2020-12-16 18:30] MarcinWieczorek commented on #512
I think those 3 that failed in my test

[2020-12-16 19:37] ghost commented on #512
i've run into a weird off-by-one-character issue in a pre-existing test, asking the mypy gitter about it now, but it should be done soon. in the meantime, if anyone knows whats the difference between `builtins.bool` and `builtins.bool*` in the output of `reveal_type` is, please let me know

[2020-12-16 19:49] MarcinWieczorek commented on #512
I don't understand it fully but here's something that might help
https://stackoverflow.com/questions/50498575/what-does-the-asterisk-in-the-output-of-reveal-type-mean

[2020-12-16 19:51] ghost commented on #512
ah thank you, i wasn't finding anything helpful from google
pr should be ready within the next hour!

[2020-12-16 19:57] sobolevn commented on #512
Btw, I would love to accept PRs with `--ignore-inffered-char` into `pytest-mypy-plugins`

This drives me mad sometimes! Example: https://github.com/dry-python/returns/commit/ca5b8f613fc255b2b6cae05354a5bd048ad73fec

[2020-12-16 20:28] #512 closed, assigned to nobody

[2020-12-17 15:47] markedwards opened #544 "TypeError: object is not subscriptable, with django_stubs_ext"
# Bug report

I'm attempting to implement django_stubs_ext, but I still get a `TypeError` when adding a type parameter to a class that ought to be supported.

## What's wrong

I have installed django_stubs_ext, and added `django_stubs_ext.monkeypatch()` to manage.py, asgi.py, and wsgi.py.  However, I still get `TypeError: ... object is not subscriptable` when trying to add type parameters.

Exampl

[2020-12-17 16:46] sobolevn commented on #544
Try this approach: https://github.com/wemake-services/wemake-django-template/blob/master/%7B%7Bcookiecutter.project_name%7D%7D/server/settings/__init__.py#L19

Basically, use `django_stubs_ext.monkeypatch()` in your settings.

[2020-12-18 09:51] markedwards commented on #544
Yes, that works.  Does this eliminate the need to put the `monkeypatch()` call in manage.py, asgi.py, and wsgi.py?

[2020-12-18 13:46] sobolevn commented on #544
Yes! 👍

Thanks for the report. Do you wish to contribute to the docs?

[2020-12-18 15:19] markedwards commented on #544
Yep, I will make a PR.  Thanks for the help!

[2020-12-18 15:43] markedwards opened #545 "Custom field typing"
# Bug report

I'm trying to implement generic typing on custom fields, and I'm not having much luck.  Any idea if there is a way to make this work?

## What's wrong
Note: The following examples require hacking `django_stubs_ext.patch._need_generic` to include `django.db.models.Field`, which is something I'll raise separately.

I'm able to specify static typing for a custom field, but I'm not able

[2020-12-18 15:52] markedwards opened #546 "Field missing from django_stubs_ext.patch._need_generic"
# Bug report

A custom `Field` subclass does not type-check properly, even when using django_stubs_ext.

## What's wrong

The `Field` class is not included in `django_stubs_ext.patch._need_generic`.

## How is that should be

If the `Field` class were included in `django_stubs_ext.patch._need_generic`, the following would type check properly instead of causing a crash:
[code]

## System informatio

[2020-12-19 08:50] #544 closed, assigned to nobody

[2020-12-22 07:09] #546 closed, assigned to nobody

[2020-12-26 20:18] sephii opened #550 "Cannot mix URL patterns and included urlconfs"
# Bug report

## What's wrong

I cannot find a way to get the typing in `urls.py` right. It seems that a `path` that points to a view returns a `URLPattern` but a `path` that points to an included urlconf returns a `URLResolver`. So mixing both in a single list results in a `List[object]`, for which mypy complains if you try to concatenate it with another list of url patterns.

For example the fol

[2020-12-27 08:50] sobolevn commented on #550
Yes, this is probably because `List` is invariant.

PR with a fix is welcome!

[2021-01-01 21:45] davidhalter opened #551 "Consider changing _BaseQuerySet to QuerySet"
# Bug report

## What's wrong

A Jedi user realized that some things about Django stubs did not add up: https://github.com/davidhalter/jedi/issues/1667.

I realized that the reason for this is that `_BaseQuerySet` does not exist in Django's code base. This is probably a "hack" to work with proper types so that mypy can deal with Django's dynamic nature.

However this leads to frameworks like Jedi

[2021-01-02 09:56] sobolevn commented on #551
This is a big one. Thanks a lot, @davidhalter, for reporting it!

[2021-01-06 16:54] coiax opened #552 "False positive type failure in PasswordResetForm"
# Bug report

## What's wrong

False positive type failure in PasswordResetForm:

[code]

## How is that should be

No error should be thrown in mypy, as the code as written works fine.

## System information

- OS: Ubuntu 20.04
- `python` version: 3.8.5
- `django` version: 3.0.11
- `mypy` version: 0.782
- `django-stubs` version: 1.6.0

[2021-01-06 19:47] sobolevn commented on #552
@coiax PR with the fix is welcome 👍

[2021-01-08 19:03] rvinzent opened #553 "BaseDatabaseWrapper.SchemaEditorClass has incorrect type"
# Bug report

## What's wrong

`django.db.backends.base.BaseDatabaseWrapper` has incorrectly defined `SchemaEditorClass` property.

This error is raised when overriding the class
[code]

## How is that should be

The type should be `Optional[Type[BaseDatabaseSchemaEditor]]` because the property is a class, not an instance of `BaseDatabaseSchemaEditor`.

## System information

- OS: MacOS
- `python

[2021-01-08 19:13] rvinzent opened #554 "`table_sql` method missing from `BaseDatabaseSchemaEditor`"
# Bug report

## What's wrong

Overriding a `DatabaseSchemaEditor` and calling `super().table_sql(...)` gives the following error

[code]

## How is that should be

`table_sql` is a method of `BaseDatabaseSchemaEditor` defined [here](https://github.com/django/django/blob/102d92fc09849e1a9004dd3f9a14a0ea9ca392cd/django/db/backends/base/schema.py#L148)

The annotation should be
[code]

## System inf

[2021-01-11 08:07] egregors opened #555 "django-stubs package is reason for "Unresolved tag" errors in PyCharm"
# Bug report

## What's wrong

Looks like presence `django-stubs` package breaks PyCharm tag resolving mechanism for Django templates.
![2021-01-11_10-58-29](https://user-images.githubusercontent.com/2153895/104157318-a5b4f880-5436-11eb-957a-eafaebec6d40.png)

Literally, all Django template tags (built-in or custom) become unresolved and the only way to fix it – remove `django-stubs` package .

Th

[2021-01-11 09:40] haplo commented on #439
I experienced this bug when upgrading a project from Django 2.2 to Django 3.1 and I want to share my feelings and feedback.

I don't want to sound harsh but this makes me regret adding django-stubs and mypy to the project I'm working on, I wouldn't have done it if I had known about this beforehand. It's a project with several other programmers, with varying degrees of experience with Python, Djang

[2021-01-11 13:53] sobolevn commented on #555
@egregors Hi! Thanks for letting us know about the problem. Sadly, I don't know what should we fix to solve this issue.

I am not a PyCharm user, so I cannot tell if it is the same for me.

[2021-01-18 12:16] egregors commented on #507
Hi, @sobolevn! I just got an issue with `django_stubs_ext.monkeypatch()`. I believe it probably could be a bug. Please, check this out: https://github.com/typeddjango/django-stubs/issues/557

[2021-01-19 06:37] egregors opened #557 "django_stubs_ext.monkeypatch() does not work properly"
# Bug report

## What's wrong

I have  `django_stubs` and `django_stubs_ext` installed.
I have called `monkeypatch()` in the base Django settings file.
But still, got `mypy` errors for an absolutely generic Django Admin code:

**admin.py**
[code]

**mypy errors**
[code]

## How is that should be

According to this issue (https://github.com/typeddjango/django-stubs/issues/507), calling `monkeypatch

[2021-01-19 07:44] sobolevn commented on #557
Try `class ContentAdmin(admin.ModelAdmin[Content]):`, this error `error: Missing type parameters for generic type "ModelAdmin"` will go away.

[2021-01-19 09:23] egregors commented on #557
Thanks a lot! 🔥 🔥 🔥  It solved `Missing type parameters for generic type "ModelAdmin"` issue.

Does it exist any known way to resolve `has no attribute "short_description"`, ` has no attribute "admin_order_field"` errors?

Looks like this workaround is the only way: https://github.com/python/mypy/issues/2087#issuecomment-462726600

[2021-01-19 09:47] sobolevn commented on #557
I use `# type: ignore` as my go-to workaround. Because that's the easiest way.

I would love to get more typing support here, because sometimes I make typos like `sohrt_description` and it just silently ignores it.

I am going to close this ticket. Feel free to reopen it or open new ones! 👍

[2021-01-19 09:47] #557 closed, assigned to nobody

[2021-01-19 23:40] mkurnikov commented on #540
Fixed in https://github.com/typeddjango/django-stubs/commit/11c3f8cd11a33a4e16ab207bb835285de5d7ed29

[2021-01-19 23:40] #540 closed, assigned to nobody

[2021-01-20 20:11] #483 closed, assigned to nobody

[2021-01-21 05:11] skrat commented on #133
This may sound convoluted by I'm running into this issue in Emacs / flycheck / python-mypy checker. I just hope there's an emacs user somewhere near this issue. I did edit `.env` and I believe my conf. is all right, at least per the docs. Following makes me believe that everything is running in the right virtual env.

[code]

mypy.ini

[code]

.env

[code]

[2021-01-28 13:16] MicicFilip commented on #471
After upgrading mypy to `0.800` this issue was resolved for me.

[2021-02-03 03:14] charettes commented on #344
@eyqs I was curious to learn if you made any progress towards identifying the cause of the issue or working around it. We've just hit it as well and getting rid of all of our usages of `NamedTuple` didn't seem to help unfortunately.

[2021-02-03 15:52] Uninen opened #561 "Request user is typed wrongly (AbstractBaseUser vs myapp.User)"
# Bug report

## What's wrong

Not sure if this an actual bug or a configuration issue but I have a Django view function with following code:

[code]

MyPy reports request user as `Union[AbstractBaseUser, AnonymousUser]` instead of `Union[User, AnonymousUser]` that it actually is. I learned that I can work around this by casting ( `user = cast(User, request.user`) ) but that's obviously not optima

[2021-02-03 22:32] PyB1l commented on #133
@skrat I am trying to resolve the same issue as well with (doom) emacs and flycheck - mypy. I think it's a path related issue as flycheck seems to run mypy from different dir and cannot setup django. I am trying to resolve it with dir-locals.el file but still no luck

[2021-02-05 12:59] jpetuchovas opened #562 "Module has no attribute errors"
# Bug report

## What's wrong

In a Django app, I have a directory `models` that have various Python modules used to define Django models and an `__init__.py` file:

[code]

The `__init__.py` file imports Django models from other files in the `models` directory:

[code]

To import the `User` model in this case, the following import is then used:

[code]

However, after installing `django-stubs`, I

[2021-02-05 16:33] sobolevn commented on #562
Can you please attach a reproduction repo / file?

[2021-02-07 11:43] ChasNelson1990 opened #563 ""headers" missing from http.HttpResponseBase stub?"
# Bug report

## What's wrong

https://github.com/typeddjango/django-stubs/blob/8f9e77ce39cb581ca220fb6f91197885e462a7c4/django-stubs/http/response.pyi#L21 defines the types for the http.HttpResponseBase class; however, it seems to be missing the 'headers' parameters, as defined in: https://github.com/django/django/blob/50a5f8840fa564dcefdb1fa5c58f06fcd472ee70/django/http/response.py#L99

This is

[2021-02-08 11:29] micheller commented on #550
I used this snippet, to bypass the problem:
[code]

[2021-02-08 12:21] sobolevn commented on #563
@ChasNelson1990 PRs are welcome! 👍

[2021-02-08 15:46] ChasNelson1990 commented on #563
Hope that's okay @sobolevn

[2021-02-09 10:36] sondrelg opened #565 "Mypy v0.8 support"
Hi,

I tried looking through recent issues and PRs but was unable to find anything related to this:

Are there any near term plans to release a new `django-stubs` version with support for Mypy v0.800?

I'm sure the latest `django-stubs` release already works fairly well with this, but we use [Poetry](https://python-poetry.org/) for dependency management, and the Poetry resolver does not let you ha

[2021-02-09 19:07] #563 closed, assigned to nobody

[2021-02-11 15:39] jpetuchovas commented on #562
Sorry for taking a while to respond. I tried to reproduce the problem on a fresh Django project and couldn’t. Unfortunately, the repository in which the problem occurs is private, so I cannot share it.

If you have any ideas about how to debug the problem more easily or if there are some configuration options I might be overlooking, I would appreciate the help.

[2021-02-11 15:51] sobolevn commented on #562
Not really 😞

Let's put it this way: I am going to close this issue for now, feel free to reopen it if you face it again 👍

[2021-02-11 15:51] #562 closed, assigned to nobody

[2021-02-15 09:46] danthedeckie opened #567 "db.models.fields.files.FileField __init__ args incorrect order"
## What's wrong

The order for args in `db.models.fields.files.FileField.__init__` is incorrect.

In Django it is:
[code]
see ( https://github.com/django/django/blob/3fa1ed53be370f4b1a94d78b56ff30d23b131623/django/db/models/fields/files.py#L227 )

but currently in django-stubs we have:

[code]
( see https://github.com/typeddjango/django-stubs/blob/993dd816a4ddf0048f69c9a114de6183d23ffd31/django-st

[2021-02-15 10:38] #567 closed, assigned to nobody

[2021-02-17 20:22] supadrupa commented on #561
https://github.com/typeddjango/django-stubs#how-can-i-create-a-httprequest-thats-guaranteed-to-have-an-authenticated-user

[2021-02-17 22:17] syastrov commented on #551
QuerySet at one point actually had 2 type parameters (I implemented it in https://github.com/typeddjango/django-stubs/pull/33/files#diff-389fe7d7dcfb77ddaac87c1f3bdc196f3ef0ca33b8047c6638a15f3a3db21b56R53).

I believe it was removed due to concerns that the extra type parameter would scare users (e.g. it would be revealed in error messages), and it is not commonly used.

As you pointed out, you'd

[2021-02-18 00:39] syastrov commented on #551
By the way, `ValuesQuerySet` is also not a valid Django class. At least it was, but was removed in Django 1.9 apparently (https://github.com/django/django/blob/a948d9df394aafded78d72b1daa785a0abfeab48/docs/releases/1.9.txt#L1069)

See also: https://github.com/typeddjango/django-stubs/issues/144

[2021-02-18 12:32] Uninen commented on #561
Thanks, I missed that 👍

I still think there's a bug -- or at least a documentation issue -- in the resolving of the user type which should be `AUTH_USER_MODEL` according to the docs. In my case the `AUTH_USER_MODEL = "dolores.User"` but the resolved type is `Union[AbstractBaseUser, AnonymousUser]`.

Still, there is a workaround so closing this for now.

[2021-02-18 12:32] #561 closed, assigned to nobody

[2021-02-19 21:58] davidhalter commented on #551
I think if you want to make helpers for users you should probably do something like this:

[code]

not 100% sure that works in Python. In Rust I would write this:

[code]

Or you could maybe also handle this case with a mypy plugin (not sure that's possible though). However I think the way it's currently typed is just wrong and incomplete. I would prefer the solution I just proposed, but I also un

[2021-02-23 20:41] eabruzzese commented on #565
@sondrelg I'm using Poetry for dependency management as well, and don't have any issues using the latest `mypy` (0.812) with the latest `django-stubs` (1.7.0).

Here's a snippet of my `pyproject.toml`:

[code]

And output from mypy working as expected:

[code]

One thing I noticed from your pasted output: `depends on both mypy (^0.8.000) ...` -- are you specifying `^0.8`? Perhaps it would work if

[2021-02-23 22:46] sondrelg commented on #565
That is very possible! I'll check and report back tomorrow morning; thanks!

[2021-02-24 09:08] sondrelg commented on #565
I re-ran the update today and it works.. without changing anything 🤨  Looking at the error I posted, I agree I must have put in the `mypy` versions wrong initially.

In past Sondre's defence, the mypy versioning is very confusing when 99% of packages are using semver  😅

Thank you @eabruzzese! 👏

[2021-02-24 09:08] #565 closed, assigned to nobody

[2021-03-05 16:52] leamingrad commented on #511
@antonagestam I've been trying to get to the bottom of some similar issues and I don't think that `_ST` and `_GT` should both be contravariant. I think that `_GT` should be covariant instead. This would mean that in practice the `Field` type is type invariant, but you should still be able to get some better typing when getting and setting field values.

Say we have a phantom `NegativeInteger` type

[2021-03-05 18:16] sobolevn commented on #511
@leamingrad this looks like a valid proposal! Do you have the time / will to submit an experiment PR?

[2021-03-06 11:21] antonagestam commented on #511
@leamingrad Ah, I didn't realize they should be reversed to each other. Very nicely explained! 👍

(Sorry for off topic): Feel free to jump in on [phantom-types/discussions](https://github.com/antonagestam/phantom-types/discussions) if you'd feel like sharing how you use phantom types! We've slowly started to use them in a production project at work now, would be nice with feedback from other users

[2021-03-06 12:58] GergelyKalmar opened #572 "Unclosed file error"
# Bug report

## What's wrong
Running the latest version of django-stubs (1.7.0) in pytest filterwarnings error mode fails with a resource warning exception:

[code]

## How is that should be

There should be no warning raised.

Note that it seems that this issue has been resolved in https://github.com/typeddjango/django-stubs/commit/e837dac26a2ebf974f380df667f155d9b066fe90 but this fix has not be

[2021-03-06 21:21] antonagestam commented on #511
I created a new PR: https://github.com/typeddjango/django-stubs/pull/573

It does make it possible to narrow a field's type, but I found no other way to do that than to use `cast()`. I think that's related to the plugin's method of picking it up from `_pyi_private_{set,get}_type`. It should probably only do that if the arguments aren't explicitly overridden?

[2021-03-06 22:43] sobolevn commented on #511
@antonagestam I guess so, but it should still check that types are defined corretly. Maybe we can incorporate this change into your PR as well?

[2021-03-06 22:56] antonagestam commented on #511
@sobolevn Yes, fixing that would be awesome. I started looking into it a bit but I somehow always find it extremely hard to understand what's going on in mypy plugins. I assume changes have to be made in https://github.com/typeddjango/django-stubs/blob/master/mypy_django_plugin/transformers/fields.py, but I would need some help to figure out how get types from explicit arguments when provided.

[2021-03-06 23:13] antonagestam commented on #511
These are the results I get when not using `cast()`:

Both these give the error below, the first one probably makes sense, but the second one is because the explicit arguments aren't picked up.

[code]

[code]

Also tried these:

[code]

[code]

This doesn't give an error at assignment, but `reveal_type()` doesn't give `[Year, Year]`:

[code]

[code]

[2021-03-07 07:04] sobolevn commented on #511
Yes, looks like we need to fix this in our plugin.

Yes, I would start from here: https://github.com/typeddjango/django-stubs/blob/caaa23ab8fd4bd978fd0bf6821b1c7db45861c1c/mypy_django_plugin/main.py#L208-L210

Sure, please feel free to ask!

[2021-03-07 10:33] sobolevn commented on #511
I am going to leave this open, since we can also change how our plugin works.

[2021-03-09 12:25] leamingrad commented on #511
@antonagestam Thanks for getting a PR merged so quickly! To be honest, I don't actually use phantom types, but it seemed like a clearer way to give examples (most of the issues I have been working with are to do with relations between abstract models which this is a precursor of). That said, it seems like an interesting idea so I will definitely check it out.

[2021-03-09 22:40] gustavoaca1997 opened #574 ""_meta" field missing in ModelBase"
# Bug report

## What's wrong
I am trying to access to the `_meta` field of a `ModelBase` object, but there is not such field in the correspondent stub file.

## How is that should be
The field `_meta` should not give a type error.

## System information

- OS: Ubuntu 18.04.5 LTS
- `python` version: 3.6
- `django` version: 2.1
- `mypy` version:
- `django-stubs` version: 1.7.0
- `pylance` version:

[2021-03-10 09:18] sobolevn commented on #574
I see that you are using `pylance`. Are you using our `mypy` plugin?

We have a test for `_meta` field: https://github.com/typeddjango/django-stubs/blob
/44151c485d167238889f2afd0b90c1b5f63200bb/tests/typecheck/models/test_meta_options.yml#L18-L22

But, the `_meta` field itself is defined on `Model`: https://github.com/typeddjango/django-stubs/blob/b71c9ad282314a7ac3fe63dcdbd3c2fefb5bac8e/django-s

[2021-03-10 09:19] sobolevn commented on #511
This is pure gold, @antonagestam I am marketing it a lot 🙂

[2021-03-11 22:47] mariyabytes commented on #555
I spent some time messing around with django-stubs files, and found out something interesting.
**Temporary fix** : If you rename the `__init__.pyi` file in the <kbd>site-packages/django-stubs</kbd> folder to `__init__.py`,  all Django template tags (built-in or custom) start working again, and it has no observable affect on the working of the django-stubs package.

Even having an empty `__init__.p

[2021-03-17 22:48] oladhari opened #575 "Docs: about compatibility with mypy version"
# Bug report

## What's wrong

the documentation is mentioning that django-stubs is compatible only with mypy version 0.790 , now we have new version 0.812 in mypy, updating versions does not show any error but wondering why readme file is not mentioning the support of higher mypy versions

## How is that should be

django-stubs | mypy version | django version | python version
-- | -- | -- | --
1.

[2021-03-18 07:33] sobolevn commented on #575
@oladhari PR is welcome! I will release a new version soon.

[2021-03-19 03:29] oladhari commented on #575
do you mean a PR to update documentation?

[2021-03-19 07:48] sobolevn commented on #575
yes 🙂

[2021-03-19 16:22] tcleonard opened #578 "Wrong type annotation for create method of a Manager"
# Bug report

## What's wrong

Queryset manager `create` method has the wrong type definition, it seems to expect a queryset type back I think.
Mypy raises an error when trying to override the original `create` method.

For example:
[code]

raises the following error:
[code]

## System information

- OS: Linux
- `python` version: 3.8
- `django` version: 3.1.7
- `mypy` version: 0.790
- `django-stub

[2021-03-19 17:54] sobolevn commented on #578
Can you please try to replace `*args, **kwargs` with the precise signature?

[2021-03-20 08:44] tcleonard commented on #578
which should be? You mean listing all model attributes?

[2021-03-20 20:36] kylebebak opened #579 "Use django-stubs with type checkers other than mypy"
Hey all,

I know the README says it doesn't make sense to use `django-stubs` without mypy, because mypy uses a plugin for cases where type hints alone don't work. Sorry if this question is a waste of time, and feel free to close this issue.

That said, this library ships with some very thorough type stubs for just about everything in Django. Is it possible to get a subset of the benefits from thes

[2021-03-20 20:46] sobolevn commented on #578
Oh, I am sorry 🙂
I have read your original post incorrectly.

Can you please try to use `class MyModelManager(models.Manager[MyModel]):` instead?

[2021-03-20 20:47] mkurnikov commented on #579
Does `pyright` support descriptors? It's what drives model field support.

[2021-03-22 03:19] kylebebak commented on #579
Hey @mkurnikov ,

`pyright` supports descriptors, and features from just about [all the other PEPs related to type annotations](https://github.com/microsoft/pyright#type-checking-features)!

[There's a fork of this library](https://github.com/sbdchd/django-types) maintained by @sbdchd, which makes some changes so the stubs work with `pyright`, and with `mypy` without the plugin. Getting the types

[2021-03-22 12:56] chocoelho commented on #133
@PyB1l wouldn't something like https://github.com/flycheck/flycheck/issues/1829 help?

[2021-03-24 19:10] tcleonard commented on #578
I still get the same error

[2021-03-24 19:49] tcleonard commented on #578
my error was not due to the return type of the create (I was changing the types of some of the arguments of the method)

[2021-03-25 08:23] tcleonard commented on #578
actually it was both...

So even simply:
[code]

still raises `Signature of "create" incompatible with supertype "_BaseQuerySet"`.

[2021-04-01 12:09] syastrov commented on #579
I don't see any reason why the `django-stubs` couldn't also use the approach by the fork.

For example, of using overloads with Literal types to handle nullable fields:
https://github.com/sbdchd/django-types/commit/64a5b3b118fe07d9b3eba16af4c18ecbd5bb8f1e#diff-876a5d116ef70c86039fbb8498623871324fa93fc1ae51c7c09ba2a0f7612e99R187

I doubt it would require a lot of changes to the plugin. I think the

[2021-04-01 14:51] sobolevn commented on #579
Yes, making `django-stubs` available for other type-checkers and minimizing plugin part is 100% a goal of this project.

[2021-04-03 08:29] #575 closed, assigned to nobody

[2021-04-04 23:13] LanDinh opened #582 "Type hints for django.urls.conf.* are incorrect"
# Bug report

## What's wrong

It all starts with the documentation of including a list of `URLPattern` into `django.urls.conf.include`, as documented in https://docs.djangoproject.com/en/3.1/topics/http/urls/#including-other-urlconfs - look at the example for `extra_patterns`.

When then looking through the Django source itself for the implementation of `django.urls.conf.include`, the code path l

[2021-04-05 00:13] sobolevn commented on #582
@LanDinh thanks a lot! Can you please send a PR with a fix?

[2021-04-05 23:42] mcranston18 opened #584 "Has version 1.8.0 been published?"
# Bug report

Hey all. I see version 1.8.0 listed in the [ReadMe](https://github.com/typeddjango/django-stubs#version-compatibility) under versions. However, I don't see it in PyPi:

[code]

## What's wrong

I think version 1.8.0 is meant to be available for install, but it's not.

## How is that should be

I should be able to install 1.8.0, assuming it's been released

## System information

n/a

[2021-04-06 00:01] sobolevn commented on #584
I will release it soon, 100% this week

[2021-04-06 00:01] #584 closed, assigned to nobody

[2021-04-06 06:52] Dimitri-WEI-Lingfeng commented on #417
any update?

[2021-04-06 13:52] mcranston18 commented on #584
thank you !

[2021-04-10 15:01] #582 closed, assigned to nobody

[2021-04-12 14:38] michael-k commented on #486
This has been fixed in #501 which is part of release 1.8.0. This issue can be closed.

[2021-04-12 15:17] #486 closed, assigned to nobody

[2021-04-13 16:30] blueyed opened #590 "'reveal_type' is not defined when using mypy_django_plugin"
Using `reveal_type` in a module fails when using `plugins = project.mypy_django_plugin` (via `[mypy]` section in `setup.cfg`):

[code]

## System information

- OS:
- `python` version: Python 3.9.2
- `django` version: Django 3.1.8
- `mypy` version: mypy 0.812
- `django-stubs` version: f003968 (current master)

[2021-04-13 18:02] sobolevn commented on #590
Yes, this happens because we first run `django.setup()` and `reveal_type` is not defined in runtime.

I suggest to use this hack:

[code]

[2021-04-13 20:42] blueyed commented on #590
Thanks for the explanation and the workaround.
I think this warrants an answer/mention in the README/FAQ probably, doesn't it?  (I've wondered not having found an issue for it already).

But I'd also like to clarify if there isn't something that could be done to fix/improve this in general, i.e. in case plugins are not really meant to import modules / run code already (what (the "custom") `django.

[2021-04-13 20:46] sobolevn commented on #590
Hm, probably we can add `builtins` patch into https://github.com/typeddjango/django-stubs/tree/master/django_stubs_ext 🤔

Do you want to work on this?

[2021-04-13 20:49] blueyed commented on #590
Sounds good!

=> https://github.com/typeddjango/django-stubs/pull/591

[2021-04-13 21:14] blueyed opened #592 "dev-requirements.txt: uses mypy==0.790"
While `pip install -e .` installs "mypy>=0.790" (https://github.com/typeddjango/django-stubs/blob/cc746ab6e5fce1d2f12c7f3206bcb720efcf9adc/setup.py#L24), `pip install -r ./dev-requirements.txt` installs "mypy==0.790" (https://github.com/typeddjango/django-stubs/blob/cc746ab6e5fce1d2f12c7f3206bcb720efcf9adc/dev-requirements.txt#L2, via https://github.com/typeddjango/django-stubs/commit/44151c485d16

[2021-04-13 21:31] sobolevn commented on #592
Yes, I guess we can remove `mypy` from `dev-requirements`. Because it is specified in `setup.py`.

[2021-04-13 21:39] blueyed commented on #592
Ok, same for `typing-extensions` then.

[2021-04-13 22:02] blueyed commented on #592
Started in https://github.com/typeddjango/django-stubs/pull/593.

What's your take on testing against specific/different mypy versions on CI?

[2021-04-13 22:07] blueyed commented on #262
Has this been investigated into?
I.e. is it possible to support the suggested directory structure in the first place?

Apart from that I've thought that different (release) branches could be used maybe, but that does not scale probably.

[2021-04-14 09:12] sobolevn commented on #262
Yes, I thought about it, but because I am mostly a single person with merging rights who maintain this project (with a lot of help from our awesome contributors and community!), it will surely consume a huge amount of my time 😢

Other solutions do not seem viable at all. I would be happy to be proven wrong here.

For now, we are just using complex "compatibility matrix" that does not suit everyone

[2021-04-14 09:16] sobolevn commented on #592
I think that this can be done, but AFAIK, `mypy` versions are pretty easy to update. And that's what we recommend.
On the other hand, `mypy` can tweak its internals a bit: sometimes some variables change their "inference" status and start / stop using `*` in the output. They can also change the type-var numeration. This can be fatal to our tests (blocked by https://github.com/typeddjango/pytest-my

[2021-04-14 09:19] sobolevn commented on #592
@bluetech this is a great example of how different `mypy` versions can fail our CI: https://github.com/typeddjango/django-stubs/pull/593

[2021-04-14 09:27] #592 closed, assigned to nobody

[2021-04-14 09:33] #590 closed, assigned to nobody

[2021-04-14 10:47] blueyed commented on #590
@sobolevn
After doing #591 I've thought that it might be better to only do this patching during the `"django.setup()"` - like initially suggested here.

I think it a) should not require to use the `patch()` method, and b) should not be in place during runtime in general (after the (apparently necessary/unavoidable) "setup").

[2021-04-14 10:55] sobolevn commented on #590
Yes, looks like it is a good idea indeed. But, `0.2.0` is already released, we can rework how it is done in the `0.3.0`.

[2021-04-14 11:12] mkurnikov commented on #262
@sobolevn

Thank you very much for taking over the project, I would've been a bummer to have it die because I moved to other stuff.

What do you think about the versioning scheme I proposed in https://github.com/typeddjango/django-stubs/pull/288? Like, source code will be filled with those conditionals, but for the actual PyPI release, there will be a script that will create packages for different

[2021-04-14 11:16] sobolevn commented on #262
Libcst has some serious problems: first of all, it does not work with python3.9+ (because of peg-parser)
Secondly, putting lots of conditionals might be really hard to read. But, I think that that it is a good thing to try at least.

[2021-04-14 11:22] mkurnikov commented on #262
It only needs to be able to parse stubs, and I think `.pyi` files use python3.6 grammar (variable annotations), right? So, it shouldn't matter.

As for the "hard to read" argument, it depends on the context. It certainly breaks `pip install -e` which creates a bit of friction in development. But if you'd want to read it from your Python IDE to see what's the stubs are, it'll already be in the post

[2021-04-14 11:35] sobolevn commented on #262
When this transformation will happen? Do we have to package it properly? Or can our users continue to use it when installing from `git`?

[2021-04-14 11:39] mkurnikov commented on #262
In `setup.py` using `pyproject.toml` build dependencies? (I never actually used it, don't know whether it would work).

[2021-04-14 12:01] sobolevn commented on #262
It might work! 🤔

[2021-04-15 08:59] BeWe11 commented on #312
I am experiencing the same bug with django-stubs 1.8.0 and django-stubs-ext 0.2.0. Defining dictionaries in a settings file and than importing them via `django.conf.settings` loses the type annotation, e.g.
[code]
becomes
[code]

[2021-04-15 20:16] sobolevn commented on #262
What about file renames and location changes?

[2021-04-16 15:22] stevanmilic opened #594 "select_for_update should accept no_key parameter"
# Bug report

The `select_for_update` queryset method now accepts the `no_key` parameter: https://docs.djangoproject.com/en/3.2/ref/models/querysets/#select-for-update (django 3.2). The parameter isn't included in the stub function.

## What's wrong

[code]
## How is that should be

No error should be reported.

## System information

- OS: Linux
- `python` version: 3.9
- `django` version: 3.2
- `

[2021-04-16 15:23] sobolevn commented on #594
Great! Thanks!

[2021-04-16 16:42] #594 closed, assigned to nobody

[2021-04-19 18:00] mabugaj opened #596 "Not detecting Foreign key reverse relationship"
# Bug report

I'm playing around with django-stubs and mypy. What I presume from https://github.com/typeddjango/django-stubs/issues/150 reverse relation should be picked up by the mypy with django-stubs.

## What's wrong

I've prepared small repo based on https://github.com/typeddjango/django-stubs/issues/150. Super simple just to be sure it's nothing on my side.

https://github.com/mateusz-geet/d

[2021-04-21 07:59] haplo commented on #297
I was just hit by this issue with Django 3.1 and django-stubs 1.8.0. Why was it closed without a fix? Looks like a real bug to me.

[2021-04-21 09:08] sobolevn commented on #297
@haplo PR is welcome!

[2021-04-21 09:15] haplo commented on #297
I will try to make a patch.

[2021-04-21 11:25] markedwards opened #599 "Typing for get_user_model()"
# Bug report

Right now, typing for `get_user_model()` is implemented like:
[code]

This is pretty useless for many cases, and inevitably results in a `cast` or a `# type: ignore`.

## How is that should be

This would be an improvement:
[code]

Better yet, could django-stubs introspect settings and determine the real type that is returned?

## System information

- OS:
- `python` version: 3.9
- `

[2021-04-21 12:00] sobolevn commented on #599
We have some support of this function: https://github.com/typeddjango/django-stubs/blob/8f97bf880d3022772581ea4cf8b5bf5297a27bad/mypy_django_plugin/main.py#L201

Implementation: https://github.com/typeddjango/django-stubs/blob/8f97bf880d3022772581ea4cf8b5bf5297a27bad/mypy_django_plugin/transformers/settings.py#L11

We even have a test for it: https://github.com/typeddjango/django-stubs/blob/8f97bf

[2021-04-21 12:31] markedwards commented on #599
Ah I see, I jumped to an incorrect conclusion.  So the issue I have is actually that mypy ends up with a type alias which cannot be used for annotation:
[code]

[2021-04-21 13:22] sobolevn commented on #599
Yes, this is unrelated to `django-stubs` 😞
This is how `mypy` works, it treats function calls as global variables, not type aliases.

You can use this:

[code]

[2021-04-21 13:22] sobolevn commented on #599
I am going to close this, because there's nothing we can do!

[2021-04-21 13:22] #599 closed, assigned to nobody

[2021-04-21 15:14] markedwards commented on #599
Thanks, sorry for the noise.  Sad that there's no better solution to this.

[2021-04-22 00:33] dfarley1 commented on #297
I'm not sure why I closed this...

[2021-04-23 03:51] MrkGrgsn commented on #596
Found this after encountering the same issue.  I can reproduce it using the test application in the description in this environment:
- OS: Linux
- `python` 3.6.13
- `django` 2.2.19
- `mypy` 0.812
- `django-stubs` 1.7.0

[2021-04-25 19:05] kracekumar opened #602 "QuerySet's `.annotate()` returns an incorrect type when chained with `.values()`"
# Bug report

## What's wrong

Iterating over the `annotate` result and accessing the aggregated item throws `Model` is not indexable.

[code]

Mypy error

[code]

What should be the proper way to annotate the code here other than `type: ignore`?

Failed Approaches
- `get_book_counts_for_author() -> QuerySet[AuthorCount]:`

Output:

`polls/models.py:69: error: Type argument "TypedDict('polls.model

[2021-04-25 22:02] sidmitra commented on #602
@kracekumar I found some discussion around annotate on this [PR](https://github.com/typeddjango/django-stubs/pull/398).

[2021-04-26 05:57] sobolevn commented on #602
I would love to see it rebased and merged! 👍

[2021-04-26 08:35] kracekumar commented on #602
@sidmitra saw the PR previously and since it was not updated, felt opening a bug report to understand overall picture.

[2021-04-27 13:56] sondrelg commented on #263
Hi!

I was about to ask a similar question to this, so I'll ask here instead:

### Background

Given some example code, like:

[code]

The [current](https://github.com/typeddjango/django-stubs/blob/master/django-stubs/views/generic/detail.pyi#L16) code stubs indicates that we will receive a `models.Model` back from `get_object`.

![image](https://user-images.githubusercontent.com/25310870/11625322

[2021-04-27 13:59] sobolevn commented on #263
Yes, this seems doable. PRs are, as always, welcome.

[2021-04-27 14:24] sondrelg commented on #263
After looking at it a little, I don't think `-> model` is a completely legal way of doing it, unfortunately.

I could be wrong, but it seems like we need a mechanism for saying "mirror the type assigned to model later", without just using `model` directly.

Do you know of anything in the typing library that does this @sobolevn?

[2021-04-27 14:40] sobolevn commented on #263
@sondrelg `SingleObjectMixin` can be generic on `ObjectType`: https://github.com/typeddjango/django-stubs/blob/master/django-stubs/views/generic/detail.pyi#L8

So, it would be:

[code]

[2021-04-30 12:59] NickVoroshylov opened #605 "DetailView has no attribute "object""
Hi all. I have my DetailView with overrided get_context_data method. All work, but mypy return `categories\views\subcategory_detail_view.py:14: error: "SubcategoryDetailView" has no attribute "object"`.

If i change `self.object.contests.get_open_contests()` to `self.get_object().contests.get_open_contests()`, then mypy return `error: "Model" has no attribute "contests"`

How i can fix it ?
Also i

[2021-04-30 17:19] sobolevn commented on #605
Related https://github.com/typeddjango/django-stubs/pull/603

[2021-04-30 17:51] silviogutierrez opened #606 "Discussion on casting of fields and assertions on their type"
Hi all,

I thought of posting this on Gitter but the chat there seems dead. This is a larger discussion and after a long search on the issues, I couldn't find anything similar brought up.

With the below code:

[code]

It's common to instantiate models this way:
[code]

Same goes for other "smart" fields, like `TimeField` etc. It seems the core Django team has no plans to change this behavior, as

[2021-04-30 20:50] sobolevn commented on #606
Would love to hear other people's opinions and solutions.

I personally like this one:

[2021-05-01 10:05] sobolevn opened #608 "Get rid of `ValuesQuerySet`"
Problems with `QuerySet` / `ValuesQuerySet` separation:
- There are a lot of places, where we use `QuerySet` annotation, so `ValuesQuerySet` is not allowed there.
- We cannot simply change it, because `_BaseQuerySet` is not enough for small portion of cases
- `T` type var has `models.Model` bound, which stops us from annotating thing with, for example, `QuerySet[SomeTypedDict]`, which is valid whe

[2021-05-01 10:11] sobolevn commented on #608
Related: https://github.com/typeddjango/django-stubs/pull/603/commits/6522f30cdb9027483f46d77167394c84eb7b7f4b

[2021-05-01 10:21] #263 closed, assigned to nobody

[2021-05-04 14:05] subsonik commented on #596
Same issue here.

- OS: NixOS Linux
- Python 3.9.4
- Django 3.2
- mypy 0.812
- django-stubs 1.8.0

[2021-05-08 07:02] syastrov commented on #608
But should a `QuerySet` where `.values` was called still have the original `Model` in its type?

It might be relevant if I were to call `.filter` after calling `.values` to know which type of `Model` is being queried so that the type-checker can generate an error if I filtered on an invalid field.

If Django hadn't allowed users to "flaunt their individualism", this would be a lot simpler :)

http

[2021-05-08 07:17] sobolevn commented on #608
I thing that we can try to add the second type argument dynamically to `QuerySet` instance when we need to (basically after `.values` / similar calls). This way, we would still have pretty user-facing API like `QuerySet[MyModel]` and all the features of `ValuesQuerySet`.

Later, we can use `TypeArgTuple` to represent this natively using variadic generics.

[2021-05-10 08:22] syastrov commented on #608
That would be nice. Would you check the behavior in other type-checkers if you haven't provided all the type parameters?
It would be pretty nasty if you always got an error there.

I'm not sure I see how using variadic generics will help? It seems like we have some fixed number of type parameters, but we should allow some defaults for them if not provided (except that is not currently possible).

[2021-05-10 08:24] syastrov commented on #602
I rebased the PR :)
I am not sure if it will actually fix your issue, though.

`.annotate` previously is typed as returning `QuerySet[Any]`.
But the problem is that `get_book_counts_for_author` is returning a QuerySet where `.values` was called on it.
The type in django-stubs for this is called "ValuesQuerySet", but it doesn't exist in reality.
But you might be able to use return type `Collection[

[2021-05-10 09:51] kracekumar commented on #602
Thank you @syastrov and a good catch on Collection. Since the return result can be used for any filtering, annotated as `Union[QuerySet[Book], AuthorCount]`. When it's a dictionary-like access either `Collection[AuthorCount]` or `Iterable[Authorcount]` works

[2021-05-10 18:20] mabugaj commented on #596
I'm closing this one as according to:

https://gitter.im/mypy-django/Lobby?at=5d63ab5810bb5d2db071e5aa

all that needs to be done is to add created app to the INSTALLED_APPS. After that everything seems to be working correctly.

[2021-05-10 18:20] #596 closed, assigned to nobody

[2021-05-10 18:51] sobolevn commented on #596
@mateusz-geet PR with the docs is welcome!

[2021-05-11 13:51] blueyed opened #609 "Improve monkey-patching for `reveal_{type,locals}"
After doing #591 I've thought that it might be better to only do this patching during the `"django.setup()"` - like initially suggested here.

I think it a) should not require to use the `patch()` method, and b) should not be in place during runtime in general (after the (apparently necessary/unavoidable) "setup").

_Originally posted by @blueyed in https://github.com/typeddjango/django-stubs/issu

[2021-05-11 15:51] sobolevn commented on #609
I agree, it would be closer to real runtime behavior.

[2021-05-16 14:57] #572 closed, assigned to nobody

[2021-05-16 23:30] danjac opened #613 "Incompatible with celery"
# Bug report

Unable to run mypy with django-stubs, even with` ignore_missing_imports=true`.

Celery is set up in the root `__init__.py` file:

[code]

[code]

As the app itself is running in a Docker container and mypy is running in a pre-commit hook, I have set `ignore_missing_imports=true`. However it appears the django-stubs plugin ignores this setting.

The issue may not be related as such to

[2021-05-17 08:42] sobolevn commented on #613
Do you have `celery` installed? Because we actually run `django.setup()` to build our model types. If you don't have `celery` installed - it would fail.

[2021-05-17 10:43] salty-horse opened #614 "Model ignored when inheriting from third-party abstract model"
# Bug report

## What's wrong

When a model inherits from an abstract model that is defined in the same file, mypy detects the existence of foreign fields correctly.
However, when a similar abstract model is in a third party library, mypy ignores that model.

It's possible I'm doing something wrong. I apologize if this isn't a real bug.

Sample project: [mysite_mypy](https://github.com/salty-horse

[2021-05-17 11:02] danjac commented on #613
So this looks like a fundamental problem with django-stubs. My Django app runs inside a Docker container, and pre-commit is running outside that container (this is probably going to be an issue with anything else running outside the container, e.g. VSCode).

So the only way I can get this to work - if django.setup() is being run as part of the type checking - is to run mypy inside the container. T

[2021-05-17 14:31] sobolevn commented on #613
Yes, it is. But on the other hand, we made this decision to simplify our plugin and make it more correct.

Yes, this is how it should be done. Moreover, `mypy` loves to have all the dependencies during type checking. As far as I know, it is considered to be the best practice.

I am going to close this, because it is not a bug. We can continue the discussion here if you need any help from our side!

[2021-05-17 14:31] #613 closed, assigned to nobody

[2021-05-17 14:41] danjac commented on #613
Sure, I understand the reasons. Unfortunately it does limit usage of full type checking in certain toolchains but there's a tradeoff either way.

Thanks for working on this!

[2021-05-17 15:37] sobolevn commented on #614
Hi!

If some library does not have `py.typed` all imports from it would be `Any`. That's how `mypy` works.

[2021-05-17 16:29] salty-horse commented on #614
Thanks.

[2021-05-17 16:29] #614 closed, assigned to nobody

[2021-05-18 09:57] danjac commented on #458
This is precisely the issue I ran into here: https://github.com/typeddjango/django-stubs/issues/613. My Django projects work in Dockerized containers, and this is increasingly the standard for teams working on non-trivial applications. The only way I was able to get django-stubs to work was to run it inside a container - while this is OK for CI and local development (I do the same for the test sui

[2021-05-20 23:48] ToTheMax opened #620 "Mypy gives missing stubs error when importing django_stubs_ext"
# Bug report

I'm trying to apply the `django_stubs_ext.monkeypatch()` in order to add types to `admin.ModelAdmin` to prevent mypy errors there. However, when I now run mypy it gives me a module import error.

## What's wrong
Mypy can't find stubs for the `django_stubs_ext` package that I'm trying to import (tried it in different files)
[code]
Ps. I now fixed it by adding `# type: ignore` after th

[2021-05-21 08:01] sobolevn commented on #620
Yes, there was no `py.typed` file in `django_stubs_ext`. I've added one: https://github.com/typeddjango/django-stubs/tree/master/django_stubs_ext/django_stubs_ext

I am going to make a new release soon, so I am closing this issue - it should be fine after the new release! 👍

[2021-05-21 08:01] #620 closed, assigned to nobody

[2021-05-24 14:00] pawmar opened #622 "`concrete` attribute not seen in fields returned by `_meta.get_fields()`"
# Bug report

## What's wrong

When iterating over fields returned by `_meta.get_fields()` and checking if they're concrete fields (have db column) I get:

`error: Item "Field[Any, Any]" of "Union[Field[Any, Any], ForeignObjectRel]" has no attribute "concrete"  [union-attr]`

example code (`obj` is a django db model instance):

[code]

## How is that should be

There should be no error as `concret

[2021-05-25 06:00] sobolevn commented on #622
Yes, I can confirm: `concrete` is there on `Field` instances https://github.com/django/django/blob/d3d95d645fc9f36355d27598475612de43587db1/django/db/models/fields/__init__.py#L770

@pawmar can you please submit a PR?

[2021-05-25 09:22] pawmar commented on #622
@sobolevn added PR

[2021-05-25 15:22] #622 closed, assigned to nobody

[2021-05-26 22:44] mlissner commented on #346
I'm having trouble with IntegerChoices too, due to this code:

[code]

When I run mypy on this, I get:

[code]

[2021-05-27 05:49] DmytroLitvinov opened #624 "Release 1.9 version which supports Django 3.2 (LTS version)"
Hi @sobolevn ,

As you know [Django@3.2 was released on April 6, 2021](https://docs.djangoproject.com/en/3.2/releases/3.2/). This version is LTS which will be supported for a long time.
And as far as you know we have started to upgrade [wemake-django-template](https://github.com/wemake-services/wemake-django-template/pull/1608) and we rely on that package :)

From README.md file I see we have `1.9

[2021-05-27 07:07] sobolevn commented on #346
PRs are welcome! 👍

[2021-05-27 08:58] RJPercival commented on #312
@kszmigiel, are you still intending to fix this or should it be unassigned?

[2021-05-27 10:03] sobolevn commented on #312
@RJPercival feel free to take this over! 👍

[2021-05-29 15:02] jacobjove opened #625 "`.exclude(pk=...)` causes crash"
**Crash Report**

Mypy crashes when it encounters a Django ORM query that uses `.exclude(pk=...)`.

For example:
[code]

**Traceback**

[code]

**Your Environment**

- Mypy version used: 0.812
- Mypy configuration options from `mypy.ini` (and other config files):
[code]
- Python version used: 3.7.10
- Operating system and version: MacOS Big Sur 11.2.3

[2021-05-29 15:05] jacobjove opened #626 "`'self'`-referencing relationship causes crash"
**Traceback**

[code]
I did some debugging and found that when this `'str' object has no attribute '_meta'` error happens, the value of self.remote_field is `'self'`.

**To Reproduce**

Here's the abridged content of my models.py:
[code]

[2021-05-29 16:32] sobolevn commented on #626
Yes, looks like we need a special case for it. @iacobfred are you interested in working on this?

[2021-05-29 16:38] jacobjove commented on #626
I'd be willing to give it a shot. I'm only a de facto developer, though, so it's possible that the typeddjango maintainers might be more pleased with someone else's efforts. ; )

[2021-05-30 16:04] bogdan-zs commented on #312
Hello, I have the same issue, I tried to understand why it happens. In this function, plugin cant extract type from `sym` variable, because it's dict variable? after that, the plugin tries to understand what`s type, based on the variable value.
https://github.com/typeddjango/django-stubs/blob/9a95b983981173d86b55c3ede97f637d94cfde9e/mypy_django_plugin/transformers/settings.py#L23-L49
In the case w

[2021-05-31 01:56] TylerYep commented on #545
I have the same issue. Does anyone know how to get this working?

[2021-06-01 12:23] jonfoster opened #629 "StreamingHttpResponse.streaming - missing attribute"
# Bug report
## TLDR

The django.http.response.StreamingHttpResponse.streaming attribute is missing.  It's a bool.

## What's wrong

I get a false positive from mypy:

Test case is:

[code]

## How is that should be

Should not report an error!

## Obvious fix

This is a 1-line fix: In django-stubs/http/response.pyi, copy the definition of "streaming" from HttpResponse to StreamingHttpResponse.

#

[2021-06-01 12:38] sobolevn commented on #629
@jonfoster please, go ahead! 👍

[2021-06-02 10:13] haplo commented on #353
Was that fixed version ever released? Because I'm currently experiencing this bug and just found this issue.

[2021-06-03 05:15] abhishek0220 opened #630 ""ResolverMatch" has no attribute "_func_path""
# Bug report

## What's wrong

`error: "ResolverMatch" has no attribute "_func_path"  [attr-defined]`
Not finding _func_path as an attribute, but in Django ResolverMatch class _func_path initialized under conditional segments and whatever the condition it will get initialized. So it should be added in stubs as well.

## How is that should be

It should recognize _func_path as an attribute to Resol

[2021-06-03 10:57] #630 closed, assigned to nobody

[2021-06-03 18:25] #629 closed, assigned to nobody

[2021-06-05 19:51] kracekumar opened #635 "reveal_type(User.objects.filter) returns UserManager rather than QuerySet[User]"
# Bug report

[code]

output

[code]
## What's wrong

The output should `QuerySet[django.contrib.auth.models.User]`

I don't know this is mypy bug or stubs bug.

## How is that should be

`QuerySet[django.contrib.auth.models.User]`

## System information

- OS: `OSX`
- `python` version: `3.9.4`
- `django` version: `3.2`
- `mypy` version: `0.812`
- `django-stubs` version: `1.8.0`

### Mypy config

[2021-06-05 20:17] sobolevn commented on #635
@kracekumar does this happen with other models? Or only with `User`?

[2021-06-05 20:33] kracekumar commented on #635
@sobolevn It happens for all the models.

[code]

output

[code]

[2021-06-05 20:48] sobolevn commented on #635
Yes, I can confirm: https://github.com/typeddjango/django-stubs/pull/636/checks?check_run_id=2754398770#step:7:249

[code]

[2021-06-08 13:27] mthuurne opened #637 ""field" and "exclude" arguments of model_to_dict() do not accept sets"
# Bug report

## What's wrong

Our test suite contains code that simplifies to this fragment:
[code]

When checking that with mypy, it reports:
[code]

## How is that should be

The implementation of `model_to_dict()` only needs `__bool__()` and `__contains__()` to be provided by the `fields` and `exclude` arguments, so passing a keys set should not be flagged as an error.

I think a solution coul

[2021-06-08 15:10] sobolevn commented on #637
@mthuurne please, feel free to send a PR! 👍

[2021-06-10 11:36] canassa opened #638 "Configure django-stubs with pyproject.toml"
Hello,

The django-stubs README includes an example on how to configure it using the `mypy.ini` or `setup.cfg` files:

[code]

But since mypy recently added support for pyproject.toml files I think that it would be nice to include a pyproject.toml example too.

[2021-06-10 11:50] canassa commented on #638
Edit: I wrongly assumed that the plugins configurations were handled by mypy itself and not implemented in the plugins themselves. But I just noticed that the [extract_django_settings_module](https://github.com/typeddjango/django-stubs/blob/47f1700a8b1f5d0ec279ebaf27fd59c84254d1ff/mypy_django_plugin/main.py#L55) is parsing the pyproject.toml file as a config file and not as TOML file.

I believe t

[2021-06-10 12:23] sobolevn commented on #638
I think so, yes.

PRs are welcome (in case it won't make our config-code way too complex).

[2021-06-10 12:31] graingert commented on #638
a note, according to the the pyproject.toml spec django-stubs should look in

[code]

and not for example:

[code]

[2021-06-11 09:19] jordaneremieff commented on #403
I ran into the same (or very similar) issue for a model that uses a self-referential foreign-key. I was able to reproduce this from a minimal/fresh Django project using the following these steps:

1. `pip install django django-stubs mypy`

Resulting `pip freeze`:

[code]

2. `django-admin startproject myproject && cd myproject && django-admin startapp myapp`

3. Include `myapp` to `INSTALLED_APPS`

[2021-06-11 22:21] #637 closed, assigned to nobody

[2021-06-13 16:30] dehnert commented on #151
Another possible approach here, I think, is to support the [action](https://docs.djangoproject.com/en/3.2/ref/contrib/admin/actions/#django.contrib.admin.action) and [display](https://docs.djangoproject.com/en/3.2/ref/contrib/admin/#django.contrib.admin.display) decorators added in Django 3.2, which reduce the need for setting attributes on functions.

Edit: I see support got added in commit a14f4

[2021-06-14 08:03] PyB1l opened #643 "HttpRequest custom attributes"
Is there a way to validate django request custom atrributes that are set  from middlewares?
I want to avoid errors like: `error: "HttpRequest" has no attribute "x"`
without removing the `def view(request: HttpRequest)` annotation if possible.

[2021-06-14 08:29] sobolevn commented on #643
Does this work for you? https://github.com/typeddjango/django-stubs#how-can-i-create-a-httprequest-thats-guaranteed-to-have-an-authenticated-user

TLDR: try subclassing `HttpRequest` with the attributes you need.

[2021-06-14 22:50] #638 closed, assigned to nobody

[2021-06-15 14:09] p7g commented on #635
I think this is because the stub for QuerySet has `filter` (and other methods) typed like `def filter(self: _QS, *args: Any, **kwargs: Any) -> _QS: ...`, and these queryset method types are copied verbatim to the generated Manager class type. The result is that any chain of QuerySet methods off of the Manager is typed as a Manager, even though at runtime queryset methods on managers return a query

[2021-06-15 17:06] Mng-dev-ai opened #645 "User? has no attribute "id""
## What's wrong

I got this error when trying to access User attributes

## Code

[code]
## System information

- OS: Ubuntu 20
- `python` version: 3.8
- `django` version: 3.1
- `mypy` version: 0.782
- `django-stubs` version: 1.8

[2021-06-15 17:18] sobolevn commented on #645
Do you have a custom `User` configured? From the look of this error it looks like `User?` is not bound to a type.

[2021-06-15 17:19] sobolevn commented on #635
Yes, this is exactly the cause!

[2021-06-15 17:53] Mng-dev-ai commented on #645
Yes I have custom user model using AbstractBaseUser.
So how can i fix it ?

[2021-06-15 23:35] Mng-dev-ai commented on #645
I fixed it by importing the User model directly from models file instead of using get_user_model so in my example it should be like this
[code]

[2021-06-15 23:35] #645 closed, assigned to nobody

[2021-06-16 01:51] Mng-dev-ai opened #647 "Iterable[Field[Any, Any, Any, Any]]" has no attribute "__next__""

[2021-06-16 03:39] Mng-dev-ai commented on #647
Fixed by using self.get_fields() instead of self.fields

[2021-06-16 03:39] #647 closed, assigned to nobody

[2021-06-16 10:22] kracekumar opened #649 "Mypy unable to find out RelatedObjectDoesNotExist"
# Bug report

Setup

[code]

output

[code]

After modifying the code

[code]

output

[code]
## What's wrong

when add the following code in the model and print `MyUser.role.RelatedObjectDoesNotExist` in the shell, you can find the output as `<App.MyUser.role.RelatedObjectDoesNotExist'>`. At runtime, the exception handler works as expected but during type checking the exception is missing to mypy

[2021-06-16 14:50] antonagestam opened #650 "The new `durable` argument is missing from `transaction.atomic()`"
Noticed another 3.2-specific feature: the new `durable` argument to `transaction.atomic()`. I'll probably have time to provide a fix this week :)

[2021-06-16 14:53] antonagestam commented on #650
Oh, noticed it's actually added sorry for the noise, I'll close this issue.

[2021-06-16 15:28] #650 closed, assigned to nobody

[2021-06-23 09:37] GlennS opened #651 "Is it possible to create Protocols for Django Models"
My aim is to create a `Protocol` which could match either a dataclass (ideally a frozen dataclass) or a Django model (I only really care about the getter).

Does this seem like a plausible thing to expect to work? If so could you point me in the right direction?

The main issue is that the various types django-stubs defines to match Django fields like `IntegerField` and `CharField` aren't compatib

[2021-06-23 09:41] sobolevn commented on #651
You don't have to inherit from a protocol.
I am using protocols in several projects together with `django-stubs` and it works fine.

Just define them and use where you expect a matching structure.

[2021-06-23 09:44] GlennS commented on #651
@sobolevn that sounds like a perfect solution, but I haven't been able to make it work.

Do you have an example you could show me?

[2021-06-23 10:46] sobolevn commented on #651
@GlennS I hope, that this would be helpful to understand how `mypy` and descriptors work: https://github.com/typeddjango/django-stubs/commit/159a0e47904ad5dabf7d1ca4f3b43233ebcbea9f This is what we use to infer model attribute types.

But, while working with this docs, I have noticed that `mypy` actually has a bug in `find_member`: https://github.com/python/mypy/blob/master/mypy/subtypes.py#L617-L

[2021-06-23 11:27] GlennS commented on #651
@sobolevn thank you very much! I'll read your new docs tomorrow and let you know how I get on.

[2021-06-23 11:39] sobolevn commented on #651
Related issues:
- https://github.com/python/mypy/issues/3832
- https://github.com/python/mypy/issues/5481
- https://github.com/python/mypy/issues/7724

[2021-06-23 14:42] leamingrad opened #652 "Reverse relation is lost for abstract models with custom querysets"
## What's wrong

The reverse relation to a concrete subclass of an abstract model that uses a custom queryset is not being populated by `django-stubs`.

A full set of test cases that illustrate the situation are in a commit [here](https://github.com/leamingrad/django-stubs/commit/00b7d75b42b8d757e2e2c5b6f0a1578b22f1db49) that I added on top of the latest master.

Since an example is worth a thousa

[2021-06-23 16:32] sobolevn commented on #652
Great to hear! I would be happy to help.

1. Start with a failing test somewhere here: https://github.com/typeddjango/django-stubs/tree/master/tests/typecheck/db/models Your example would be a great starting point
2. Then, look at the plugin itself, the execution path you are interested in is:
  - `get_base_class_hook` https://github.com/typeddjango/django-stubs/blob/master/mypy_django_plugin/main

[2021-06-23 23:33] GlennS commented on #651
I think https://github.com/python/mypy/issues/5481 is a much clearer description of the problem, so I'll close this one as a duplicate.

Thanks again for your help @sobolevn , I think I understand this much better now.

[2021-06-23 23:39] GlennS commented on #651
Changed my mind when I realised that other issue is on mypy itself. It's probably useful for people to be able to search django-stub's issues for "Protocol" and see this one.

[2021-06-25 12:18] jodal commented on #624
I'd love to see a 1.9 release for the new `pyproject.toml` support too.

[2021-06-25 13:49] sobolevn commented on #624
I will release it after we will fix:
- https://github.com/typeddjango/django-stubs/issues/578
- #608

[2021-06-25 13:56] #609 closed, assigned to nobody

[2021-06-27 21:19] syastrov commented on #578
I can't reproduce this. Both examples pass for me locally.
CI will probably agree:
https://github.com/typeddjango/django-stubs/pull/653

[2021-06-27 22:40] syastrov commented on #608
I am afraid that making 2 generic parameters to QuerySet and hacking it in the mypy plugin to default the second parameter to the first one will make it even less likely that django-stubs will work in other type-checkers than mypy.
(I actually implemented this before mkurnikov changed QuerySet back to take one type param :)).

Are there any other options? I'll try to list some:

1. Start up a disc

[2021-06-27 23:35] syastrov commented on #608
I've given idea (3) a shot: https://github.com/typeddjango/django-stubs/pull/654
I had to add a type-ignore on the `_ValuesQuerySet` class declaration or I got an "Cannot create a consistent method resolution order (MRO)" error (I believe due to inheriting from `Container`).

[2021-06-28 00:19] sobolevn commented on #578
I will close this, because #653 does not reproduce this issue.

Feel free to reopen / submit a reproducable example, so we can fix it!

[2021-06-28 00:19] #578 closed, assigned to nobody

[2021-06-28 07:43] sobolevn commented on #608
Yes, I agree that this seems like the best solution.

[2021-06-28 07:44] sobolevn commented on #608
I have already seen this discussed, but I cannot find the link.

[2021-06-28 21:55] DabeLong opened #655 "Typing for Raw Django Class Model does not work"
# Bug report
Normally, a model M should be of type "M"
For example, M.objects.create(<...arguments>) will be of type M.
However, if using M(...arguments), should also be of type M.

## What's wrong
Running typecheck for M(...arguments) causes an internal error.

## How is that should be
M(...arguments) should evaluate to type M

[2021-06-28 22:02] DabeLong commented on #655
i.e.
I have a Django model Car.
Typechecking works if I do car = Car.objects.create(make='"BMW')

But it doesn't work if I do car = Car(make='"BMW')

There are times where I may need to do the 2nd way, in cases I would like to use bulk_create for example.
cars = Car.objects.bulk_create([car1, car2, ...])

Here is a sample stack trace:
test_models.py:12: error: INTERNAL ERROR -- Please try using my

[2021-06-29 03:57] #655 closed, assigned to nobody

[2021-06-29 03:57] DabeLong commented on #655
Needed to update to 1.8 version

[2021-07-02 16:41] blueyed opened #658 "var-annotated error with imported BaseModel, related to namespace module"
As a followup to https://github.com/typeddjango/django-stubs/issues/68 I've noticed that it would not work with:

[code]

`error: Need type annotation for "foo"  [var-annotated]`

The imported model is the same as the commented one.

If not importing it, but defining it there (uncommenting it), it works:

[code]

Note that it also fails when overwriting the import:
[code]

[code]

I've not investi

[2021-07-02 16:54] sobolevn commented on #658
@blueyed thanks for the report! Do you have a solution in mind?
I would love to merge a fix for this.

[2021-07-04 15:11] abhishek0220 opened #665 "Wrong return type for get_many function BaseCache"
# Bug report

## What's wrong

As per BaseCache definition, get_many function can return `Dict[str, Any]` type of object, but in stubs, it is written as `Dict[str, Union[str, int]]`

## How is that should be

It should return an object of type `Dict[str, Any]`

## System information

- OS:
- `python` version: 3.7.8
- `django` version: 3.1
- `mypy` version: 0.902
- `django-stubs` version: 1.8.0

[2021-07-05 11:44] #665 closed, assigned to nobody

[2021-07-07 08:56] RJPercival opened #667 "BinaryField should have type `memoryview`"
# Bug report

## What's wrong

`BinaryField` is annotated as type `bytes`.

## How is that should be

`BinaryField` can be of type `memoryview` (see [BinaryField.to_python()](https://github.com/django/django/blob/2a04e24d2dfc8e60a66e4369d970913cb2112d91/django/db/models/fields/__init__.py#L2272)).

## System information

- OS: macOS Big Sur (11.4)
- `python` version: 3.8.3
- `django` version: 3.1.

[2021-07-07 09:15] sobolevn commented on #667
@RJPercival PRs are welcome!

[2021-07-14 17:04] andreymal opened #669 "ModelAdmin extra_context should be Dict[str, Any]"
Because it's passed into templates context ([see Django code](https://github.com/django/django/blob/e4da3654367cd5f5c06ab109ece0042631faaa02/django/contrib/admin/options.py#L1660)). I use overridden templates and pass some objects to them using extra_context.

https://github.com/typeddjango/django-stubs/blob/cc5d363cfaa9b1c317e064c5e80381ce6843d1fc/django-stubs/contrib/admin/options.pyi#L250-L264

[2021-07-14 17:16] sobolevn commented on #669
@andreymal please, feel free to submit a PR.

[2021-07-15 11:46] andreymal commented on #669
Oh, there is an issue #355 which replaces Dict with Mapping

But Django [does not allow any mapping other than dict](https://github.com/django/django/commit/6a7495051304d75865add6ff96422018984e1663), so I'm not sure I'm able to make a proper PR :(

[2021-07-15 13:40] rvanlaar commented on #444
It works when I change the line to:
        `if isinstance(field, Field) and field.has_default() and field.default is None`.

Rationelle: If it has a default, and the default is not None than it's not an optional.

[2021-07-15 14:49] sobolevn commented on #444
@rvanlaar looks like a valid solution. The only thing that I would formulate this rule as "field type is `Union[FieldType, DefaulValueType]`". PRs are welcome!

[2021-07-18 12:04] #503 closed, assigned to nobody

[2021-07-23 08:50] PetrDlouhy opened #672 "Error constructing plugin instance of NewSemanalDRFPlugin"
# Bug report

When I run mypy with both `django-stubs` and `djangorestframework-stubs` plugins endabled, I have got following error:

[code]

I have got following mypy.ini configuration
[code]

This bug may appear only whit asserts enabled in python.

## What's wrong

The `DjangoContext` is inicialized both in `django-stubs` and `djangorestframework-stubs` which runs into failed assertion introduc

[2021-07-23 09:09] sobolevn commented on #672
Yeah, we need to remove these `assert`s. Can you, please?

[2021-07-23 13:15] #635 closed, assigned to nobody

[2021-07-23 14:05] syastrov opened #673 "Error calling custom queryset method on from_queryset generated manager after calling other QuerySet method (e.g. `filter`)"
`MyModel.objects.filter(...).my_method()` no longer works on a custom queryset after https://github.com/typeddjango/django-stubs/pull/398 was merged.

There are no existing tests for this.

[2021-07-23 14:08] syastrov commented on #673
Attempt to fix it, by copying over the "queryset" methods from BaseManager and changing the return type to be the custom queryset: https://github.com/syastrov/django-stubs/commit/7fd6691f2fb763d096eecdbe0dd86d4fd77e687a

This passes the test, but it seems to give a lot of spurious errors when testing against a real code-base. Errors like `Name "Any" is not defined` on nonsensical line numbers.

I

[2021-07-29 09:26] #552 closed, assigned to nobody

[2021-07-29 20:45] syastrov opened #681 "Error messages refer to private _QuerySet class"
# Bug report

Error messages on `master` now refer to the private `_QuerySet` class.
It's not friendly to users, and doesn't hint about how to properly write the annotations.

We should make the "repr" use either the `QuerySet` alias (if the 2 type parameters are both the same model) or the `django_stubs_ext.ValuesQuerySet` alias.

See https://github.com/python/mypy/issues/6501 for a possible hack

[2021-07-29 22:01] #673 closed, assigned to nobody

[2021-07-31 20:11] leamingrad commented on #652
I've managed to make a bit of progress on this, but would appreciate any help as I am a bit stuck.

From what I can tell, the root of the problem is when the `AddRelatedManagers` transformer is dealing with the `TransactionLog` class in the example above, it does not have an `objects` property.

This should be being set by the [`AddManagers` transformer](https://github.com/typeddjango/django-stubs

[2021-08-01 08:10] #667 closed, assigned to nobody

[2021-08-01 08:14] #672 closed, assigned to nobody

[2021-08-01 08:40] sobolevn commented on #652
You try to `defer()` if `objects`'s type are not yet analyzed. This might help.

[2021-08-04 10:56] haplo opened #687 "Missing stub for EmptyFieldListFilter admin filter"
# Bug report

## What's wrong

`django.contrib.admin.EmptyFieldListFilter` is not included in the stubs. This class was added in Django 3.1. See [https://docs.djangoproject.com/en/3.2/ref/contrib/admin/#django.contrib.admin.ModelAdmin.list_filter](ModelAdmin.list_filter) documentation.

To trigger the bug just add a `ModelAdmin` class like this:

[code]

Then MyPy will complain:

[code]

## How is

[2021-08-04 10:56] haplo commented on #687
I will try to submit a PR to fix this.

[2021-08-04 11:10] sobolevn commented on #687
Thanks!

[2021-08-04 11:21] haplo commented on #687
Oh, turned out you already fixed it in #589 @sobolevn!

Is there a new release planned soon for django-stubs?

[2021-08-04 12:53] sobolevn commented on #687
Yes, this month 🙂

[2021-08-04 12:53] #687 closed, assigned to nobody

[2021-08-10 18:46] GergelyKalmar commented on #312
Any chance to move this issue forward? Configuration keeps producing quite a lot of warnings and it is a bit difficult to work around it.

[2021-08-11 05:50] PIG208 opened #688 "`gettext_lazy` should return a Promise object"
# Bug report

The type annotation added in #126 is incorrect.

## What's wrong

[code]

## How is that should be

For all lazy functions above, django-stubs consider the return type to be `str`, which is actually incorrect. All of them are in fact instances of `django.utils.functional.Promise`

[2021-08-11 07:49] sobolevn commented on #688
@PIG208 PRs are welcome!

[2021-08-11 15:32] PIG208 commented on #688
@sobolevn Just created a PR for this :)

[2021-08-12 16:42] jacobjove opened #691 "mypy_django_plugin cannot parse pyproject.toml containing multiline string"
# Bug report

## What's wrong

I can't run mypy with mypy_django_plugin based on a pyproject.toml config; it fails with parsing errors due to encountering the following Black config containing a multiline string:

[code]

Here is the mypy config in the same file:

[code]

## How it should be

Mypy with mypy_django_plugin should run successfully regardless of the presence of multiline strings in py

[2021-08-12 16:51] sobolevn commented on #691
Here's the code that does the `toml` parsing: https://github.com/typeddjango/django-stubs/blob/master/mypy_django_plugin/main.py#L105-L118

Can you please fix it? 🙂

[2021-08-12 18:25] budziam opened #692 "Field as a part of a union seems to be broken"
# Bug report

## What's wrong

Django model Field value as a part of a union results in unexpected behavior. Please find the following example:
[code]

It causes the following error
[code]

## How is that should be

No error should be raised.

## System information

- OS: macos
- `python` version: 3.8.9
- `django` version: 3.2.6
- `mypy` version: 0.910
- `django-stubs` version: 1.8.0

[2021-08-13 04:09] jacobjove commented on #691
Hmmm. Looks like the code in the master branch is different from what I have on my computer (v 1.8.0)...

The code running on my machine looks like this:
[code]
So I guess the django-stubs code running on my computer is just missing the toml processing logic altogether. Should it be?

Here's the django-stubs entry in my poetry.lock:
[code]

[2021-08-13 09:22] sobolevn commented on #691
Nope, `1.8` does not support `toml`, sorry, I've missed that! Can you please verify that `master` works for you in this specific case? 🙂

[2021-08-15 13:54] PIG208 opened #693 "Mypy fatal error with querysets.values"
# Bug report

## What's wrong

[code]
[code]

This is the line of code that mypy fails to check, where `Realm` is a model:
[code]

Similarly, this line of code leads to exactly the same error:
[code]

## How is that should be

No fatal errors should occur. This is likely an error introduced in cfd69c0acc4bb3c282cab4a411b014afe280d359.

## System information

- OS: Ubuntu 18.04/WSL Ubuntu 20.04
- `

[2021-08-15 13:55] PIG208 commented on #693
After some investigation, I found that `py.typed` is not included when installing the dev version of `django_stubs_ext`. It's an error caused by incorrect `setup.py`. Working on a fix for this.

[2021-08-15 14:52] #693 closed, assigned to nobody

[2021-08-17 00:02] dmartin commented on #134
It seems to be possible to get this working now without any extra workaround, since https://github.com/typeddjango/django-stubs/commit/92eb068a040a1388e01e7f34da3f7a8542dacb47.

If you specify a `mypy_path` in the mypy config file, it'll include it when looking for `django_settings_module`.

[2021-08-17 06:09] nuschk commented on #134
Can confirm it works for me now.

I also use `mypy_drf_plugin`, which still has the problem. But, if you load the `mypy_django_plugin` first, even that works.

mypy.ini:

[code]

[2021-08-17 21:10] AlbertMukarsel opened #696 "Cant find section [mypy.plugins.django-stubs]"
## What's wrong

Here's my `pyproject.toml`
[code]
I'm working on a `virtualenv`

When I try to run mypy on the project I get the following:

[code]

## How is that should be

The plugin should be activated according to the repo readme

## System information

- OS:
- `python` version: 3.9
- `django` version: 3.2.5
- `mypy` version: 0.910
- `django-stubs` version: 1.8

[2021-08-18 08:20] sobolevn commented on #696
`pyproject.toml` is only supported in `master`. Please, use it or use `setup.cfg` util we release a new version.

[2021-08-18 08:20] #696 closed, assigned to nobody

[2021-08-24 18:59] feslima commented on #691
Hi guys, I have the same problem here with this addition in my `toml` file:

[code]

The plugin does not accept two override sections. This is the traceback of the exception thrown:

[code]

Should I open another issue about this or do I keep it here?

Thanks in advance.

[2021-08-24 20:43] sobolevn commented on #691
I will close this, because this is just a version mismatch issue.

[2021-08-24 20:43] #691 closed, assigned to nobody

[2021-08-31 09:01] 1oglop1 commented on #555
There is a PyCharm an existing issue: https://youtrack.jetbrains.com/issue/PY-37744

[2021-09-02 08:52] antonagestam opened #697 "Support `Model.__init__`"
We've mentioned this in a previous issue, but I thought it was worth having its own tracking issue.

### What's wrong

The problem is that instantiating a model with invalid field types doesn't yield type errors.

[code]

### How is that should be

Instantiating a model with incorrect field types should yield the same errors as on assignment.

[2021-09-02 10:32] sobolevn commented on #697
@antonagestam hi! 👋 🙂

Do you want to work on this?

[2021-09-03 08:02] antonagestam commented on #697
@sobolevn I would, but I'm still pretty intimidated by plugin code. I guess I should be able to look at mypy's builtin dataclasses plugin here though. Perhaps sqlalchemy has a plugin one can get inspired by too. I'll try and find time, but if someone else feels like working on this, please go ahead! 🙂

[2021-09-03 08:52] sobolevn commented on #697
Here's the relevant part:

https://github.com/python/mypy/blob/a72fab3b43b0c3ba40abfd4911ec653da5de7230/mypy/plugins/attrs.py#L677-L705

[2021-09-03 11:19] mthuurne opened #698 "ModelChoiceField could use a type argument"
# Bug report

## What's wrong

When subclassing `django.forms.ModelChoiceField` and overriding `label_from_instance()`, the type of the method argument is `Model`, but the implementation likely needs to know which concrete model type is being passed.

## How is that should be

While it is possible to work around this using `cast()` or `assert isinstance()`, having a type argument for the model typ

[2021-09-03 11:22] sobolevn commented on #698
In this case we would need to update both `django-stubs` (types) and `django-stubs-ext` (runtime `__class_getattr__`).

[2021-09-04 02:19] christianbundy opened #699 "TypeError: basic_new_typeinfo() missing required argument 'line' (pos 3)"
# Bug report

## What's wrong

[code]

## System information

- OS:
- `python` version: 3.9.6
- `django` version: 3.1
- `mypy` version: 0.910
- `django-stubs` version: 1.8.0

[2021-09-04 02:25] christianbundy commented on #624
Is there any chance of getting a release before #608 is resolved? There have been [74 commits since 1.8.0](https://github.com/typeddjango/django-stubs/compare/1.8.0...master) and I'd love to be able to deploy those without pulling directly from GitHub.

[2021-09-04 07:50] sobolevn commented on #699
Does this happen with `mypy==0.900`?
Or with `mypy==0.910` and `master` version?

[2021-09-04 07:53] sobolevn commented on #608
We can consider this done! Thanks to @syastrov 🎉

[2021-09-04 07:53] #608 closed, assigned to nobody

[2021-09-04 07:54] sobolevn commented on #624
I will fix https://github.com/typeddjango/django-stubs/issues/699 and release it right now 🙂

[2021-09-04 07:54] #624 closed, assigned to nobody

[2021-09-04 08:22] sobolevn commented on #699
Yes, `master` and `mypy==0.910` works!

[2021-09-04 08:22] #699 closed, assigned to sobolevn

[2021-09-04 14:24] kalekseev opened #700 "mypy crashes with `TypeError: Object of type AnyType is not JSON serializable`"
# Bug report

mypy crashes at the end of successful check trying to write cache. Not sure if that's `django-stubs` problem and can't test if mypy works without `django-stubs` because of many type checks errors mypy doesn't write cache at the end.

## What's wrong

[code]

## System information

- OS:
- `python` version: 3.9.6
- `django` version: 3.2.7
- `mypy` version: 0.910
- `django-stubs` versi

[2021-09-04 14:58] sobolevn commented on #700
It can be an issue with custom `TypeInfo` metadata 😞

We use it in several places:
1. https://github.com/typeddjango/django-stubs/blob/cfd69c0acc4bb3c282cab4a411b014afe280d359/mypy_django_plugin/transformers/querysets.py#L215
2. https://github.com/typeddjango/django-stubs/blob/8da8ab486232713da5bb3532e5f0252d0d4b8b1a/mypy_django_plugin/lib/helpers.py#L51
3. https://github.com/typeddjango/django-st

[2021-09-04 15:24] kalekseev commented on #700
Any is inside metadata object inside WithAnnotations, let me know if you need full object
[code]

[2021-09-04 15:36] kalekseev commented on #700
The cause is annotate with custom database func

[code]

[2021-09-04 16:01] sobolevn commented on #700
CC @syastrov as the code owner

[2021-09-04 16:01] sjdemartini commented on #550
The workaround from micheller worked for me for `django-stubs` 1.8.0, but it appears that this is no longer necessary in the newly-released `django-stubs` 1.9.0.

[2021-09-04 16:18] sobolevn commented on #550
Awesome! Thanks for the info

[2021-09-04 16:37] christianbundy commented on #699
Woah, thank you!

[2021-09-04 16:37] christianbundy commented on #624
‼️ Thanks so much, upgrading to 1.9.0 now.

[2021-09-04 17:00] pandabuilder opened #701 "mypy crashes with KeyError: 'django_stubs_ext' when using django-stubs 1.9.0"
# Bug report

mypy crashes when reaching code with Django queries that annotate fields, which did not happen which django-stubs version 1.8.0.

## What's wrong

[code]

## How is that should be

I Just upgraded from 1.8.0 to 1.9.0, and it was working without errors before upgrading.

## System information

- OS: Ubuntu 18.04.5 LTS
- `python` version: 3.9.1
- `django` version: 3.2.7
- `mypy` versio

[2021-09-04 17:10] sobolevn commented on #701
Please, check that `django-stubs-ext` is installed. It is a direct dependecy now: https://github.com/typeddjango/django-stubs/blob/master/setup.py#L26

[2021-09-04 17:13] pandabuilder commented on #701
Forgot to mention that, `django-stubs-ext`  was installed before, and it is installed now, using the latest version.

[2021-09-04 17:14] sobolevn commented on #701
Just to double check: `0.3.0`?

[2021-09-04 17:15] sobolevn commented on #701
I would also highly appreciate a simple reproduction. In this case I will be able to fix this today / during weekend.

[2021-09-04 17:19] pandabuilder commented on #701
Yes it is running with 0.3.0. I'll try to replicate it with a barebones project and post the steps here.

[2021-09-04 18:12] pandabuilder commented on #701
OK, apparently, (might be because of newer mypy version, 0.910), my `follow_imports = skip` directive in mypy.ini was causing the fatal error. After removing it, mypy runs without throwing the error. Didn't happen before upgrading.

This too happened with a barebones Django project.

Closing this issue.

[2021-09-04 18:25] sobolevn commented on #701
Ok, thanks a lot! If this happens again - I will add this to the docs.

[2021-09-05 19:05] christianbundy commented on #700
Confirming the bug here too. Any ideas for a workaround?

[2021-09-05 19:17] sobolevn commented on #700
Nothing you can do on your side except `--no-incremental`: https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-no-incremental

[2021-09-05 19:46] christianbundy commented on #700
Thanks! I think the bug is happening during cache write, not cache read, so I had to use `--cache-dir=/dev/null` instead.

[2021-09-05 22:47] christianbundy commented on #700
@kalekseev That isn't triggering the error for me. Are there any other ways you've been able to reproduce this? I'd love to throw a minimal repro into a test so that we can try to fix it.

[2021-09-06 06:47] sobolevn opened #702 "Crash while using `django-stubs-ext@0.3.0`"
# Bug report

## What's wrong

[code]

## How is that should be

It should specify `typing_extensions` as a direct dependency.
https://github.com/wemake-services/wemake-django-template/pull/1701/checks?check_run_id=3520533788

## System information

- OS:
- `python` version: 3.8
- `django` version: 2.2
- `mypy` version: 0.910
- `django-stubs` version: 1.8.0
- `django-stubs-ext` version: 0.3.0

[2021-09-06 07:56] kalekseev commented on #700
@christianbundy have no time to debug that right now. Basically we have two cases that triggers the error and it seems like custom db functions don't play role in it.

1) is trivial
[code]
<details>
<summary>Cached object for first case:</summary>
<pre>
{
    ".class": "MypyFile",
    "_fullname": "django_stubs_ext",
    "names": {
        ".class": "SymbolTable",
        "__name__": {

[2021-09-06 14:54] ruohola opened #703 "`BaseModelForm` should be patched to be generic"
# Bug report

## What's wrong

https://github.com/typeddjango/django-stubs/commit/eb702384a8c77dcdaa57d5e56a1bd21272e04eb8 (released in 1.9.0 made `BaseModelForm` generic, but `django_stubs_ext.monkeypatch()` has not been updated to add patch in the `__class_getitem__` method for the class.

Running `mypy --disallow-any-generics test.py` on:

[code]

results in:

[code]

but if one tries to add th

[2021-09-06 15:24] sobolevn commented on #703
@ruohola pr is very welcome 👍

[2021-09-06 16:19] martin-thoma opened #704 "[Question] What is an alternative to isinstance(obj, QuerySet)?"
I've recently got

with `django-stubs==1.9.0` for `isinstance(obj, QuerySet)` when I run mypy over the code.

What is the recommended way to do it?

[2021-09-06 16:37] sobolevn commented on #704
This is because `QuerySet` is now `= _QuerySet[_T, _T]` from https://github.com/typeddjango/django-stubs/commit/cfd69c0acc4bb3c282cab4a411b014afe280d359#diff-389fe7d7dcfb77ddaac87c1f3bdc196f3ef0ca33b8047c6638a15f3a3db21b56R170

We can try to alias it as `QuerySet = _QuerySet` it should be the same thing, but without subscription.

@MT-Cash can you please try that?

[2021-09-06 18:55] martin-thoma commented on #704
From where should I import `_QuerySet`?

[2021-09-06 19:09] sobolevn commented on #704
You cannot import `_QuerySet`, because it is our only-in-stubs thing. You can send a Pr with the `[_T, _T]` removed from this line: https://github.com/typeddjango/django-stubs/commit/cfd69c0acc4bb3c282cab4a411b014afe280d359#diff-389fe7d7dcfb77ddaac87c1f3bdc196f3ef0ca33b8047c6638a15f3a3db21b56R170

It might help.

[2021-09-07 06:15] rsinger86 opened #706 "Possible way to tell IDE that class instances aren't actually instances (for models fields)"
I was playing around with Python types. This seems to work in VS Code with Pylance.

Decorator to force instance type:
[code]

Stub file:
[code]

Source file:
[code]

[2021-09-07 09:01] #702 closed, assigned to nobody

[2021-09-07 19:07] #703 closed, assigned to nobody

[2021-09-08 12:54] feslima commented on #700
I'm having the same problem here. However, got no success, short of copying and pasting the entire project, when trying to set a minimal reproducible example.

Here, the error happens when there is an annotated query enabled. If I place an `reveal_type` with any kind of argument (e.g. `reveal_type(True)` anywhere in the same file where the annotation is defined, the error goes away (doesn't matter

[2021-09-08 23:36] christianbundy opened #709 "Custom manager causes phantom errors and sometimes crash"
# Bug report

## What's wrong

Still working on a minimal repro, but here's my stack trace:

[code]

I have a `FooManager`:

[code]

It's often used on models like this:

[code]

For some reason, three _completely unrelated_ files are getting these errors:

[code]

I tried adding whitespace to the top of `some_file.py` but the line numbers didn't change. Odd. I looked through my project for files

[2021-09-09 07:19] baojd42 opened #711 "Field type is Any"
# Bug report

## What's wrong
Field type is inferred as Any.
![image](https://user-images.githubusercontent.com/33564834/132640165-c1afe96a-8051-4bb6-a689-abe3998266ab.png)

I am not sure this is a django-stubs/mypy problem or a vscode issue or I should not expect the type here.

## How is that should be
self.name be inferred as string type or CharField

## System information

- OS:
- `python` ver

[2021-09-09 08:18] sobolevn commented on #711
I guess that this is because vscode uses pyright, which does not support `mypy` plugins. So, this is fine.
Try to add `reveal_type(self.name)` and run `mypy` to see that field inference works.

Please, reopen if this is not going to work for you.

[2021-09-09 08:18] #711 closed, assigned to nobody

[2021-09-09 11:13] baojd42 commented on #711
Yes, you are right, django-stubs and mypy work just fine. The reveal_type gives correct info. Thanks.

[2021-09-10 11:20] sobolevn opened #715 "Enable `mypy.stubtest`?"
Related https://github.com/python/typeshed/blob/master/.github/workflows/tests.yml#L132-L147

[2021-09-15 13:07] aleehedl commented on #550
Was it fixed though? I still experience the same error with `django-stubs` 1.9.0 installed. Also, I couldn't find any related commit that would fix it.

[2021-09-16 15:41] sjdemartini commented on #550
Hm, it certainly no longer shows any errors for me after upgrading to `django-stubs` 1.9.0 and `mypy` 0.910 (from 0.812); I've removed all manual typing from my `urls.py`.

[2021-09-16 15:45] sobolevn commented on #550
@aleehedl can you please share a minimal sample to reproduce this?

[2021-09-16 18:04] danihodovic commented on #550
Here you go:
[code]

[code]

[code]

[2021-09-17 05:57] aleehedl commented on #550
A minimal urls.py which gives an error:

[code]

[2021-09-17 08:45] sobolevn commented on #550
Thanks! Looks like the problem is in `+ static()`. Any PRs that can fix it are welcome.

[2021-09-17 08:58] StabbarN opened #716 "`filter(...)` and similar methods returns QuerySet[Any]"
Same as https://github.com/typeddjango/django-stubs/issues/673
It fails on all custom methods on queryset.

Example:
[code]

The last row should reveal something like `EntityQuerySet[Entity*]`.

- OS:
- `python` version: 3.9.2
- `django` version: 3.2.7
- `mypy` version: 0.910
- `django-stubs` version: 1.9.0
- `django-stubs-ext` version: 0.3.1

[2021-09-17 09:12] sobolevn commented on #716
СС @syastrov

[2021-09-18 07:26] ffedoroff commented on #624
lets do it!

[2021-09-20 08:06] StabbarN commented on #716
I'm a bit uncertain what's going on. dmypy seems to be working but mypy crashes. My setup is likely incorrect. I'll close this issue until I've investigated it further and have a complete git repository where it can trivially be reproduced.

[2021-09-20 08:06] #716 closed, assigned to nobody

[2021-09-22 16:33] dfn-certling commented on #444
If this does not involve anything else, #717 fixes this for me. Nevertheless I didn't really understand @sobolevn's last comment on the field type, so this might still need some changes.

[2021-09-22 19:16] rolandcrosby-check opened #718 "Incompatible argument types for django.db.models.Field.{clean,validate}"
# Bug report

## What's wrong

The `clean` method of `django.db.models.Field` takes a `model_instance` argument, which django-stubs [annotates][clean-type] as `Optional[Model]`. Django's [implementation][clean-impl] of `clean` calls `self.validate(value, model_instance)`, directly using the value of its `model_instance` argument in the call to `validate`. But the `model_instance` argument to `vali

[2021-09-24 19:26] jordanbray opened #719 "WithAnnotations[X, Y] gives runtime error (but typechecker is happy)"
# Bug report

## What's wrong

I am trying to use the `WithAnnotations` as documented with two parameters.  The first is a django model, and the second is a typed dictionary.  Here is a minified example:

[code]

[code]

Works as anticipated.  However, when I try to run the program (in this case, with `python manage.py shell < tester.py`) the traceback for both Option 1 and Option 2 above is the s

[2021-09-27 11:23] mthuurne opened #720 "Should get() return HttpResponseBase?"
Currently most `get()` methods in `django-stubs` return `HttpResponse`, except for `RedirectView`, which returns `HttpResponseBase`. I'm wondering if it would be better to have all `get()` methods return `HttpResponseBase`.

`StreamingHttpResponse` and its `FileResponse` subclass only implement `HttpResponseBase`. In the code I'm annotating a `FileResponse` is returned from a `ListView` and curren

[2021-09-27 16:37] rolandcrosby-check opened #721 "django.utils.html.format_html_join should allow mixed string and SafeText arguments"
# Bug report

## What's wrong

The [type annotation][ann] `List[Tuple[str]]` on `django.utils.html.format_html_join`'s `args_generator` argument is unnecessarily conservative. The tuples in `args_generator` are [passed into `format_html`'s args][format_html_call]. `format_html` [uses `conditional_escape`][cond_escape_call] on its arguments, which [supports][cond_escape_args] plain strings and any

[2021-09-27 16:43] sobolevn commented on #721
@rolandcrosby-check pr is welcome!

[2021-09-27 16:45] rolandcrosby-check commented on #721
@sobolevn Happy to put up a PR to change this to `List[Tuple[Any]]` if you think that's the best way forward, just wasn't sure if there's a better alternative.

[2021-09-27 16:53] jordanbray commented on #719
For people who find this via google, the above can be "fixed" by replacing:
[code]
with:
[code]

This more-or-less gets you the best of both worlds.

[2021-09-27 17:02] sobolevn commented on #719
@jordanbray I would be happy to merge a PR with the fix! 👍

[2021-10-04 05:18] star2000 opened #723 "`django.contrib.auth.models.Group.natural_key` no return type"
https://github.com/typeddjango/django-stubs/blob/fb125609818057dff8aad807637b3ca9cca5e194/django-stubs/contrib/auth/models.pyi#L37-L42

should be
[code]

[2021-10-04 07:41] sobolevn commented on #723
PRs are welcome!

[2021-10-05 22:03] kalekseev commented on #700
Created PR https://github.com/typeddjango/django-stubs/pull/725 with more details about that problem

[2021-10-06 14:57] armisael opened #726 "Type inference for user fails when inside if with multiple conditions"
# Bug report

In our codebase I stumbled on something that looks like a bug; the code is messy, and is using an old versions of Django, so I tried to replicate the issue in a new toy project, with the latest versions available. Unfortunately, I succeeded.

## What's wrong

As the title says, inference for `user` fails when inside an `if` with more than one condition; take this example:

[code]

##

[2021-10-07 10:40] yoav-orca commented on #700
I'm also hitting this issue, can I help to make progress on it?

[2021-10-07 12:13] sobolevn commented on #700
@yoav-orca you can take a look at #725 and maybe move from there. Thanks! ✋

[2021-10-11 13:49] mcxemic opened #727 "Django stubs doesn`t support updating JSON field through Django ORM"
# Bug report
Django stubs doesn`t support operations on JSON fields using F operator

## What's wrong
Since the 9.5 version, Postgres supports '-' operator for JSON fields. It removes key: value from the object.
Here the example that works fine:
[code]

But mypy returns
[code]

## How is that should be
Operator `F` should support `-` operation with `str`

## System information

- OS:
- `python` ve

[2021-10-11 13:55] sobolevn commented on #727
PRs are welcome!

[2021-10-14 16:16] canassa opened #728 "select_related changes the manager class"
# Bug report

## What's wrong

`select_related` breaks custom managers.

Take the following example:

[code]

The following code has no type errors:
[code]

But the following fails:
[code]

The revealed types:

[code]

This problem started after I updated django-stubs from 1.8.0 to 1.9.0

## System information

- OS:
- `python` version: 3.9.7
- `django` version: 3.2.8
- `mypy` version: 0.910
- `dj

[2021-10-15 19:07] kevinmarsh commented on #346
Think the original issue was solved in #406, the follow on comment about `No overload variant` is still a problem which I've just run into, but suggest that gets [it's own issue](https://github.com/typeddjango/django-stubs/issues/729) since it's related to [enum's functional API](https://docs.python.org/3/library/enum.html#functional-api)

[2021-10-15 19:30] kevinmarsh opened #729 "The functional API for Django's enumeration types isn't supported"
# Bug report

## What's wrong

The functional API for [Django's Enumeration types](https://docs.djangoproject.com/en/3.2/ref/models/fields/#enumeration-types) doesn't seem to be supported.

These two run fine:
[code]

But this raises an error:
[code]
[code]
## How is that should be

The resulting enum's type should be the same whether you use the normal class based approach or the functional API a

[2021-10-16 20:41] felixmeziere commented on #700
Same issue here!

[2021-10-19 11:31] #652 closed, assigned to leamingrad

[2021-10-19 12:03] #723 closed, assigned to nobody

[2021-10-19 16:07] RJPercival commented on #652
@leamingrad, all of your test cases now pass on master. Could you please re-test to confirm the issue you encountered is now fixed?

[2021-10-20 00:14] petermcd opened #735 "Unrecognised attribute create_user"
# Bug report

## What's wrong

When running mypy after installing django-stubs mypy provides the following error:

before

[code]

after

`website\views.py:68: error: "BaseManager[Any]" has no attribute "create_user"`

The line in question is

`user = User.objects.create_user(username=email, email=email, password=password)`

## How is that should be

The line in question is valid is how users are

[2021-10-20 14:39] leamingrad commented on #652
Thanks for this - just reran my tests locally that were reproducing the issue and I can confirm that this is now fixed 🎉

[2021-10-20 16:43] sobolevn commented on #652
As someone living in Leningrad, I appreciate your username @leamingrad 😆

[2021-10-20 18:17] zach-waggoner opened #736 "CharField(blank=True) treated as nullable"
## What's wrong

When I run mypy with this plugin enabled, it infers the type for CharFields with `blank=True` as `Optional[str]`.

## How is that should be

I believe this is incorrect, as `blank=True` only permits empty strings, not NULL. It seems like this was allegedly fixed in #39, but I'm still having the same issue. I noticed that if I remove the following lines from `DjangoContext.get_fiel

[2021-10-20 20:49] sobolevn commented on #736
@zach-waggoner PR is welcome!

[2021-10-21 15:33] antonagestam commented on #709
I'm running into this too. I realized probably all of our models that define custom managers using `objects = BaseManager.from_queryset(...)()` reveals `Any` for `reveal_type(Models.objects)`, and therefor also for `Model.objects.{get,all,...}()`.

At first sight it looked like moving the manager definition outside of the model class body fixed the issue, but after doing that a whole sea of odd er

[2021-10-22 08:40] antonagestam opened #738 "No way to achieve typing of managers built from querysets"
Currently there seems to be no way to get non-`Any` typing for `Model.objects` and by extension also `Model.objects.get()`, `Model.objects.all()` et al, for models that specify a custom manager built from a `QuerySet`. I'm submitting this as a tracking-issue, even though there are individual issues for some of the underlying problems, I thought it'd be nice to have a unified discussion about how t

[2021-10-23 19:22] bellini666 commented on #579
Hey guys!

What is the progress of this issue? Like other have said here, the work that @sbdchd has done on https://github.com/sbdchd/django-types is amazing, and the way dealt with some overloads is pretty clever. I can't see why django-stubs couldn't do the same (probably merge his changes?), and only do mypy magic where it needs to be done.

Basically, based on my experience using his fork and

[2021-10-27 21:02] 8bitcurser commented on #700
If you have this issue using OS X, python3 and a virtual env I managed to workaround it by uninstalling version 1.9.0 of the library and setting it to 1.8.0 🤷

[2021-10-29 20:53] mvernacc opened #742 "Error on automatic primary key fields - model has no attribute "id""
# Bug report

I am attempting to follow [the tutorial](https://sobolevn.me/2019/08/typechecking-django-and-drf) on @sobolevn's blog. My code is [here](https://github.com/mvernacc/test_django_typing) (mostly copy-paste from that tutorial).

## What's wrong

`mypy` gives errors on the automatic primary key `id` of the model `BlogPost`:

[code]

## How is that should be
Based on the [Typechecking mod

[2021-11-02 00:00] kevinmarsh commented on #738
I end up doing this a lot, I haven't run into the phantom errors but will keep an eye out for it.

This feels a bit hacky (so hopefully this spurs further discussion) but could you try option 2 and change the return annotation from
[code]

That gets around the unbound issue, and avoids the `Any` return type issue you've described.

[code]

<details>
<summary>Can't say it's a fail safe solution but

[2021-11-02 09:19] antonagestam commented on #738
@kevinmarsh Oh, I'll try getting rid of the self types and see if that helps with the phantom errors! Thanks for the input 👍

[2021-11-02 10:17] antonagestam commented on #738
@kevinmarsh So, I've inspected another model in our codebase now that doesn't use self types, and tried breaking out the manager creation from the model class body. It seems to be an improvement at least, because I don't get weird phantom errors, and it does achieve typing of `.objects.get()` et al (could tell because I found a few None-related bugs ...).

But now I instead bump into another issue

[2021-11-02 10:20] antonagestam commented on #738
... and while the distinction between queryset and the generated manager class mostly isn't important, I have no idea how to write a union type that accepts the generated manager class.

[2021-11-03 14:10] tilsche opened #744 "RemoteUserBackend.configure_user uses User instead of AbstractUser"
# Bug report

## What's wrong

`contrib.auth.backends.RemoteUserBackend.configure_user` is typed to take a `User: user`  argument and likewise return a `User`.

## How is that should be

I believe this should be `AbstractBaseUser`.
It could also see using a `TypVar` to ensure the return type is the same subtype of `AbstractBaseUser` as the passed type.
Ideally it would even be the configured user

[2021-11-05 10:27] Melevir commented on #701
Same here. Downgrade to 1.8.0 helped. Will try to investigate what's wrong.

[2021-11-08 05:55] Melevir commented on #701
Previous error raises for python 3.9. For 3.10 it's different:

[code]

Feels like something's wrong with types of annotated queryset: without `.annotate` everything works fine even with `follow_imports = skip`.

[2021-11-08 06:59] sobolevn commented on #701
Looks like a `Partial` type issue to me 😢

[2021-11-08 06:59] sobolevn commented on #701
I would love to fix it with a proper reproduction.

[2021-11-09 15:44] JoeHitchenXtract opened #745 "INTERNAL ERROR using annotate"
# Bug report

## What's wrong

mypy is returning an `INTERNAL ERROR` when an `annotate()` method is used with django.

[code]

## How is that should be

The typechecker should be able to process this code without error.

## System information

- OS:  Windows 10 Pro
- `python` version:  3.8.10
- `django` version:  3.2.9
- `mypy` version:  0.910
- `django-stubs` version:  1.9.0
- `django-stubs-ext`

[2021-11-09 15:46] JoeHitchenXtract commented on #745
This issue has been migrated from the main mypy repository: https://github.com/python/mypy/issues/11504
@JFdezB & @sobolevn

[2021-11-09 16:47] w0rp opened #746 "db/models/deletion.pyi protection types are unknown"
# Bug report

## What's wrong

https://github.com/typeddjango/django-stubs/blob/master/django-stubs/db/models/deletion.pyi

Pyright complains that the types of the protection functions are not known, as they are defined like so:

[code]

## How is that should be

The argument types and return types of the functions should be specified so Pyright won't complain about the functions having unknown ty

[2021-11-10 09:30] w0rp opened #747 "Options.get_field callable type is uknown"
# Bug report

## What's wrong

https://github.com/typeddjango/django-stubs/blob/d5e45db79bcea6d6f4f45eacca3a2fe6e125e2e3/django-stubs/db/models/options.pyi#L114

The argument types and return type of the `Callable` for `get_field` are not specified, so Pyright complains with a `reportUnknownMemberType` error in its strictest mode.

## How is that should be

We should define the argument and return

[2021-11-10 13:00] sobolevn commented on #747
Thanks!

[2021-11-10 13:57] w0rp opened #748 "Model.Meta type conflicts with runtime use of `class Meta`"
# Bug report

## What's wrong

https://github.com/typeddjango/django-stubs/blob/d5e45db79bcea6d6f4f45eacca3a2fe6e125e2e3/django-stubs/db/models/base.pyi#L23

`Meta` is defined as `class Meta` in the `Model` type, but this causes type errors in Pyright's strictest type checking mode because a new class that happens to be named `Meta` cannot replace another class with the same name `Meta`.

## How i

[2021-11-10 14:27] sobolevn commented on #748
Not just `class Meta`. But, we want to type DSL as well.

[2021-11-10 14:28] w0rp commented on #748
I'm not sure what you mean. Do you mean we want to type the domain-specific language of Django model options?

[2021-11-11 19:52] playpauseandstop commented on #700
Hi there!

Earlier today, I've run into this error, while making an upgrade of my 25K LoC Django project from `django-stubs==1.8.0` to `1.9.0` (and from `django-stubs-ext==0.2.0` to `0.3.1`).

My project does not have much annotates: only 13 to be precise, so I decided to try @kalekseev PR with fix: #725.

It helps and everything works well for the project (at Python 3.9.8 & mypy 0.910), so I'd li

[2021-11-11 21:31] sobolevn commented on #700
There are a lot of things to do! You can start with fixing the CI, try updating `pytest-mypy-plugins` to the latest version.
Also, removing `cache` from github actions seems to work.

Then, we can try to polish @kalekseev's PR.
Feel free to ask any questions 🙂

Thanks a lot!

[2021-11-12 15:47] StefanBrand opened #750 "functools.partial does not carry over type of ForeignKey"
# Bug report

## What's wrong
I have two models:

[code]
___

Without `partial`, it works fine:
[code]

___

Edit: And `cast`ing works in 1.8.0 (but not in 1.9.0 due to #725)
[code]
## How it should be

`partial` should carry over the `ForeignKey` type.

## System information

- OS: Ubuntu 20.04
- `python` version: 3.9.1
- `django` version: 3.1.5
- `mypy` version: 0.910
- `django-stubs` version: 1

[2021-11-17 15:09] sidmitra commented on #701
@sobolevn I've tried to create a minimal django app to reproduce.

See https://github.com/sidmitra/django-stubs-issue

Also see the github failed github action with the mypy traceback:
https://github.com/sidmitra/django-stubs-issue/runs/4239774289?check_suite_focus=true

[code]

Note that this only happens with 1.9.0v of django-stubs, but not 1.8.0, so it's holding up an upgrade. I'll try to dig d

[2021-11-17 15:11] sobolevn commented on #701
AWESOME! Thanks a lot.

[2021-11-18 14:29] syastrov commented on #745
I can't reproduce it.
Can you include the source code for the `core/models.py`?

[2021-11-18 14:37] syastrov commented on #745
@JoeHitchenXtract Does this PR fix it for you? https://github.com/typeddjango/django-stubs/pull/753

I think the problem maybe be that the `django` module isn't included in the additional plugin dependencies, and that is where this `_AnyAttrAllowed` type currently lives -- in the stub files. I tried moving this type which is used internally by the plugin to `django_stubs_ext`, which is already add

[2021-11-18 17:07] sobolevn opened #754 "`ManyToManyField` is not complete"
Django defines `ManyToManyField` with more precise types that we do.
Django 3.2: https://github.com/django/django/blob/3.2/django/db/models/fields/related.py#L1134-L1142
Our stubs: https://github.com/typeddjango/django-stubs/blob/master/django-stubs/db/models/fields/related.pyi#L180-L187

We need to fix this.

[2021-11-18 17:12] StasGC commented on #754
Hello!
I want to solve this.

[2021-11-18 17:39] JoeHitchenXtract commented on #745
Hi @syastrov, these are the `models.py` and `views.py` from a slightly different example to what Jesus originally shared, but also encounters the error described. Are there any other files you'd like to see?

I tried your pull request, and unfortunately it doesn't seem to have resolved the issue here.

[code]

[code]

[2021-11-19 08:57] syastrov commented on #745
It would be great with a small self-contained GitHub repository which can reproduce the issue.

[2021-11-19 17:41] JFdezB commented on #745
Hi @syastrov here you have a GitHub repository to repoduce the issue.
https://github.com/JFdezB/typing-issue

[2021-11-22 23:37] SourceSurfer commented on #735
Same problem
django-admin 2.2.19
pip 21.3.1
Python 3.9.6
mypy 0.910

[2021-11-23 07:18] sobolevn opened #756 "Support `typing.type_check_only`"
We have some classes / protocols that are not available in runtime.
They should be marked as `@type_check_only` https://docs.python.org/3/library/typing.html#typing.type_check_only

[2021-11-23 18:52] blueyed opened #757 "Incompatible typing between `BaseModelAdmin.get_fieldsets` and its `fieldsets`"
When adding type hints to a `get_fieldsets` method as defined in the stubs ([1]) it fails when returning `self.fieldsets` there (like the default implementation does):

`t_fieldsets.py`:

[code]

I think the default implementation [2] should cause no type errors.

1: https://github.com/typeddjango/django-stubs/blob/a57ae4fc76c791774b9a953cc2b3244a226f23a1/django-stubs/contrib/admin/options.pyi#L11

[2021-11-28 06:16] star2000 opened #759 "`django.test.testcases.SimpleTestCase` missing `async_client`, `async_client_class`, `assertURLEqual`, and there is a deleted `allow_database_queries`"
# Bug report

## What's wrong

as title

## System information

- OS:
- `python` version:3.9.7
- `django` version:3.2.9
- `mypy` version:0.910
- `django-stubs` version:1.9.0
- `django-stubs-ext` version:0.3.1

[2021-11-28 07:53] sobolevn commented on #759
PRs are welcome 😉

[2021-11-28 21:30] lfrodrigues opened #760 "WithAnnotations Crash in 1.9.0"
# Bug report

I have upgraded to 1.9.0 and I'm getting this crash when I run `mypy .` inside my src folder

[code]

The crash is generated by this piece of code.

[code]

When typing mypy doesn't crash

[code]

## System information

- OS:
- `python` version: 3.9.2
- `django` version: 2.2.17
- `mypy` version: 0.910
- `django-stubs` version: 1.9.0
- `django-stubs-ext` version: 0.3.1

[2021-11-29 03:39] kylebebak commented on #579
@sobolevn @mkurnikov @syastrov

Any reason we can't do what @bellini666 is suggesting and merge most of the changes that have been made in https://github.com/sbdchd/django-types into this repo?

Making these type hints usable with type checkers other than `mypy`, e.g. `pyright`, would make this excellent library useful to a lot more people.

[2021-11-29 08:45] sobolevn commented on #579
I would love to merge it 🙂

If anyone can send a PR, this would be amazing.

[2021-11-29 17:57] blueyed opened #761 "Issues with overriding/re-implementing BaseModelAdmin.formfield_for_manytomany"
I am overriding `BaseModelAdmin.formfield_for_manytomany` ([code](https://github.com/django/django/blob/742d6bc8dbc3868201895933e1c40c36f46462c7/django/contrib/admin/options.py#L244-L284)) and noticed two issues:

1. `assert not db_field.remote_field.through._meta.auto_created` fails with: `"Field[Any, Any]" has no attribute "through"  [attr-defined]` ([code ref](https://github.com/typeddjango/dja

[2021-12-02 15:02] drs12345-SS commented on #450
hey can anyone please tell me about the overview of this project so that i could make out that what it's all about.

[2021-12-02 15:06] sobolevn commented on #450
@drs12345-SS which project exactly? 🙂

[2021-12-03 11:14] drs12345-SS commented on #450
@sobolevn just want to know  about the project of 2020 on which you people were working but also can you please suggest me some good projects on django to start with

[2021-12-03 12:31] sobolevn commented on #450
@drs12345-SS

Here you go:
https://summerofcode.withgoogle.com/archive/2020/organizations/5420240042721280/

You can check out my repo: https://github.com/wemake-services/wemake-django-template/
It has lots of best practices.

[2021-12-04 02:01] johnnymetz opened #763 "TypeError: Too many arguments for typing.Annotated[...]; actual 2, expected 1"
# Bug report

## What's wrong

I have the following unit test written in pytest and pytest-django:

[code]

It raises an exception with the following traceback:

[code]

## How is that should be

Unit test should run successfully to completion.

It works fine if I change `print_user_group_count` to:

[code]

## System information

- OS:
- `python` version: 3.9.9, 3.10.0
- `django` version: 3.2.9
-

[2021-12-04 09:02] sobolevn commented on #763
Looks like we've messed up something here: https://github.com/typeddjango/django-stubs/blob/master/django_stubs_ext/django_stubs_ext/annotations.py#L10-L22

Can you please take a look? 🙂

[2021-12-04 20:01] sidmitra commented on #701
This issue might be somewhat related(or the same root cause): https://github.com/typeddjango/django-stubs/issues/745

Just adding a reference to link both.

[2021-12-04 21:46] johnnymetz commented on #763
Looked into it for a few hours but wasn't able to figure it out.

Some notes:
- According to [PEP-593](https://www.python.org/dev/peps/pep-0593/), `Annotated` can take multiple arguments. As matter of fact, it must take multiple arguments.

- `Annotated` is now part of the core `typing` module so we can change the import in [this file](https://github.com/typeddjango/django-stubs/blob/master/django

[2021-12-05 08:45] sobolevn commented on #763
Here's the self-repro example:

[code]

Looks like `Annotations[_Annotations]` does not get replaced or even counted as a type var in `Annotated` 🤔

[2021-12-05 17:37] GergelyKalmar opened #764 "Missing py.typed file for mypy_django_plugin"
# Bug report

## What's wrong

When importing `mypy_django_plugin` I'm getting the following error with mypy:

[code]

## How is that should be
There should be no errors.

## System information

- OS: Ubuntu 20.04 LTS
- `python` version: 3.8.10
- `django` version: 3.2.9
- `mypy` version: 0.910
- `django-stubs` version: 1.9.0
- `django-stubs-ext` version: 0.3.1

[2021-12-05 18:01] sobolevn commented on #764
Can you please tell me more about your usecase?

Our mypy plugin is not usually type-checked by itself.

[2021-12-05 19:05] GergelyKalmar commented on #764
Sure! I'm patching the plugin to use the inicfg when looking for the Django settings module path (instead of having it read it from pyproject.toml):

[code]

The broader use case is that I've found it silly that I need to specify the same thing in multiple different `pyproject.toml` sections when working with various Django plugins (https://github.com/PyCQA/pylint-django takes it from the `[tool.p

[2021-12-05 19:24] sobolevn commented on #764
@GergelyKalmar Sounds reasonable. PR is welcome 🙂

[2021-12-06 12:08] ObiWanKeoni commented on #763
Isn’t this the same error as #719 ?

[2021-12-06 18:48] johnnymetz commented on #763
Yes, this is exactly the same issue. The workaround in [this comment](https://github.com/typeddjango/django-stubs/issues/719#issuecomment-928067545) helped. Thanks!

[2021-12-07 10:10] oren0e opened #765 "Can't import RelatedManager"
If I write:
[code]
I get "import could not be resolved". It seems that the `.db.models.manager` part is not "seen".. (I also can't "go to definition" there). Any ideas?

[2021-12-07 14:04] blueyed opened #766 "`MyField(models.CharField)` not handled as `str` (but `Any`)"
Given `t_derived_model.py`:
[code]

`mypy t/t_derived_modelfield.py` results in:
[code]

I.e. the type of `MyField` is not handled like when using `modfels.CharField` directly.

## System information

- OS: Arch Linux
- `python` version: 3.9.9
- `django` version: 3.2
- `mypy` version: 0.910
- `django-stubs` version: 1.9.0-22-ge5361f1 (current master)
- `django-stubs-ext` version: -

[2021-12-07 14:23] blueyed commented on #285
Just for reference: this can be fixed now with `django_stubs_ext`:

[code]

[2021-12-07 14:27] blueyed commented on #766
It can be fixed using `class MyField(models.CharField[str, str])` (giving the set-/get-type there).
Would it be possible to make it default to this?
Related code: https://github.com/typeddjango/django-stubs/blob/e5361f1e043f16363263319ed2de6b81bbb67ccd/django-stubs/db/models/fields/__init__.pyi#L261-L263

At least it is possible to force specifying it via mypy's `disallow_any_generics = True`, whe

[2021-12-08 13:04] gilad-orca commented on #444
I would really appreciate it if you can merge it :)

[2021-12-11 09:12] yrd opened #771 "WithAnnotations using a bound TypeVar causes MyPy to crash"
# Bug report

MyPy seems to fail with a recursion error when `WithAnnotations` is used with a generic type variable as an argument. Here is a small example:

[code]

The idea is that the manager provides a static method which annotates an existing queryset in some way (in my actual project, the annotation is way larger, hence it is refactored into a reusable method). But this should also work for

[2021-12-13 15:46] w0rp commented on #748
I think this isn't something that can be fixed in the library, it just needs to be disabled in Pyright by disabling `reportIncompatibleVariableOverride` errors.

[2021-12-13 15:46] #748 closed, assigned to nobody

[2021-12-13 17:05] #747 closed, assigned to w0rp

[2021-12-15 12:25] yrd commented on #299
There seem to have been some changes in Django where bases in `self.bases` may also be strings. This works for me:

[code]

[2021-12-15 12:29] felixmeziere commented on #299
Hi @yrd , in what version of Django ? I don't have any issues so far in Django 3.2.10 but this worries me! Should I use your code snippet?

[2021-12-15 12:36] yrd commented on #299
I'm using 3.2.9. The original method also seems to test for strings:
https://github.com/django/django/blob/ac5cc6cf01463d90aa333d5f6f046c311019827b/django/db/migrations/state.py#L858-L861

According to git, the linked code segment is a few years old, though. So it seems there always has been the possibility of getting a string. I don't know my way around the Django internals enough to tell you whe

[2021-12-15 12:38] yrd commented on #299
An educated guess after some quick debugging: it seems to me that the base is provided as a string when you have a superclass that *isn't* an abstract model. At least in my codebase that seems to be the case... But again, not sure on this.

[2021-12-15 13:00] yrd opened #778 "Wrong QuerySet `__getitem__` return type"
# Bug report

## What's wrong

Item access on a QuerySet can return a model instance (for example `qs[2]`), another queryset (for example `qs[3:]`) or a list. Albeit probably not very often, the last case can happen – when using a slice that has a step defined, for example `qs[1:20:2]`. See here:

https://github.com/django/django/blob/ac5cc6cf01463d90aa333d5f6f046c311019827b/django/db/models/query

[2021-12-15 18:11] felixmeziere commented on #299
thank you!

[2021-12-16 19:23] sobolevn opened #789 "Drop python3.6 support"
When it will reach its EOL, we will drop it from our CI.

[2021-12-17 17:14] mthuurne opened #790 "Add object_list to BaseListView"
# Bug report

## What's wrong

When accessing `self.object_list` in a class inheriting from `ListView` implementation, mypy reports that the attribute does not exist:

[code]

Corresponding code:
[code]

## How is that should be

While `object_list` isn't defined at construction, `BaseListView.get()` sets it when handling a request, so in practice it is defined whenever a list view is doing its wo

[2021-12-17 19:19] sobolevn commented on #790
@mthuurne PR is welcome 👍

[2021-12-17 19:20] #746 closed, assigned to nobody

[2021-12-17 23:26] mvernacc commented on #742
Any suggestions?

[2021-12-18 08:14] sobolevn commented on #742
Related https://github.com/typeddjango/django-stubs/pull/779

[2021-12-18 10:09] #742 closed, assigned to nobody

[2021-12-20 06:46] miaachan commented on #417
For anyone who comes here – this non-intrusive workaround https://github.com/typeddjango/django-stubs/pull/180#issuecomment-820062352 written by @wlf100220 might help you.

[2021-12-28 12:28] jerch commented on #704
Kinda stumbled over the same issue and can confirm, that removing `[_T, _T]` solved it for me.

Created PR #794.

[2021-12-28 17:49] Crocmagnon opened #795 "Prefetch's to_attr raises "Model" has no attribute "prefetched_field""
# Bug report

## What's wrong

[code]

[code]

## How is that should be

`published_articles` should be recognized as a valid attribute for `tag` in the loop, as defined in the `to_attr` of the `Prefetch` instance.

## System information

- OS: macOS 12.1 (21C52)
- `python` version: Python 3.10.0
- `django` version: 4.0
- `mypy` version: mypy 0.930
- `django-stubs` version: 1.9.0
- `django-stubs-e

[2021-12-28 22:26] Crocmagnon opened #799 "PyCharm gets weird about self.request.GET.get"
# Bug report
## What's wrong

[code]

<img width="985" alt="Screenshot 2021-12-28 at 23 22 50" src="https://user-images.githubusercontent.com/3630554/147611456-f8b538f2-dad9-4ffe-9184-393209d2a934.png">

PyCharm complains about the types here, even though `mypy` doesn't.

Hinting `request: WSGIRequest` solves the issue with PyCharm though.

## How is that should be

There should not be any issue w

[2021-12-29 08:00] sobolevn commented on #799
Can you please paste `reveal_type(self.request)`? What it was initially?

Looks related to https://github.com/python/typeshed/issues/6597

[2021-12-29 09:50] Crocmagnon commented on #799
[code]

My guess is that comes from the existing type hinting in `TemplateResponseMixin`:

https://github.com/typeddjango/django-stubs/blob/9483865284bfe199961085d52765a83270e84611/django-stubs/views/generic/base.pyi#L27

[2021-12-29 10:02] sobolevn commented on #799
Ok, here's what I think is going on.

`HttpRequest` has `.GET` defined `QueryDict`, which is a `MuttableMapping` subtype: https://github.com/typeddjango/django-stubs/blob/9483865284bfe199961085d52765a83270e84611/django-stubs/utils/datastructures.pyi#L36

Related https://github.com/python/typeshed/pull/6694

[2021-12-29 10:27] Crocmagnon commented on #799
So it’s an error in pycharm? As a matter of fact I don’t understand their message. My `.get` call looks fine according to their pop up, right?

It nearly seems like they think I’m missing the `self`, like if `GET` were a type, not an instance. I’ll try to check the revealed type of `GET`

[2021-12-29 10:42] sobolevn commented on #799
It looks like it is a error with PyCharm. Do they use our stubs? Or do the use their own version?

You can send a PR with this sample as a test case (if we don't have one). Just to be sure.

[2021-12-29 14:50] Crocmagnon commented on #799
This looks related to #555, [this thread](https://intellij-support.jetbrains.com/hc/en-us/community/posts/360003433179-Pycharm-suddenly-not-detecting-ANY-Django-tags-in-template) and [this YouTrack issue](https://youtrack.jetbrains.com/issue/PY-37744). Nothing we can fix here I'm afraid.

BTW, `Revealed type is "django.http.request.QueryDict"` in both cases (with HttpRequest or WSGIRequest as type

[2021-12-29 14:50] #799 closed, assigned to nobody

[2022-01-05 13:05] GergelyKalmar commented on #764
Took a while to get back to this but this PR should do it: https://github.com/typeddjango/django-stubs/pull/804

[2022-01-05 13:21] #764 closed, assigned to nobody

[2022-01-05 16:47] knyghty opened #805 "Expressions on UniqueConstraint aren't supported"
# Bug report

## What's wrong

Django 4.0 added support for a [positional `expressions` argument](https://docs.djangoproject.com/en/4.0/ref/models/constraints/#expressions), but it doesn't look like it's supported here yet.

Example:

[code]

Output:

[code]

## How is that should be

Shouldn't output errors.

## System information

- OS: Mac OS
- `python` version: 3.10
- `django` version: 4.0
- `

[2022-01-05 17:06] sobolevn commented on #805
PR is welcome! 👍

[2022-01-06 09:07] #805 closed, assigned to nobody

[2022-01-06 13:09] flaeppe commented on #709
@antonagestam I think I've found the cause of these kind of errors. A closer look in https://github.com/typeddjango/django-stubs/blob/fafb200e9084cbd7603a1ebba95bfb6a46626e43/mypy_django_plugin/transformers/managers.py#L9

Where it seems like a new "manager node" is created and from what I can tell, that new manager node ends up where the `... = BaseManager.from_queryset(CustomQuerySet)` call live

[2022-01-06 13:26] quentinelwin opened #808 "Support django 4"
Hi,
Do you plan to support django 4.0.x anytime soon? (or to officialize its support with the current version of django-stubs)
Thanks

[2022-01-06 13:39] sobolevn commented on #808
Yes, we do! It is already tested in our CI, some types are added as well.

[2022-01-06 14:07] antonagestam commented on #709
@flaeppe I think your findings could explain why I had a hard time creating a minimal reproduction, I think I missed trying with manager and model in different modules. While I was completely dumbfounded by these errors, it sounds like you've figured it out 👍

[2022-01-06 19:24] tony opened #809 "CHANGELOG? Release notes?"
Hi and thank you for the project!

For recent versions, could changelogs be added to the releases https://github.com/typeddjango/django-stubs/releases for a high level overview?

When releases are tagged, I think it's easier to read the ones where there's a few bullet points of changes, example: [v1.2.0](https://github.com/typeddjango/django-stubs/releases/tag/v1.2.0)

I've had very good luck with

[2022-01-06 20:48] Adrian-at-CrimsonAzure opened #810 "Errors on explicitly typed model fields"
# Bug report
I'm unsure whether this is me doing something wrong, an oversight in django-stubs, or something that's just not possible.

## What's wrong
We are adding type hints and docstrings to our models and mypy with django-stubs is complaining about that.

Example model:
[code]
mypy output (line numbers won't match up as I've omitted some code):
[code]

The comments and types show up in PyChar

[2022-01-10 11:18] graingert commented on #550
I use * unpacking

[code]

[2022-01-12 06:44] #721 closed, assigned to nobody

[2022-01-14 15:16] aleksanb opened #818 "New release"
Hello 👋.
Could we make a new pypi release?

[2022-01-14 16:02] sobolevn commented on #818
Things we need before a new release:
- Change supported mypy version to latest
- Add `do_not_cache` flag to our `Annotated` field

[2022-01-14 16:37] aleksanb commented on #818
I made a pr for 931: https://github.com/typeddjango/django-stubs/pull/819.
Unsure how to approach for do_not_cache

[2022-01-14 16:49] sobolevn commented on #818
@aleksanb see https://github.com/python/mypy/blob/master/mypy/nodes.py#L3153-L3164

[2022-01-16 09:14] #709 closed, assigned to nobody

[2022-01-16 20:29] jerch opened #822 "fields type in bulk_update"
# Bug report

## What's wrong
The `fields` argument in `bulk_update` is typed as `Sequence[str]`: https://github.com/typeddjango/django-stubs/blob/a9e41a8ba97820cb6be7d85083dce23cab3ba2c1/django-stubs/db/models/query.pyi#L62

This prevents using `Set[str]`, as it is not a subtype of `Sequence` (thats my actual issue with it).

## How is that should be
Looking at the django source `bulk_update` tra

[2022-01-16 21:21] sobolevn commented on #822
PR is welcome.

[2022-01-17 12:47] nuschk commented on #810
So, I'm not an expert, but I think the intention is for you to *not* annotate yourself, e.g.:

[code]

django-stubs annotates those types via the plugin (in `mypy.ini`), such that `resolve_type(Product.objects.first().name)` will be a string later.

I'm still a bit sad though that this doesn't work, as it prevents django models to work against mypy protocols. You can't just do the following:

[cod

[2022-01-22 16:33] anugna-anu opened #826 "django"

[2022-01-22 16:53] christianbundy commented on #826
@anugna-anu

Was this made on purpose?

[2022-01-22 17:27] #826 closed, assigned to nobody

[2022-01-22 19:33] flaeppe opened #827 "Cached runs crashes on typechecking .filter-kwargs with IndexError"
# Bug report

Cached runs crashes on typechecking `QuerySet.filter()`-kwargs

## What's wrong

[code]

## How is that should be

`.filter`-kwargs should be properly typechecked on cached mypy runs.

## System information

- OS:
- `python` version: 3.10.1
- `django` version: 4.0.1
- `mypy` version: 0.931
- `django-stubs` version: 1.9.0 (but also failing on `master`)
- `django-stubs-ext` version: 0.

[2022-01-23 12:46] flaeppe commented on #827
I think I've hunted down the issue. I realised that on cached runs, any manager/queryset methods ended up with a `MethodContext` like this:

[code]

Which is the source of the index-error. There are no arguments there(all lists are empty). Also, when inspecting the `objects.filter`-method on a cached round, it looked like this:

[code]

While on __non-cached__ rounds it looks like this (which is w

[2022-01-24 10:24] #827 closed, assigned to nobody

[2022-01-24 16:55] flaeppe commented on #700
Could the cache-write issue be resolved by adding a [no_serialize=True](https://github.com/python/mypy/blob/5d765e71fa1313830b485a4e9f18a6553b221426/mypy/nodes.py#L3153-L3164) here:

https://github.com/typeddjango/django-stubs/blob/515e382d4a5eaa938e1949852df6349d69c132df/mypy_django_plugin/transformers/models.py#L531-L536

Though it wouldn't resolve the value of any `type_ref` written to cache, w

[2022-01-25 13:33] flaeppe commented on #269
I think this can be closed. I'm not able to recreate it on `master`. And #825 changed so that reverse managers are a subclass of the related model's `_default_manager`.

[2022-01-25 13:49] #269 closed, assigned to nobody

[2022-01-25 19:27] miaachan opened #829 "Proper way to write stub file for abstract models"
# Bug report

## What's wrong

I ran into a situation where I had to write stubs for my abstract model. But, mypy
is treating the inherited fields as Any.

Setup:
[code]

[code]

[code]
It is weird that `reveal_type(ModelA.date_modified)` is able to yield `DateTimeField`
but fails in the next case.

Interact with model:
[code]

If the stub `base.pyi` is removed, the revealed type of `self.foo.date

[2022-01-25 23:54] jerch opened #830 "Col.__init__ has wrong type for argument `target`"
# Bug report

## What's wrong

This is the current `Col` type declaration:
https://github.com/typeddjango/django-stubs/blob/515e382d4a5eaa938e1949852df6349d69c132df/django-stubs/db/models/expressions.pyi#L189-L190

Looking at django sources, `target` is meant to be a `Field` type, not `str`.

## How is that should be

Make `target` a `Field` type.

[2022-01-26 07:00] sobolevn commented on #830
PR is welcome!

[2022-01-26 11:44] flaeppe opened #832 "Support required fields in `Model.__init__` call"
Creating a `models.Model` instance via `__init__` without all the model's required fields gives no errors. Which leads to an incorrect type, since Django initialises those field values to `None`.

## What's wrong

[code]

## How is that should be

A `Model.__init__` call should complain when missing args/kwargs for required fields

## System information

- OS:
- `python` version: 3.10.1
- `django`

[2022-01-26 11:54] flaeppe commented on #832
It's probably gonna be a bit difficult to build a proper `__init__` signature for this while still supporting `*args`. Since required fields can be anywhere in the class definition. Leading to arguments without a default needing to be placed after arguments with a default..

[2022-01-26 18:00] sobolevn commented on #832
We can make them `kw-only`

[2022-01-28 18:08] mthuurne opened #834 "Return type for `force_bytes()` on protected types is incorrect"
# Bug report

## What's wrong

When checking the following code:
[code]
mypy reports:
[code]

## How is that should be

Since the omitted `strings_only` argument is `False` by default, `force_bytes()` will convert the given `int` to ` str` and then convert that `str` to `bytes`.

When I explicitly pass `strings_only=False`, mypy does report `bytes` as the returned type.

The stubs look like this:

[2022-01-28 18:09] mthuurne commented on #790
PR is ready for review.

[2022-01-28 18:41] #790 closed, assigned to nobody

[2022-01-28 18:43] #745 closed, assigned to nobody

[2022-01-29 09:07] #697 closed, assigned to nobody

[2022-01-31 15:01] StefanBrand opened #837 ""OuterRef" expects no type arguments"
# Bug report

## What's wrong

[code]

## How is that should be

I would like to be able to use a function with both a `Crop` instance and an `OuterRef("crop")`.

## System information

- OS:
- `python` version: 3.9
- `django` version: 4.0
- `mypy` version: 0.931
- `django-stubs` version: 1.8.0
- `django-stubs-ext` version: 0.3.1

[2022-01-31 20:18] flaeppe opened #839 "Lookup of dynamically created managers crashes on cached runs"
# Bug report

Dynamically created manager nodes (built via `.from_queryset`) aren't cached. Thus any cached `"cross_ref"`s that points to such managers cannot be resolved by mypy. One example of a node having `"cross_ref"` set to this is `Model.objects` (which isn't a plugin generated node, so I think we need to cache the manager nodes)

Relates to `no_serialize=True` changes introduced in #828

#

[2022-02-02 15:46] mvaled commented on #344
I had this today with mypy 0.931, django-stubs 1.9.0, django-stubs-ext 0.3.1, djangorestframework-stubs 1.4.0.  In my case removing the usage of a `NamedTuple` did fix the issue.

[2022-02-03 14:45] dinauu opened #841 "Return type of send method"
Why does [this](https://github.com/typeddjango/django-stubs/blob/master/django-stubs/dispatch/dispatcher.pyi#L20) send method have to return `List[Tuple[Callable, Optional[str]]]`?
I have a receiver that returns `List[Tuple[Callable, Dict[str, Any]]]` and I get this error:

[2022-02-03 14:53] pokidovea commented on #841
A receiver can return any type, сan't it? But why there is an `Optional[str]` in the signature of method `.send`?

[2022-02-04 11:39] benwhalley opened #842 "error: "Collector" has no attribute "data""
Mypy complains about this code:

[code]

saying error: "Collector" has no attribute "data"

I'm not sure what the most general type should be, but collectors do have a data attribute.

[2022-02-05 01:27] markberger opened #843 "default_return_type is Any and hits assertion error for Model.objects.values_list"
Hello, I'm trying to debug an issue when evaluating `values_list` and I'm unable to find the root cause or create a minimal example. What is the best way to determine what might be settings `default_return_value=Any`?

My code is roughly this:
[code]

During typechecking I hit the following assertion:
[code]

I'm using version `1.9.0` of the stubs with mypy `0.931`. I've also tried downgrading to

[2022-02-05 13:04] sterliakov commented on #843
I can confirm that happens with `mypy 0.940+dev` (latest from their github) too. Also both `qs.values(...)` and `qs.values_list(...)` are affected.
Adding full traceback:
[code]

For `qs.values()` only last line differs:
[code]

Using custom manager is not related. All cases where it happened (I commented out first error source to find next one) with me were using related fields: reverse foreign k

[2022-02-05 14:22] sterliakov commented on #843
It's fixed by removing `django-stubs` and `django_stubs_ext` and installing from git instead of PyPi.

[2022-02-06 04:30] ethanscorey opened #844 "`filter` method on custom `QuerySet` raises "Unexpected keyword argument" error"
# Bug report

## What's wrong
When I create a custom `QuerySet` subclass, mypy raises the following error:
`app.models.py:59: Unexpected keyword argument "name" for "filter" of "ItemManager"`

My code looks like the following:
[code]

## How is that should be
Given that `name` is a defined field on the `Item` class, I shouldn't be getting any complaints from mypy. I tried changing `ItemQuerySet` t

[2022-02-06 17:39] ethanscorey commented on #844
One quick update: I did figure out how to get rid of the the `"ItemQuerySet" expects no type arguments...` error. I just needed to change the class declaration to the following:
[code]

But that still doesn't solve my problem. I'm still getting `Unexpected keyword argument "name" for "filter" of "ItemManager"`

[2022-02-07 17:44] markberger commented on #843
@sterliakov thank you for looking into this! Unfortunately I'm not able to reproduce the error with your example. This is what I did:
[code]

Did I miss anything? Thanks!

[2022-02-07 20:38] sterliakov commented on #843
I'm really confused. I can't reproduce with that setup either, however, it is exactly layout of test project I created. Also I cannot reproduce it with exactly that project (haven't deleted it yet). I have played with versions of `mypy` and `django-stubs` and finally lost the origin of this problem. Looks like it might be cache error or smth like this, because it happened with me when I was upgrad

[2022-02-07 21:08] markberger commented on #843
Rolling back to version `1.8.0` fixes the issue I'm seeing

[2022-02-10 12:02] knyghty commented on #789
@sobolevn it looks like this has been done and this can be closed?

[2022-02-10 15:14] #789 closed, assigned to nobody

[2022-02-10 16:34] tilsche opened #848 "PasswordValidator Protocol methods do not match"
# Bug report

## What's wrong

[code]

## How is that should be

The methods of all actual Validators look like this.
[code]

I am not sure why this does not turn up as error for the given functions where it is used as parameters. E.g. `contrib.auth.password_validation.validate_password` uses the `validate` method of the argument / return value from `get_default_password_validators` typed `Passwor

[2022-02-16 21:51] epicserve commented on #471
I'm on mypy version `0.931` and I'm having this same issue.

[2022-02-17 02:12] patrick91 opened #853 "Version 1.10 release"
Hi folks! I see that the readme mentions version 1.10 here: https://github.com/typeddjango/django-stubs#version-compatibility

I don't see this on MyPy, is it still pending release? if so do you recommend using django-stubs from git for the time being? ^^

[2022-02-22 04:25] jayvdb opened #856 "Type checking of settings"
It should be possible to detect invalid settings like:
[code]
This doesnt appear to trigger an error.

The type definition of most settings exists , e..g. https://github.com/typeddjango/django-stubs/blob/2829faf/django-stubs/conf/global_settings.pyi#L96

[2022-02-23 11:23] knyghty opened #858 "GIS forms issues"
There are some new things in Django 4.0 I wanted to add, `django.contrib.gis.admin.GISModelAdmin` and `django.contrib.gis.forms.widgets.OSMWidget`, but I noticed a couple of weird looking things in the surrounding code.

The current `OpenLayersWidget`:

[code]

I'm not sure why it inherits from `Testarea`. Maybe I'm missing something but in Django's code it extends a few things, eventually `django

[2022-02-24 21:42] AustinScola opened #859 "`Length` as `Substr` `length` argument?"
# Bug report

## What's wrong

Hi, I am getting the following error from a scenario similar to this:
### Error message
[code]
### Scenario
[code]
I'm not sure if this is legal or not but it seems to work and so I am wondering if the stub is wrong?

## How is that should be

Either my code is wrong or the annotation in the stub should be expanded to include this case.

## System information

- OS:

[2022-02-25 17:49] AustinScola commented on #760
I'm seeing this issue too. It seems that the first run if there is no cache works, and subsequent runs work if files have changed. But if nothing has changed then I see this error.

Is there any plan to fix this?

[2022-02-25 21:29] AustinScola commented on #760
Maybe related to https://github.com/typeddjango/django-stubs/pull/725?

[2022-02-25 21:31] AustinScola commented on #818
@sobolevn would you mind explaining the `do_not_cache` flag that you are talking about? I don't see how that link is related?

[2022-03-02 14:43] adamchainz commented on #818
@sobolevn didn't press "y" on GitHub to fix to a commit, when copying that link, and the file changed since. I think this is the intended link: https://github.com/python/mypy/blob/6de254ef00f99ce5284ab947f2dd1179db6d28f6/mypy/nodes.py#L3153-L3164

Looks like the attr is named `no_serialize`.

[2022-03-03 13:30] AustinScola commented on #818
Thanks @adamchainz. I'm still not sure what is meant by:

What  is the `Annotated` field being referred to here?

[2022-03-03 13:40] adamchainz commented on #818
I'm not sure either, I haven't looked at mypy internals much. But `Annotated` is this class in typing: https://docs.python.org/3.10/library/typing.html#typing.Annotated . I assume it's used inside django-stubs.

[2022-03-03 14:22] RJPercival commented on #299
This seems like a Django bug to me - have you reported it to them?

[2022-03-03 15:53] RJPercival commented on #299
[I've reported this to Django](https://code.djangoproject.com/ticket/33558), as I couldn't find anything similar in their bug tracker.

[2022-03-04 14:32] RJPercival commented on #299
Django don't intend to fix this: https://code.djangoproject.com/ticket/33174

[2022-03-04 18:00] w0rp opened #863 "Making QuerySet classes part of the type of Manager classes"
This is not a bug report, but a suggestion for a feature. This is a breaking change and requires some hackery. It's something I'm doing in my project, and something to consider for other projects. At the very least this will explain to others how to do what I'm doing.

I use this library with [Pyright](https://github.com/microsoft/pyright) and without the `mypy` plugin. I have found a rudimentary

[2022-03-05 00:17] nickmccullum commented on #471
I'm having this issue to. Is there a fix?

[2022-03-08 16:45] patrick91 commented on #853
I've used versions from github if someone wants to try this before it gets released :D

[code]

[2022-03-10 07:34] himanshu-balasamanta commented on #859
I think your code could be incorrect.
try printing length before it is passed as an argument. It doesn't resolve into length of the field passed as parameter, as the Length class internally accepts the object for whom the length of the field is to be calculated.... The line where you called Length class doesn't pass the object internally.
Try changing your code to
[code]
this should work, as annot

[2022-03-11 10:58] littlebtc opened #867 "check in CheckConstraint should support expression"
# Bug report

## What's wrong

As of Django 3.1 ([#30484](https://code.djangoproject.com/ticket/30484)), the CheckConstraint supports `Q` and boolean `Expression`, but only `Q` is allowed in current type stubs.

By following it is the code snippets from `tests/constraints/models.py` that will throw typing error:
[code]

## How is that should be

Maybe like #806, make `check` accepts `Union[Q, Comb

[2022-03-14 06:05] himanshu-balasamanta opened #870 "Mypy version 0.940 released, causes tests to fail"
On [11th March 2022, Mypy version 0.940](https://pypi.org/project/mypy/#history) was released, causing django-stubs tests run by pytest to fail in Github Actions started on or after 11th Match.
We either need to use version 0.931 of mypy for local testing and Github actions, or find a way around the error `Cannot determine type of "Any"` being thrown due to mypy version 0.940 on running the pytest

[2022-03-14 17:40] patrick91 commented on #870
@Himanshu-Balasamanta this seems to be an issue on MyPy side, version 0.941 should fix this: https://github.com/python/mypy/issues/12339

[2022-03-14 18:17] #870 closed, assigned to nobody

[2022-03-15 09:46] #822 closed, assigned to nobody

[2022-03-15 12:26] PetrDlouhy opened #873 "MultipleObjectMixin and SingleObjectMixin has incompatible types for queryset and context_object_name"
# Bug report

## What's wrong

I have view class in [django-hordak](https://github.com/adamcharnock/django-hordak/blob/1.10.0/hordak/views/accounts.py#L76) defined as:
[code]

Which gives the following mypy errors:
[code]

## How is that should be

Types for `queryset` and `context_object_name` should be made less strict to be compatible similar to solution of issue #152

## System information

-

[2022-03-15 15:36] rolandcrosby-check opened #874 "InlineModelAdmin should be generic over both its own model type and parent model type"
# Bug report

## What's wrong
`InlineModelAdmin` has an attribute `parent_model`, referring to the parent model change form that the inline is attached to, which is currently typed as `Any`. This (or a TypeVar with upper bound of `Type[Model]`) would be OK if that were the only attribute or method depending on the parent model type, but `InlineModelAdmin` also has several methods (currently lackin

[2022-03-16 05:24] himanshu-balasamanta opened #875 "pip install -e django-stubs in virtual environment may sometimes throw errors"
# Bug report

## What's wrong

on running pip install -e django-stubs, the following error is obtained

`WARNING: The user site-packages directory is disabled.
    error: can't create or remove files in install directory`

    The following error occurred while trying to add or remove files in the
    installation directory:

        [Errno 2] No such file or directory: '/usr/lib/python3.8/site-pa

[2022-03-16 05:25] himanshu-balasamanta commented on #875
https://github.com/pypa/pip/issues/7953
The validity of isssue along with workaround is presented here.

[2022-03-16 07:47] #875 closed, assigned to nobody

[2022-03-16 08:31] sebastian-philipp opened #877 "django-stubs doesn't play well with django-environ: raises ImproperlyConfigured: Set the SECRET_KEY environment variable"
# x-post to django-environ: https://github.com/joke2k/django-environ/issues/372
[code]

I get the approach of the django-stubs mypy plugin to execute the `settings.py` and I like the approach of django-environ to read settings from the environment.

How can we combine both?

My workaround right now looks like so:

[code]

[2022-03-16 08:37] sobolevn commented on #877
`SECRET_KEY=xxx mypy --config-file ../mypy-django.ini project`?

[2022-03-16 08:49] sebastian-philipp commented on #877
right, there are plenty of possible workarounds.

[2022-03-16 13:10] himanshu-balasamanta commented on #875
After the warning above, the mypy_django_plugin.main package was unable to be imported.

Take a look at the docs [site.ENABLE_USER_SITE](https://docs.python.org/3/library/site.html#site.ENABLE_USER_SITE)

With the target directory for manually built packages (pip install -e .) not pointing towards the virtual environment, `site-packages` is searched globally instead of the virtual env, leading to.

[2022-03-16 13:25] himanshu-balasamanta commented on #875
@sobolevn  Also, because [this](https://github.com/pypa/pip/issues/7953) issue is mentioned in pip repo, my issue is mostly dependent on the version of pip you use. I have pip 20.0.2 installed, python version is 3.8

[2022-03-17 11:01] himanshu-balasamanta opened #878 "Enable django-stubs to recognise members of a Model introduced through related_name argument"
[code]
django-stubs isn't able to recognise choice_set as a member of Question model.
[code]
Throws error `"Question" has no attribute "choice_set"`

Would like to take it up, need suggestions on how to proceed.

[2022-03-21 15:42] sebastian-philipp commented on #700
Using `no_serialize=True` fixes the issue for me. Though I'm still looking for a reproducer

[2022-03-22 11:33] #700 closed, assigned to nobody

[2022-03-23 10:46] tony commented on #809
@typeddjango: Is there a plan to have a rudimentary changelog at any point?  I suppose whoever tags the version may be in the best position to do that.

The reason why I am curious is django has very descriptive release notes: https://docs.djangoproject.com/en/4.0/releases/

I still can't tell what's happening between django-stubs releases. 🤷

https://user-images.githubusercontent.com/26336/159682

[2022-03-23 21:40] mylesdawson commented on #808
Hello! Has there been any progress on supporting Django 4.0.x? Me and my team would love to use this awesome library that you guys have built

[2022-03-24 12:06] willbeaufoy opened #883 "Error typechecking ManyToManyField manager `request.user.groups.all()`"
# Bug report

## What's wrong

If I use `request.user.groups.all()` in a view (request being an instance of `django.http.HttpRequest`), this runs fine but mypy complains with

`error: Item "ManyToManyField[Sequence[Group], RelatedManager[Group]]" of "Union[ManyToManyField[Sequence[Group], RelatedManager[Group]], EmptyManager]" has no attribute "all"`

## How is that should be

Typechecking should

[2022-03-25 05:54] MrkGrgsn opened #885 "AdminSite.login_form has incorrect type"
# Bug report

## What's wrong

`django.contrib.admin.sites.AdminSite.login_form` attribute has the incorrect type hint. The current type hint is `Optional[AuthenticationForm]`

## How is that should be

It appears that the code is expecting a "Subclass of AuthenticationForm" ([documentation](https://docs.djangoproject.com/en/4.0/ref/contrib/admin/#django.contrib.admin.AdminSite.login_form)). See [

[2022-03-25 17:32] aitorres commented on #324
Hello! Is there any updates on this issue? Any way I could help make a new PR / update an existing PR to solve it? I just ran into this issue on my project too.

[2022-03-26 06:26] sobolevn commented on #853
https://github.com/typeddjango/django-stubs/releases/tag/1.10.0

[2022-03-26 06:26] #853 closed, assigned to nobody

[2022-03-26 06:26] sobolevn commented on #818
https://github.com/typeddjango/django-stubs/releases/tag/1.10.0

Sorry for the delay! :)

[2022-03-26 06:26] #818 closed, assigned to nobody

[2022-03-27 13:22] dimbleby opened #888 "django settings not parsed from pyproject.toml"
# Bug report

## What's wrong

[code]

[code]
## How is that should be

Should Just Work, per README.

Have verified that going back to 1.9.0 the error does not happen.

## System information

- OS:
- `python` version: 3.8
- `django` version: 4.0.3
- `mypy` version: 0.942.0
- `django-stubs` version: 1.10.0
- `django-stubs-ext` version: n/a

[2022-03-27 13:31] dimbleby commented on #888
Ah, I think I see: you've released an update to the main plugin that refactors the config reading; but the rest-framework plugin continues to rely on the old code.

[2022-03-27 13:34] dimbleby commented on #888
And in fact now that I realise that I see that we already have https://github.com/typeddjango/djangorestframework-stubs/issues/202

[2022-03-27 13:34] #888 closed, assigned to nobody

[2022-03-27 16:35] tfranzel opened #890 "`mypy_django_plugin` regression introduced between 1.9.0 and 1.10.0"
# Bug report

So when GHA updated deps to the new version our build broke. This new version throws an attribute error that was not happening before. The recommended setup from the README seems unchanged so its unclear whether some changes are required on our side.

`django-stubs-1.9.0` -> ok
`django-stubs-1.10.0` -> broken

`tox.ini` excerpt:
[code]

traceback:
[code]

for reference a failing acti

[2022-03-27 17:28] sobolevn commented on #890
See https://github.com/typeddjango/djangorestframework-stubs/pull/203

[2022-03-27 17:28] #890 closed, assigned to nobody

[2022-03-28 05:44] #885 closed, assigned to nobody

[2022-03-28 08:41] g-as opened #892 "`AnyAttrAllowed` missing from django-stubs-ext"
# Bug report

## What's wrong

[code]

## How is that should be

I feel there's a mismatch between django-stubs and django-stubs-ext following #753, where a new version of django-stubs-ext containing `AnyAttrAllowed` has not been released.

## System information

- OS:
- `python` version: 3.9
- `django` version: 3.2
- `mypy` version: 0.942
- `django-stubs` version: 1.10
- `django-stubs-ext` versio

[2022-03-28 09:29] FerenetsRoman commented on #892
Have the same issue. Could you please make a release for `django-stubs-ext` to fix it?

[2022-03-28 09:42] mvaled opened #893 "Changed the semantics of Annotated."
# Bug report

## What's wrong

`typing.Annotated` is being reported incorrectly by changing their semantics.  I have a small dataclass like:

[code]

We're using [xotl.plato](https://merchise-autrement.gitlab.io/xotl.plato/) to parse and dump this kind of structures to JSON.  However, this code fails to type-check with:

[code]

Without `django-stubs-ext` mypy would accept that annotations and the

[2022-03-28 15:10] g-as commented on #892
Fixed by 4e3f9d6f06d6253f28638a52b795ad00569fe147

[2022-03-28 15:10] #892 closed, assigned to nobody

[2022-03-28 16:44] ljodal commented on #878
This is supported, but it seems to break if you use a custom QuerySet this way:

[code]

You can use the workaround described in [README.md](https://github.com/typeddjango/django-stubs#my-queryset-methods-are-returning-any-rather-than-my-model):

[code]

At least this seemed to fix the issue in one of my projects. This seems to be a regression in recent `django-stubs` releases though, as this prev

[2022-03-28 17:06] andylolz opened #895 "utils.timesince.timesince should accept an optional integer `depth`"
# Bug report

## What's wrong

My code looks like this:

[code]

When I run mypy, I see the following error:

[code]

It looks like the `depth` argument was added at django 3.2: django/django@8fa9a6d29efe2622872b4788190ea7c1bcb92019

The django-stubs definition doesn’t include the `depth` argument:
https://github.com/typeddjango/django-stubs/blob/4e3f9d6f06d6253f28638a52b795ad00569fe147/django-stu

[2022-03-30 13:59] ethteck opened #898 "module 'mypy_django_plugin.main' has no attribute 'extract_django_settings_module'"
# Bug report

## What's wrong

In trying to update from django-stubs 1.9.0 to 1.10.0 in my project, running `poetry run mypy` causes the following issue:

[code]

## How is that should be
No error

## System information

- OS: Ubuntu 21.10 (Windows 11 WSL)
- `python` version: 3.10.0
- `django` version: 4.0.3
- `mypy` version: 0.931
- `django-stubs` version: 1.9.0 -> 1.10.0
- `django-stubs-ext` ver

[2022-03-30 14:06] sobolevn commented on #898
See https://github.com/typeddjango/djangorestframework-stubs/issues/202

[2022-03-30 14:06] #898 closed, assigned to nobody

[2022-03-31 01:54] LucidDan commented on #477
PR #897 seems to be aimed at changing this but isn't linked to the issue.

One concern I have - if this is changed to an Iterable[T] or even Union[Iterable[T], QuerySet[T]], suddenly anyone relying on the Django default CBV behaviour, which is that it WILL always be a QuerySet will need to start doing an isinstance() check before using queryset methods, or they'll get type errors; e.g
[code]

But

[2022-03-31 02:26] LucidDan opened #901 "BaseListView.object_list should not (only?) be a Sequence, as it is set to a QuerySet in the default CBV"
# Bug report

## What's wrong

The recent addition of Sequence for BaseListView.object_list breaks code that expects it to be a QuerySet (which is the default behaviour in Django CBVs, unless you override the queryset attribute or get_queryset method).

A commit adding a failing test case can be found here: https://github.com/LucidDan/django-stubs/commit/7ec7761708653439945a589d08d98e6174e7c6b9

#

[2022-03-31 07:21] #839 closed, assigned to nobody

[2022-03-31 13:39] flaeppe opened #903 "Custom queryset methods returns `Any` on cached runs"
# Bug report

I have a manager with custom queryset methods getting return types of `Any`, on cached runs.

## What's wrong

I've investigated the issue with pdb and realised that the cached metadata on `django.db.models.managers.Manager` is seemingly incorrect. A lot of times the plugin is writing data to `metadata` on the `django.db.models.managers.Manager` `TypeInfo` during semantic analysis. H

[2022-03-31 13:56] RJPercival opened #905 "AssertionError raised when calling Manager.from_queryset()"
# Bug report

## What's wrong

When the argument to `models.Manager.from_queryset()` is a type alias, the following `AssertionError` is raised:

[code]

If it is a class with a type argument, it instead raises here:

[code]

## How is that should be

It should support both type aliases and classes with type arguments.

## System information

- OS: macOS 12.3
- `python` version: 3.8.3
- `django` ve

[2022-03-31 20:37] #903 closed, assigned to nobody

[2022-04-01 08:12] ljodal opened #906 "AssertionError on Union with custom QuerySet/Manager"
# Bug report

## What's wrong

Mypy crashes with an assertion error if a variable has a union type of two different, custom querysets. I have a branch with a test case to reproduce the issue [here](https://github.com/ljodal/django-stubs/tree/union-queryset-crash). I haven't had time to look at fixing this yet, but I think it's a simple case of adding support for this case.

[code]

## How is that

[2022-04-02 02:19] Mng-dev-ai opened #908 "Need type annotation for "field_name""
## What's wrong
mypy complains about `Need type annotation for "field_name"` if an abstract model is imported from another folder but works fine if it was in the same folder
[code]
## How is that should be

Should work fine in both cases
## System information

- OS:
- `python` version: 3.10.2
- `django` version: 3.2
- `mypy` version: lastest
- `django-stubs` version: lastest
- `django-stubs-ext` v

[2022-04-02 23:06] sterliakov commented on #873
Probably I misunderstand something, but it looks like unsafe code. `SingleObjectMixin.queryset` is a queryset to `get_object` from, it should be `QuerySet[Account]` (if it is "view listing transactions for account"). `MultipleObjectMixin.queryset` is queryset you operate on (e.g. render in `ListView`) - it should be `QuerySet[Transaction]`. These two bases are really incompatible.

[2022-04-03 03:28] Mng-dev-ai commented on #908
Fixed by import abstracted model given its full path

[2022-04-03 03:28] #908 closed, assigned to nobody

[2022-04-03 21:41] #834 closed, assigned to nobody

[2022-04-03 21:41] #848 closed, assigned to nobody

[2022-04-03 21:41] #895 closed, assigned to nobody

[2022-04-03 21:41] #744 closed, assigned to nobody

[2022-04-03 21:41] #874 closed, assigned to nobody

[2022-04-03 21:47] andylolz commented on #895
🙏🏻  thanks both!

[2022-04-07 03:11] MrkGrgsn commented on #878
I'm getting this same warning with 1.10/Django 3.2 where I wasn't when using 1.7/Django 2.2. I don't get the warning if I rollback to 1.9.  It's even occurring for models using the default manager.

[2022-04-07 07:32] ljodal commented on #878
You might also be affected by https://github.com/typeddjango/django-stubs/pull/902, which is in master but is not released on pypi yet

[2022-04-07 16:10] jeking3 opened #914 "ValidationError error_code type is incorrect as of 1.10 release (with Django 4...)"
# Bug report

## What's wrong

Version 1.10.1 release has a type error that 1.9.0 did not.

#767 added ValidationError type hints but seems to be wrong!

In particular https://github.com/typeddjango/django-stubs/pull/767/files#diff-3d6bcffaa859b600adce0172d5aeff213edea0b62ff8aa2812193a69e7cccad0R30 is incorrect in that the value type for an error_dict appears to be an error_list, not a bare Valida

[2022-04-08 01:08] MrkGrgsn commented on #878
Thanks for the pointer @ljodal, using master resolves the issues for me.

[2022-04-09 07:06] #914 closed, assigned to nobody

[2022-04-09 13:38] skylander86 opened #916 "`typing.Protocol` is not supported in Python < 3.8"
# Bug report

## What's wrong

On Python 3.7, importing `django_stubs_ext` causes `ImportError: cannot import name 'Protocol' from 'typing' (/usr/local/lib/python3.7/typing.py)`.

This issue only surfaced in django-stubs 1.10.0 and django-stubs-ext 0.4.0.

The workaround in the meantime is to stay on 1.9.0 and 0.3.0.

[code]

## How is that should be

If Python 3.7 compatibility is desired, we shu

[2022-04-09 15:57] sobolevn commented on #916
Please, send a PR!

[2022-04-10 09:34] flaeppe commented on #410
Closed via #909

[2022-04-10 09:34] #410 closed, assigned to nobody

[2022-04-10 13:32] Bhavya-official opened #917 "GSoC 2022 😀🌳"
I am Bhavya Agrawal, a passionate GSoC participant. I want to work on one of the [listed](https://code.djangoproject.com/wiki/SummerOfCode2022) project ideas `Typed Django` for the Django framework.
It sounds interesting to work on.

I know some basics in mypy and am proficient in python.
As a pioneer in the community, please guide me on where I will find beneficial content regarding this idea. Ho

[2022-04-10 13:44] sobolevn commented on #917
Hi, @Bhavya-official!

Thanks a lot for your proposal! I would love to see this happen.
But, Google decided that I am not able to participate in GSoC anymore, because I am Russian.

And since this organization belives that it is fine to ban people based on their nationality, I don't want to be associated with it in any manner.

I am really sad that because of these unlawful actions inocent people

[2022-04-10 13:44] #917 closed, assigned to nobody

[2022-04-11 18:19] christianbundy opened #918 "django-stubs 1.10.1 missing from github"
# Bug report

## What's wrong

django-stubs 1.10.1 is on pypi but not github

## How is that should be

thanks for the release! please push your tags ❤️

## System information

N/A

[2022-04-11 22:34] Syntaf commented on #353
I know this thread is old - but bumping what @haplo asked. Did this ever actually get resolved?

As a workaround, if you'd prefer to make MyPy aware of queryset methods, you can "incorrectly" type the manager on the model, since django-stubs adds manager methods on all querysets:

[code]

For me, personally, I find MyPy more useful for checking queryset attributes rather than the return type of ma

[2022-04-12 07:35] theoden-dd commented on #599
Just a note for successors. Fixing this [conditionally](https://github.com/typeddjango/django-stubs/issues/599#issuecomment-824056866) results in pytest collecting errors like below:
[code]

For me it better worked unconditionally, just:
[code]

[2022-04-12 08:08] KalleDK opened #920 "Incorrect returntype of FormMixin.get_form"
# Bug report

## What's wrong

FormMixin's get_form says it returns in instance of BaseForm

## How is that should be

It should return either an instance of the class given to the method or the class returned by get_form_class

## System information

- OS:
- `python` version: 3.9
- `django` version: 3.2.9
- `mypy` version: -
- `django-stubs` version: 1.10.1
- `django-stubs-ext` version: 0.4.0

[2022-04-12 14:45] sobolevn commented on #918
Done! https://github.com/typeddjango/django-stubs/releases/tag/1.10.1

Thanks!

[2022-04-12 14:45] #918 closed, assigned to nobody

[2022-04-12 16:10] christianbundy commented on #918
Thank you!

[2022-04-12 16:37] christianbundy opened #922 "Queryset type narrowing"
# Bug report

## What's wrong

When we use queryset methods like `.filter()`, the query isn't used to narrow the type of the model. Is this supposed to work, or a reasonable feature that might be added?

[code]

[code]

## How is that should be

I'd love for django-stubs to be ORM-aware, so that `__isnull` is handled, but I'm not sure whether that's a simple patch or a huge project.

## System inf

[2022-04-13 05:11] JohnLiehr commented on #808
Any status update on Django 4 support? Just kicking off a new Django project and would love to use Django 4 + Django Stubs 🔥

[2022-04-14 14:37] g-as commented on #893
Same here, with a pydantic model.

[2022-04-16 15:34] rolandcrosby-check opened #924 "Form.files should be a MultiValueDict"
# Bug report
In #909, [the `BaseForm` class's `files` attribute](https://github.com/typeddjango/django-stubs/blob/f69e0639c74fee0e8ad3d165790ac9804ea4a3f2/django-stubs/forms/forms.pyi#L21) (and everything related to it, like the `files` argument to [`Widget.value_from_datadict`](https://github.com/typeddjango/django-stubs/blob/f69e0639c74fee0e8ad3d165790ac9804ea4a3f2/django-stubs/forms/widgets.pyi

[2022-04-16 23:27] syastrov commented on #579
@bellini666 Thanks for putting together this list. It's interesting to see the areas in Django which are not currently covered by Python's static type system listed in one place.

I wonder if Django could be taught that you can either pass `int` or a `Role` instance to `user.role` here (and the same logic could arguably apply to `Role.__init__`, which could compose well with the `dataclass transfo

[2022-04-17 18:11] sterliakov commented on #924
(disclaimer: it was my commit)

Using `Iterable` was definitely a mistake, yes, it should have been `Mapping[str, File]`.

I will revert this for now in #925 and use `MultiValueDict[str, UploadedFile]` for now again. I see the point that `Mapping[str, Iterable[File]]` is absolutely invalid (it doesn't return iterables as values) and `Mapping[str, UploadedFile]` doesn't work with multiple files upl

[2022-04-18 15:47] rolandcrosby-check commented on #924
@sterliakov thanks for taking a look (and for all the great enhancements you made!)

[2022-04-18 20:06] sterliakov opened #927 "META: issues labels"
I tried to check up the issues that are currently filed here (147 open now). Most of them are labeled as "bug", but not all are real bugs.

Examples:
- #922: it's enhancement proposal, definitely not a bug.
- #901: it's stale (there is no `Sequence` any more)
- #878: seems like it's resolved
- #873: it's a mistake (stubs reveal real issue with code, they are not buggy)
- #837, #832 : enhancement p

[2022-04-18 20:10] sterliakov commented on #927
Also we do probably need second issue template for "Enhancement proposal", because people see "bug" as the only available option and choose it, thus making "bug" tag meaningless.

[2022-04-20 13:21] nbhargava opened #929 "SearchHeadline in `django.contrib.postgres.search` missing definition"
# Bug report

## What's wrong

`SearchHeadline` is defined in `django.contrib.postgres.search`, but it seems to be missing from the stubs. It seems like virtually all other stubs for this file hav ebeen provided.

Failing test case:
[code]

## How is that should be

The stub should roughly match the contents that are here: https://github.com/django/django/blob/main/django/contrib/postgres/search.p

[2022-04-20 19:48] wkschwartz opened #930 "django.db.backends.sqlite3.base.DatabaseWrapper.is_in_memory_db is missing"
Please add [`django.db.backends.sqlite3.base.DatabaseWrapper.is_in_memory_db`](https://github.com/django/django/blob/6f311c7e35090957dd93783b71c5d3af7d5329d4/django/db/backends/sqlite3/base.py#L339)`() -> `[`bool`](https://github.com/django/django/blob/6f311c7e35090957dd93783b71c5d3af7d5329d4/django/db/backends/sqlite3/creation.py#L13-L17).

[2022-04-22 08:01] sshishov commented on #877
Unfortunately the issue is much much more deep here. When using `mypy` in `pre-commit` hooks, usually the isolated environment is created. In this case we HAVE TO add all applications used by django (specified in `INSTALLED_APPS`) inside `additional_dependencies`. Moreover we have to provide all `required` environment variables and sometimes it can be 100+.

The workaround for variables is to crea

[2022-04-23 02:39] christianbundy commented on #927
+1, I would've clicked this (or "feature") if it was an option.

[2022-04-25 05:02] 09F911029D74E35BD84156C5635688C0 opened #933 "Missing TestCase.captureOnCommitCallbacks"
Django 3.2 added `TestCase.captureOnCommitCallbacks()` context manager but this typing package is missing annotations for it.

https://github.com/django/django/blob/stable/3.2.x/django/test/testcases.py#L1260

Checked 1.10.1, master.

[2022-04-25 16:58] sobolevn commented on #933
PR is welcome.

[2022-04-26 11:21] RobertKingOctopus opened #934 "from_db_value not defined in models.JSONField interface"
# Bug report

## What's wrong
When attempting to call the superclass `from_db_value` in a class that inherits from `django.db.models.JSONField`, mypy does not believe that `from_db_value` is defined but it is.
[code]

gives the mypy error
[code]

## How is that should be
Django's JSONField implementation explicitly defines a `from_db_value`, to handle the serialisation of a python dictionary to a

[2022-04-28 10:01] #916 closed, assigned to nobody

[2022-04-28 10:01] #893 closed, assigned to nobody

[2022-04-28 12:49] DamianZaremba opened #938 "Support mypy 0.950"
mypy 0.950 was released a short while ago (https://github.com/python/mypy/releases/tag/v0.950).

`django-stubs` currently enforces a version less than 0.950 (https://github.com/typeddjango/django-stubs/blob/master/setup.py#L23), please enable support for 0.950.

[2022-04-28 14:16] dimbleby commented on #938
per a comment in https://github.com/typeddjango/djangorestframework-stubs/pull/203

- `mypy` releases much more frequently than either `django-stubs` or `djangorestframework-stubs`
- although `mypy` might in principle release a breaking change at any point, such things seem to be very rare.  (I don't know of any example where a `mypy` release has broken these projects, perhaps it has happened?)
-

[2022-04-29 08:38] henribru opened #946 "Patch View to be generic to support djangorestframework-stubs?"
This isn't actually needed for django-stubs, but djangorestframework-stubs uses generic views, so could we add it to the classes monkeypatched by django_stubs_ext? If so I'd be happy to create a PR for that

[2022-04-29 11:44] #938 closed, assigned to nobody

[2022-05-02 09:53] blueyed opened #947 "Bump version for development version"
`version` is defined explicitly in `setup.py` (https://github.com/typeddjango/django-stubs/blob/2ef7ff33091316d02f51950cbfccc12ba434afb8/setup.py#L35).

This causes compatibility issues when using `pip install -e …` for local development, but wanting to revert to the pinned version (`pip install django-stubs==1.10.1`), and pip considering the constraint to be satisfied still.

I am not sure how to

[2022-05-02 09:59] sobolevn commented on #947
I am +1 for automating this, since I usually forget about `-dev` prefix when doing a version bump.

We can add a script for it here: https://github.com/typeddjango/django-stubs/blob/master/release.sh

PR is welcome!

[2022-05-04 15:52] christianbundy opened #948 "error: Need type annotation for dependencies/operations"
# Bug report

I'm not sure what I'm doing wrong, but I'm getting an unexpected Mypy error whenever I make a new migration.

## What's wrong

[code]

## How is that should be

I would expect that this is fine, but I get a `var-annotated` error for `dependencies` and `operations`:

[code]

## System information

- OS:
- `python` version: 3.10.3
- `django` version: 3.2.x
- `mypy` version: 0.941
- `dj

[2022-05-04 18:36] sobolevn commented on #948
This is a mypy bug 😒
Please, use `List[Migration]` (or whatever it is) to make it happy.

Right now this type is considered "partial", so it does not really work for mypy.

Going to close this, because there's nothing I can do here.

[2022-05-04 18:36] #948 closed, assigned to nobody

[2022-05-04 19:43] christianbundy commented on #948
Thanks for the info! Is there a ticket on the mypy repo for this?

EDIT: Nevermind, looks like https://github.com/python/mypy/issues/4547 maybe?

[2022-05-04 19:51] johnthagen commented on #808
@sobolevn Curious is there a list of what remains for Django 4.0 support? I see `django-stubs` 1.10.1 was released only a month ago. Does it have preliminary support for Django 4?

[2022-05-04 20:20] sobolevn commented on #808
Yes, some bits ;)

[2022-05-05 13:55] dfn-certling commented on #444
Is something missing here? Looks like the pull request is approved, but not merged yet.

[2022-05-10 21:13] henribru commented on #946
Or perhaps we could allow passing in additional classes to `monkeypatch`?

[2022-05-10 21:34] sobolevn commented on #946
Yes, extra classes to `monkeypatch` seem like a good idea.

[2022-05-11 13:39] sondrelg opened #954 "Form.clean method return annotation"
# Bug report

## What's wrong

The clean method for Django forms is currently defined as [`Optional[Dict[str, Any]]`](https://github.com/typeddjango/django-stubs/blob/master/django-stubs/forms/forms.pyi#L60).

## How is that should be

Since the clean method just returns `cleaned_data`, it seems like it should match the type of `cleaned_data` (django [source](https://github.com/django/django/blob/