[2018-07-30 13:42] lwm opened #1 "Document plan (so far) for the project"
Create a `REAMDE.md` here and add what @mkurnikov laid out on the chat.

[2018-07-30 13:45] lwm opened #2 "Publish retype/MonkeyType/Django patches for how initial django-stubs generation"
I've suggested over on the chat that:

Up to you however @mkurnikov.

[2018-07-30 13:55] lwm opened #3 "Setup continuous integration"
`django-stubs` will need a test suite so we can be sure that when we refine types and are happy with the result, that we can be sure that they are matching the latest Django HEAD moving forward. It will also give Django core developers confidence that what we say is happening is actually happening and therefore increase our opportunities to gain traction with them.

Here are some references so far

[2018-07-30 13:57] mkurnikov commented on #2
I plan to combine everything I've done in "type extraction pipeline" tool.

Django tweak was just a catch-all wrapper around `admin.autodiscover()` to make stuff importable.

`retype` should just be vendored, because I've changed some core behaviours. The only thing that has any value for upstream is `MonkeyType` tweaks, I plan to publish them as PRs to main repo and separate `MonkeyType-Extension

[2018-07-30 14:01] lwm opened #4 "Integrate machinalis/mypy-django stubs with django-stubs"
The original motivation is coming from the good work of:

  * https://github.com/machinalis/mypy-django

We should merge those types in here.

/cc @dmoisset

[2018-07-30 14:12] lwm opened #5 "Create plugin for django (to accompany django-stubs for integration)"
Following discussion from https://github.com/python/mypy/issues/3539:

I'm kind of a bit fuzzy on what to do for this part and have asked over at https://github.com/python/mypy/issues/3539#issuecomment-408877347 for clarification. Will update this ticket once I understand more (or someone else can feel free to!).

[2018-07-30 15:03] #1 closed

[2018-07-30 15:11] lwm commented on #5
A good explanation has landed over at https://github.com/python/mypy/issues/3539#issuecomment-408888055.

[2018-07-30 15:20] lwm commented on #2
That sounds good, thanks for updating. I think now that we have the initial set of stubs, we can move on with [the other stuff](https://github.com/TypedDjango/django-stubs/issues). We've got this ticket and I've added https://github.com/TypedDjango/django-stubs#how-was-django-stubs-initially-auto-generated so you are nagged to get this done :)

[2018-07-31 13:41] lwm commented on #3
So, following [the mypy test documentation](https://github.com/python/mypy/blob/master/test-data/unit/README.md#running-tests-and-linting) and running some tests, I can see that the the [testcheck.py](https://github.com/python/mypy/blob/master/mypy/test/testcheck.py) file is driving all the test files of [test-data/unit](https://github.com/python/mypy/tree/master/test-data/unit). Something that wa

[2018-07-31 14:01] lwm commented on #3
Alternatively, there is https://github.com/numpy/numpy-stubs/tree/master/tests. It seems like there is no clear consensus on best practice for testing the stub files so far (from discussions ongoing on mypy, typeshed and numpy-stubs). Looks like we'll have to find out what works best for this case.

[2018-07-31 14:11] lwm commented on #3
Asked for advise: https://gitter.im/python/typing?at=5b606d8e95988830b08e8599

[2018-07-31 14:35] JukkaL commented on #3
The fixtures are mostly there to speed up mypy self tests (since there are thousands of them). Everybody else should probably just use typeshed. Mypy also includes tests that don't use fixtures: https://github.com/python/mypy/blob/master/mypy/test/testpythoneval.py.

[2018-08-01 07:13] lwm commented on #4
I've tried to find other efforts and like to them. They may be useful to merge as well.

https://github.com/TypedDjango/django-stubs#other-django-stub-efforts

[2018-08-01 07:16] lwm commented on #5
In order to move this one forward, we need to understand what the `attrs` plugin is doing:

And what the Djang plugin would need to provide in this regard.

Looks pretty hairy to me ...

[2018-08-01 07:30] suutari commented on #4
FYI: I have a mypy-django fork at https://github.com/suutari/mypy-django. It consists of merged commits from other forks (see https://github.com/suutari/mypy-django/network) and some of my own stuff in addition.

[2018-08-01 14:57] lwm commented on #4
Thanks @suutari! Noted in b569a292e8ac9add5247ed0e1889d627edf2f9e6.

[2018-08-01 15:28] lwm opened #8 "Measure distance to 100% type hint coverage"
Reading https://blog.zulip.org/2016/10/13/static-types-in-python-oh-mypy/:

I know we're auto-generating stubs for the entire Django code base, so this method maybe won't work. We'll have covered Django but they will be all of type `Any` in the first instance (or at least, most of them). However, perhaps we can tweak some options to only count types that are not `Any` or some how marked in another

[2018-08-01 15:38] lwm opened #9 "CI: Running mypy against Django modules ASAP"
Following a start on https://github.com/TypedDjango/django-stubs/issues/3.

As mentioned in https://mypy.readthedocs.io/en/latest/existing_code.html#start-small:

So, we could start to run mypy against Django modules using our stubs (already being tested by some methods listed in https://github.com/TypedDjango/django-stubs/issues/3) and then start to publish that we are fairly confident that such

[2018-08-19 01:32] gnprice commented on #4
Hi! One other existing effort which you may find helpful to draw on:

Instagram recently adopted types on the majority of their code. Instagram is a (giant) Django app, and they make a point of having stubs for every library they use -- so they made Django stubs that (IIUC) cover all the parts of the API they actually use. They open-sourced those stubs, here: https://github.com/facebook/pyre-check

[2018-10-16 20:04] toklinke opened #11 "WSGIRequest vs. HttpRequest in shortcuts.render"
I'm currently trying to use mypy on a newly started Django project.
As a starting point, I tried `django-stubs`.
While doing so, I stumbled over mypy complaining about the type of the first argument to `django.shortcuts.render()`.

In the following simple view:
view.py:
[code]

I get this error:

`view.py:9: error: Argument 1 to "render" has incompatible type "HttpRequest"; expected "WSGIRequest"`

[2018-11-02 02:33] Skorpyon opened #12 "Incompatible types in assignment"
[code]

I have bunch of issues related to models. Mypy expect `CharField` instead `str`, don't found `.upper()` method of `EmailField` and lot of other issues related to models fields, because it expect field instances instead it's python representation (stored value).

Can you give me advice why its happen (basically I understood but I interested in your opinion) and what to do.

[2018-11-20 02:29] basicdays commented on #5
Looks a bit fascinating. I would really love that feature, who knows, I might have time to check out what's all involved one of these days.

[2018-11-20 22:19] Skorpyon commented on #12
Any suggestions?

[2018-11-24 23:16] PeterJCLaw opened #13 "Support for top level imports"
Thanks for this stubs project, it's great to see stubs for Django :)

My codebase tends to import Django features from the top available level, like this:
[code]

Unfortunately for me this results in errors when using these stubs:
[code]

However if I change the code to use the deeper imports then it does pass, suggesting that the stubs are being found ok:
[code]

This seems to be generally the ca

[2018-12-01 12:10] lwm commented on #13
Hi @PeterJCLaw, thanks for picking this up! Better ask in https://gitter.im/mypy-django/Lobby if you want to see some answers. I am not sure we are so many working on this right now - it's all a bit up in the air.

[2018-12-01 12:10] lwm commented on #12
Hey @Skorpyon, sorry for no replies. Have you also tried asking on https://gitter.im/mypy-django/Lobby?

There isn't so many people working on this right now.

[2019-01-24 15:47] K0Te opened #14 "Model has no attribute "objects""
Hi,

I've tried installing `django-stubs` and running mypy check on one of my projects.
mypy has zero complaints before, but after installing `django-stubs` it returned ~300 warnings.
Most of them are about various models not having `.objects` attribute.

What approach it recommended in this case ? Is it something that should be fixed in `django-stubs`, or should I use "# type ignore" for such cas

[2019-01-24 16:06] mkurnikov commented on #14
Try install package from original repo
https://github.com/mkurnikov/django-stubs
and add
[code]
to mypy config to enable plugin.

[2019-01-24 16:42] mkurnikov commented on #14
It's by no means production-ready, I pushed very first version to pypi couple of days ago.

For the first issue, try to set `DJANGO_SETTINGS_MODULE` environment variable for your mypy execution, it could help. If it won't, then it's a problem with plugin, please report it with some description.
It's in the README
https://github.com/mkurnikov/django-stubs#installation
sorry, I've forgotten to menti

[2019-01-24 18:08] K0Te commented on #14
Thanks a lot ! I'll create separate issues for further findings.

[2019-01-24 18:08] #14 closed

[2019-01-26 14:36] K0Te opened #7 "Django.db.models.functions missing almost all re-imports"
Initial error: "error: Module 'django.db.models.functions' has no attribute 'Coalesce'" has only: `from django.db.models.functions has only one line: `from .text import Lower as Lower`,  while django has:

[code]

[2019-02-13 12:52] #7 closed, assigned to nobody

[2019-02-20 12:26] mkurnikov opened #27 "Add plugin support for ModelForms"

[2019-02-20 17:13] dvndrsn opened #28 "Django `ForeignKey` error: `Invalid value for a to= parameter` with `str` value"
Hey folks!

Any idea why I'm getting this error on a ForeignKey `to` relation with a string value? The `to` parameter can either be reference to the model class or a string path to resolve the model class (to avoid circular references). If I change this `to` value from a string to a reference to the model class itself, I no longer get the linter warning.

[code]

This code gives me the warning fro

[2019-02-20 18:09] mkurnikov commented on #28
Try master, I recently pushed some code addressing this problem.

[2019-02-22 01:43] mkurnikov opened #30 "HttpResponse __iter__ type"
https://github.com/mkurnikov/django-stubs/commit/eaee3d390f840d90f4428f19fa743f022a327c6d for reference

[2019-02-22 20:26] mkurnikov commented on #28
Closing issue for now, feel free to reopen if problem is still present on the latest release.

[2019-02-22 20:26] #28 closed, assigned to nobody

[2019-02-26 08:23] kolomenkin opened #31 "Cannot find module named 'rest_framework'"
Hi,

Do you have any plans to support Django Rest Framework?

I'm getting the following problem:

[code]

The `mypy --strict` output:
[code]

[2019-02-26 08:25] kolomenkin commented on #31
Sorry, I've found corresponding project:

https://github.com/mkurnikov/djangorestframework-stubs

[2019-02-26 10:01] #31 closed, assigned to nobody

[2019-02-27 21:01] syastrov opened #32 "Incorrect Manager type for child model's objects when parent has circular imports"
After running on an internal codebase, where we have a few places using inherited models, I encountered some issues in figuring out the correct Manager type for an inherited Model (which otherwise works great!), when there is an import cycle.

I created a relatively small testcase that demonstrates the problem:

[code]

`reveal_type(Child.objects)` gives: `Revealed type is 'django.db.models.manage

[2019-03-02 23:55] mattbasta opened #37 "Missing decorator stubs"
I'm seeing a lot of missing stubs errors for Django view decorators:

[code]

I see the decorators in the `django-stubs` repo, and I'm running 0.8.0. Any idea why this might be happening?

[2019-03-04 19:33] Naddiseo opened #38 "CharField with blank=True should not be considered nullable"
AFAIK, `CharField(blank=True,...)` just means that the string can be 0-length, and doesn't mean that it's `Optional`/nullable. The documentation on [`blank`](https://docs.djangoproject.com/en/2.1/ref/models/fields/#blank) also seems to suggest this, saying that it "will allow the entry of an empty value", which for a string is just a 0-length string.

I think the offending code is [fields.py:105](

[2019-03-04 19:52] mkurnikov commented on #38
It's fine to remove it. Thanks!

[2019-03-05 09:51] phwh opened #40 "Type of model is not model's class"
First of all, django-stubs is an amazing project. I built some workarounds for typing Django myself but this project is so much more comprehensive and better. So thank you very much for your work!

However, I have run into my first issue:

For the following code

[code]

mypy complains with the following error message:

[code]

Expecting `Union[Type[Model], str]` is completely correct imho. But si

[2019-03-05 22:11] mkurnikov commented on #40
Technically, `Type[Comment]` is a callable, you can run `Comment(*args)` and it will return objects of type `Comment`, which is what mypy shows in the `reveal_type`.

I tried to reproduce, but had no luck. Could you provide failing test case in the form of
[code]

You can look at the plugin test suite for the format and examples
https://github.com/mkurnikov/django-stubs/tree/master/test-data/typec

[2019-03-05 22:30] mkurnikov commented on #37
Thanks for the report! Fixed it in https://github.com/mkurnikov/django-stubs/commit/627daa55f5a95c4479e2aa5f2d08407a1031c8d2, seems that `__init__` file had leftover `.py` extension.

[2019-03-05 22:37] #38 closed, assigned to nobody

[2019-03-06 17:01] #37 closed, assigned to nobody

[2019-03-06 17:36] mkurnikov opened #42 "Preserve Callable signature for view decorators"
Like it's done here
https://github.com/mkurnikov/django-stubs/pull/41

[2019-03-10 21:09] A-Iskakov opened #43 "models values_list unexpected type warning"
using values_list() on django models gets unexpected type(s) warning

[2019-03-10 21:13] mkurnikov commented on #43
More details?

[2019-03-10 21:13] mkurnikov commented on #43
cc @syastrov

[2019-03-10 21:19] A-Iskakov commented on #43
![image](https://user-images.githubusercontent.com/26543542/54091628-73569200-43ac-11e9-9bf9-67061db2b8d2.png)

[2019-03-10 21:28] mkurnikov commented on #43
What about mypy, does it show any errors? mypy output is a reference for this project, pycharm can have it's own bugs.

[2019-03-11 13:35] phwh commented on #40
Thanks, I will try to reproduce.

[2019-03-11 14:21] phwh commented on #40
Couldn't reproduce. The test case I wrote didn't throw the error.

I probably have a Django model stub in a `pyi` file somewhere in my code that interfered with `mypy-stubs`.

Sorry for the false alarm and keep up the good work!

[2019-03-11 14:21] #40 closed, assigned to nobody

[2019-03-12 20:40] syastrov commented on #43
I think it is due to use of Literal types, which is a mypy extension and also highly experimental according to their docs.
In the interest of compatibility, and because we will probably make values_list smarter in the future, I will make a PR to implement the different return types dependent on parameters in the plugin instead.

[2019-03-12 20:51] syastrov commented on #43
There are Literal types used in a few other places in the stubs, so not sure if we should do something about that. It would be nice to keep the stubs clean of mypy-specific stuff, so they are as generally-useful as possible.

If we don't want to make special-cases in the plugin, then we could solve these cases by making a condition in the stubs, something like:
[code]

[2019-03-12 21:51] syastrov opened #45 "Support stricter QuerySet row types for values/values_list via plugin magic"
I'm gathering a list of things necessary to implement good support for adding specific types for `values` / `values_list` based on the current QuerySet + arguments to those methods + model information.

Basic support:
- [x] Lookup fields passed in on QuerySet's model (probably can reuse a lot of the information already used to support field access on model instances).
- [x] Support 'id' / 'pk' loo

[2019-03-13 18:31] Naddiseo commented on #45
An example of the first one that I ran into the other day:

[code]

This isn't even restricted to related fields, but any nullable field; the queryset filter can refine the type of the output models.

[2019-03-13 19:09] mkurnikov opened #46 "Generic params are not passed correctly to QuerySet methods' return type"
[code]

[2019-03-13 19:10] #43 closed, assigned to nobody

[2019-03-14 16:30] A-Iskakov opened #47 "warning Field is not callable"
Hello guys,
I get multiple warnings while determine field in Model class, such as **EmailField, BooleanField, PositiveSmallIntegerField, PositiveIntegerField, DateTimeField, TextField, NullBooleanField, UUIDField, URLField**
The warning everywhere the same:
This inspection highlights attempts to call objects which are not callable, like, for example, tuples.

[2019-03-14 19:04] mkurnikov commented on #47
I have this in PyCharm, is it present in mypy too?

[2019-03-14 19:41] A-Iskakov commented on #47
I am also having this in Pycharm only

[2019-03-15 18:33] Naddiseo opened #48 "KeyError: 'django.conf.global_settings'"
Not sure where to report this, or even how to debug it, but I've been receiving the following error for the past few days that seems to be coming from django-stubs:
[code]

Unfortunately, our codebase is too big to reduce to a test case, but I can do local debugging if you let me know what/where to look.

[2019-03-19 15:57] aleksanb opened #51 "Type inference fails for foreign keys with custom app names"
If you have a foreign key or similar that refers to a model with a string, and you have a custom app name for the app where that model lives, the inferred type falls back to Any:
[code]

mypy-django will look for the model User in a file called hyre__user, but only hyre.user exists in `all_modules` in helpers.py.

[2019-03-19 16:51] syastrov commented on #47
I've also experienced this in PyCharm.

[2019-03-19 17:49] ivanrvpereira opened #52 "Catch type error on django models"
It is possible to have type errors for django models?

[code]

It would help a lot if this could be caught earlier on the editor.
Because all models inherit from `models.Model` and

I' m trying to figure if there is an option to detect this errors.

[2019-03-22 23:56] syastrov commented on #45
That sounds like a great idea. I wonder if there any edge cases.

[2019-03-23 21:11] syastrov commented on #52
Looks like a bug caused by setting fallback_to_any to True on the Model type in the plugin.
I will make a PR with a fix.

[2019-03-25 09:53] #45 closed, assigned to nobody

[2019-03-26 07:37] raysry commented on #47
I've also experienced this in PyCharm!

[2019-03-26 14:36] mkurnikov commented on #47
Difference between "callable" and "non-callable" fields in this case is that callable ones have their `__init__` method redefined, I assume bug in PyCharm is
(if this is a contents of stub file)
[code]

`ChildField` will not be callable in source code, according to pycharm.

[2019-03-27 05:32] ncvc commented on #48
I'm also getting this error on Python 3.6.5 with
[code]

But uninstalling `mypy-mypyc` and installing `mypy==0.670` works for me.

@Naddiseo can you check if this workaround works for you too?

[2019-03-27 09:07] mkurnikov commented on #48
@ncvc This means that my monkeypatches aren't going to work anymore after https://github.com/python/mypy/issues/6588 lands...

[2019-03-27 19:02] msullivan commented on #48
What does django-stubs need in order to not need to monkeypatch any mypy internals? We can arrange to have the right hooks, within reason.

[2019-03-27 19:18] mkurnikov commented on #48
There are two:

1. https://github.com/mkurnikov/django-stubs/blob/master/mypy_django_plugin/monkeypatch.py#L15

It forces mypy to load modules which never appear in the import graph: `django.conf.global_settings`, value of `DJANGO_SETTINGS_MODULE` and (recently added) `mypy_extensions` to be able to generate `TypedDict` objects dynamically.

Probable workaround: ask users to seed from those places

[2019-03-27 20:17] msullivan commented on #48
It seems to me that 1 isn't necessarily needed and should fall out of adding the dependencies (at least, if the dependencies are to stubs, which are always follow=normal?).

With that in mind, it seems like it should be sufficient to add a hook that allows a plugin to add additional dependencies to a module?

[2019-03-27 20:27] mkurnikov commented on #48
So, I will be able to express "make a `config.settings.my_local_settings` a dependency of `django.conf`", and mypy will make sure it's loaded before `django.conf`, right? This should be sufficient.

[2019-03-27 20:45] msullivan commented on #48
Yeah

[2019-03-28 20:13] #52 closed, assigned to nobody

[2019-04-01 12:01] cs-cordero opened #61 "Model Field in type annotation runtime error"
Originally posted on the gitter:

[2019-04-01 19:11] rafales opened #62 "Assertion errors when working with existing codebase"
I'm having one more problem. Background: I'm adding typing to 2y+ codebase, written in django. I started with those mypy settings:
[code]

I'm running mypy with a set of files and modules which are considered to be properly typed, not all files. The problem is that I often run into this problem:

[code]

This seems to be happening because of mypy cache. Running `rm -rf .mypy_cache` always fixes th

[2019-04-01 19:22] mkurnikov commented on #62
I had the same problem with the plugin on internal codebase, wasn't able to fix it. `incremental=False` works fine, and is a nicer alternative to removing cache after each run.

`mypy.fixup` module, where error happens, is responsible for resolving dependencies after deserialization from mypy cache. So, I think it's just a mypy bug, it stumbles over module relationships in complex Django codebases

[2019-04-01 20:41] rafales commented on #62
Problem lies in a file where I refer to `CensuredUser` like this:

[code]

From quickly looking through cache it seems that `models.meta.json` for a file which refers to `general.models.CensoredUser` doesn't contain `general.models` in `dependencies` which is probably the reason why loading cache fails.

Now need to figure out why the entry is missing from `dependencies`.

[2019-04-02 14:54] ilevkivskyi commented on #48
Is this still relevant or can be closed in view of https://github.com/python/mypy/pull/6598 being already merged?

[2019-04-02 14:57] mkurnikov commented on #48
It's going to be relevant when 0.700 will be out, should be closed after a merge of this one https://github.com/mkurnikov/django-stubs/pull/60. Current `django-stubs` does not support 0.700, I just wait for it to be out to release compatible version.

[2019-04-03 15:48] higherorderfunctor opened #63 "Type of fields on non-model classes resolves to return type"
Fields on non-model classes are resolving to the return type as if they were on a model.  Use case is binding the field with other data in order to access its field name and to_python methods while doing data collection.

[code]

[2019-04-04 02:45] IMBlues commented on #47
I've also experienced this in PyCharm.

[2019-04-06 12:09] Rocamonde commented on #47
I am also experiencing this issue in PyCharm 2018.3.3, Python 3.7, Django 2.1

[2019-04-06 19:52] A-Iskakov commented on #47
The problem almost fixed in Pycharm 2019.1, except for `django.contrib.postgres.field.JSONField`

[2019-04-10 20:53] syastrov commented on #62
Maybe it's possible to solve with the new `get_additional_deps` hook (although I guess to determine the additional dependencies, the AST has to be walked to find the `to` parameter)?

[2019-04-11 22:39] syastrov commented on #63
At the moment, the stubs represent the most common scenario of fields being instantiated and assigned to attributes inside of model classes.
To make that work, `Field` in the stubs implements the descriptor protocol (e.g. has a `__get__` method).

It's not exactly the truth of how it works in Django (after some poking through the code). `Field` in Django itself isn't a descriptor.
When a model is

[2019-04-12 11:54] #48 closed, assigned to nobody

[2019-04-12 11:57] mkurnikov commented on #62
I've committed some related code in https://github.com/mkurnikov/django-stubs/commit/aeb435c8b3c9c248fe0ddee7caead8f5c6b0a35c. Could you check out `master`?

[2019-04-12 12:24] mkurnikov opened #64 "Make stubs compatible with disallow_any_generics=True"

[2019-04-12 12:25] mkurnikov commented on #61
Could you confirm whether errors goes away when you specify `disallow_any_generics=False` in the config file?

Currently `django-stubs` is incompatible with this setting, I've created issue for that https://github.com/mkurnikov/django-stubs/issues/64.

[2019-04-18 12:12] pirate opened #68 "Requiring field annotations even though type can be inferred from field type"
Right now mypy is complaining that my fields aren't annotated with types.

![Screen Shot 2019-04-18 at 8 11 05 AM](https://user-images.githubusercontent.com/511499/56360145-abbe6c80-61b1-11e9-9c82-71dba4fed778.png)

Is this expected behavior? If so, why? Cant the type be inferred from the field value itself?

Thanks!

[2019-04-18 12:46] mkurnikov commented on #68
Did you set `plugins = mypy_django_plugin.main` in your `mypy.ini`?

[2019-04-18 15:45] pirate commented on #68
Yup (and other Django type hints seem to be working).  Here are my two config files:

`mypy.ini`:
[code]

`mypy_django.ini`:
[code]

[2019-04-23 12:58] nuschk opened #69 "TypeError when using QuerySet generic"
This is probably a silly question. I'm getting runtime errors when using the QuerySet[] generic.

Consider this file:

**mypy_test.py**
[code]

Mypy is working as expected (which tells me, I've configured django-stubs correctly):

[code]

Only, I can't import this file:

[code]

Why is the interpreter even trying to make sense of the type annotations? I'm confused, appreciating any help!

Oh, and

[2019-04-23 13:01] mkurnikov commented on #69
Use quotes around the annotation like that, `'QuerySet[Model]'`, as `QuerySet` does not yet support `__class_getitem__` and therefore not subscriptable.

[2019-04-23 13:29] snoepkast opened #70 "error: "HttpRequest" has no attribute "user""
Hi there,

I have the following code:

[code]

Which results in:

[code]

Which is probably because the HttpRequest class doesn't really have the user but it is almost always added through the authentication middleware (either User or AnonymousUser).

So how do I fix this?

[2019-04-23 14:46] nuschk commented on #69
Ugh, that would never have occurred to me. Thanks!

[2019-04-23 14:46] #69 closed, assigned to nobody

[2019-04-24 22:15] cs-cordero commented on #61
Yes, it seems the errors do go away when you specify that setting in the config file.

[2019-04-29 14:31] andreymal opened #72 "Python 3.6: ModuleNotFoundError: No module named 'dataclasses'"
Your fix https://github.com/mkurnikov/django-stubs/commit/dcb4da378b50055e338eae95a50fa38357fa66be is actually not working, because it seems that the `.whl` file was built using Python 3.7 and the `dataclasses` dependency was not added to the wheel.

[code]

[2019-04-29 17:05] mkurnikov commented on #72
Thank you for reporting this!

Guess it's time to teach travis ci to release wheels, instead of doing it manually...
https://docs.travis-ci.com/user/deployment/pypi/

[2019-05-15 17:39] PeterJCLaw opened #75 "Module 'django.core.cache.backends' has no attribute 'memcached'"
Thanks for these type stubs. I'm just trying them out on a large Django codebase and I've hit a warning which seems incorrect:

[code]
will emit an error about the `memcached` backend not being present:
[code]

[2019-05-15 17:40] PeterJCLaw opened #76 "Module 'django.db.backends.postgresql' has no attribute 'base'"
Thanks for these type stubs. I'm just trying them out on a large Django codebase and I've hit a warning which seems incorrect:

[code]
will emit an error about the `base` module not being present:
[code]

[2019-05-15 17:44] PeterJCLaw opened #77 "Module 'django.db.models.deletion' has no attribute 'get_candidate_relations_to_delete'"
Thanks for these type stubs. I'm just trying them out on a large Django codebase and I've hit a warning which seems incorrect:

[code]
will emit an error about the `memcached` backend not being present:
[code]

(sorry these ended up as three separate issues, in hindisght it might have made more sense to report them in the same go)

[2019-05-15 19:18] PeterJCLaw opened #78 "method_decorator should accept list first argument"
The following code is valid, but yields a warning I think is incorrect:
[code]
errors with:
[code]

I'm guessing the fix is to add `List` or perhaps `Sequence` or `Container` into the allowed container types in the union. (If you agree that's a good solution I'd be happy to put up a PR)

[2019-05-15 19:30] PeterJCLaw opened #79 "FormMixin is incompatible with SuccessMessageMixin"
From what I can tell, the Django sources for these two are fine to be mixed together, however the type annotations seem to disagree:

[code]

I suspect that the signature of `FormMixin` is the one we want to use, so the fix is to update `SuccessMessageMixin` to match. (If you agree that's a good solution I'd be happy to put up a PR)

[2019-05-16 10:09] PeterJCLaw commented on #70
It would be great to have a general solution for this -- Django has several things which are added by middleware (the other one which immediately springs to mind is the `session` attribute).

[2019-05-29 15:44] kylebebak opened #82 "Foreign key reverse relationship: proper types for `<relatedmodel>_set` attributes"
Right now a model instance's `<relatedmodel>_set` attribute has a type of `object`, when the type should actually be `django.db.models.manager.Manager[RelatedModel]`.

For example, `Organization.objects.first().user_set.all()` has a type error. `Organization.objects.first()` has the correct type of `Organization`, but if there is a `User` model with an FK to `Organization`, `Organization.objects.f

[2019-06-01 16:17] kam1sh opened #83 ""Type[Model]" has no attribute "objects" (again?)"
Hello. I tried to use your package yesterday and I like it, although I've encountered one issue, when the django model I was accessing had no attribute 'objects', according to mypy. So it's like #16:
[code]
The repo where I found that is https://github.com/kam1sh/anchor.

Also, I looked at django-stubs source code, and the class had no 'objects' field at all. Is it intended?

https://github.com/mk

[2019-06-01 16:24] mkurnikov commented on #83
Try to enable plugin in `mypy.ini` via `plugins = mypy_django_plugin.main`. Let me know if it helped.

[2019-06-01 16:37] kam1sh commented on #83
I've already enabled that, but did not commited yet =)

Also, without plugin there is no errors at all, but they showed up when I installed `django-stubs` (and `typing` with `typing-extensions` as its dependencies):
[code]

[2019-06-01 16:43] mkurnikov commented on #83
Yeah, this is `Form` related stuff, I don't think I tested it much. On internal codebases we only used APIs with DRF.
Probably a valid bug then.

[2019-06-01 16:49] kam1sh commented on #83
I don't ise forms a lot too, those were created by [cookiecutter](https://github.com/audreyr/cookiecutter) template automatically.

I'll try to fix that and file a pull request tomorrow.

[2019-06-01 20:02] antonagestam commented on #79
Yes, I believe restricting `SuccessMessageMixin.form_valid` to take `Form` instead of `BaseForm` violates the Liskov substitution principle.

[2019-06-02 10:23] #79 closed, assigned to nobody

[2019-06-02 13:52] PeterJCLaw commented on #79
Unfortunately that fix doesn't seem to completely resolve the issue for me. I'll put up a PR with a proposed fix.

[2019-06-02 19:40] antonagestam commented on #79
@PeterJCLaw Oh yeah, that makes sense I guess.

Is there a way to use an ABC to make sure view-mixins have the right shape in typestubs?

[2019-06-03 11:54] bluetech commented on #83
The errors you describe in the issue are due to the typing of `get_user_model()`:

[code]

Indeed given just a general `Model` you can't know that there is an `objects`, and it will be useless anyway.

You have two avenues to improve this as far as I can see:

1. Change your code to not use `get_user_model` but use a concrete model instead. This is only possible if you don't need to support any ar

[2019-06-03 19:12] PeterJCLaw commented on #79
I'm not sure if that's possible in type stubs. I'd guess it probably is, though not a pattern I've seen.

I'm guessing you mean something like this:
[code]

I'm not sure whether that's any better than just duplicating the signature and adding a test (the latter being what I've done in that PR).

I suspect that duplicating the signature is probably clearer and (at least for small numbers of duplica

[2019-06-06 06:04] kam1sh commented on #83
I dived in the Django sources, and `AbstractUser` **has** `objects` class variable ([contrib/auth/models.py](https://github.com/django/django/blob/581a0f45453f178b8abc0d09bd16ce06309ed33a/django/contrib/auth/models.py#L327))

So then maybe signature should be like `get_user_model() -> Type[AbstractUser]` and `AbstractUser` have a `objects = ClassVar[UserManager]`?

P.S.: I found yours [mypy hook](

[2019-06-07 01:37] kylebebak commented on #82
@mkurnikov
Hey Maxim, any idea how tough this would be to implement?

And I'd be glad to help on it if you could point me in the right direction. I'm fairly proficient with mypy, and building a feature like this could be a good learning experience.

[2019-06-10 02:25] kylebebak commented on #82
Nvm, I'm a real dumb dumb.

This was my bad, I didn't realize that `Organization.objects.first()` has type `Optional[Organization]`, and not type `Organization`, which was the source of all my problems.

`Organization.objects.get(id=1).user_set.all()` works just fine.

Closing this.

[2019-06-10 02:25] #82 closed, assigned to nobody

[2019-06-11 10:05] sobolevn opened #89 "Django2.2 support"
HI, @mkurnikov! Thanks for building this package.

Are there any plans on `django@2.2` support? Since it is LTS, it might be a good idea to use this version.

And a general question: what is your idea about different versions support?
Is there any existing discussion about it?

[2019-06-11 10:21] mkurnikov commented on #89
There was no discussion yet.

I think two possibilities here is to:
1. Support only the latest version of Django, luckily it's LTS, so it's the additional incentive. Also, we probably should work on DEP and integrating the package officially.
2. Go `if DJANGO_2_1 else` route (I don't like it).

I have some time to work on a package now, so expect it to be updated to 2.2 soon.

[2019-06-11 10:48] sobolevn commented on #89
Awesome! Looking forward to test it and provide a feedback.

[2019-06-14 08:46] pirate commented on #68
Bump, have any ideas?  Is this expected behavior?  If not, where can we look to solve it? Thanks!

[2019-06-16 16:54] PeterJCLaw opened #91 "Use NewTypes for model pks"
I was wondering whether there was any plans or desire to use `NewType`s for model primary key fields. This would allow for stronger typing when passing model ids around, rather than those ending up as being `int` (or similar).

This might look like this:
[code]
(I'm not set at all on the primary key type being a subclass and I appreciate that actually using the type at runtime would require change

[2019-06-17 17:51] emilgoldsmith opened #93 "v0.12.1 broke the mypy_django_plugin"
I was just trying to install this package for the first time, but kept getting import errors `Error importing plugin 'mypy_django_plugin.main'` which seems to be the same error you get if you just write something gibberish, aka it can't find the package. I was super stumped for a while and was debugging a lot, ending up also trying to install another plugin just to see if it was mypy but that work

[2019-06-18 05:38] emilgoldsmith opened #94 "v0.12.0 seems to have been published with dev code"
So as I mentioned in my previous issue I got this package to work by downgrading to 0.12.0, after a few runs it started once in a while crashing with this error message though:

![django-stubs bug](https://user-images.githubusercontent.com/18149242/59655591-25b3a780-919b-11e9-84a5-0c92b7fbd5d9.jpg)

After some more debugging I found that there was a function in my distro version that's not in the

[2019-06-18 06:02] emilgoldsmith commented on #94
For anyone out there having the same problems as I, I just cloned this repo and published the v0.12.0 tag under the package name `emil-fixed-django-stubs` until this package becomes stable again.

On a side note, I know I've been logging some pretty critical bugs here lately, but I really do enjoy the package, thank you so much for it! As soon as I got it to work the first time it found a 500 serv

[2019-06-24 17:37] takkaria opened #95 "Look for settings in setup.cfg"
It would be useful if the plugin looked for `setup.cfg` as well as `./mypy_django.ini` to avoid having to set env vars / type out a long string every time I use mypy.  Happy to submit a patch.

[2019-06-24 17:57] blueyed commented on #95
Yeah, thought the same.. :+1:

[2019-06-24 20:10] sobolevn commented on #95
@takkaria would be awesome to have it! 🚀

[2019-06-28 07:48] henribru opened #96 "Mypy 0.710 support"
Mypy 0.710 was released last week, but the setup.py is specifying `<0.710`. Are there compatibility issues with this version that makes this necessary?

[2019-06-28 08:03] sobolevn commented on #96
See https://github.com/mkurnikov/pytest-mypy-plugins/issues/3

I am sure there might be other issues as well.

[2019-07-01 15:21] mkurnikov commented on #96
I have updated `master` to 0.710, please test it.

[2019-07-01 15:49] #78 closed, assigned to nobody

[2019-07-01 15:50] #77 closed, assigned to nobody

[2019-07-01 17:23] sobolevn commented on #72
I copy my message from gitter here as well:

Here's a working example of how to release wheels from travis https://github.com/sobolevn/django-split-settings/blob/master/.travis.yml#L20

An extra step is to add protected CI environment like so: https://docs.travis-ci.com/user/environment-variables/#defining-variables-in-repository-settings

We also need to build wheels like this: `distributions: "s

[2019-07-01 19:40] mkurnikov commented on #89
Fixed in https://github.com/mkurnikov/django-stubs/pull/98

[2019-07-01 19:40] #89 closed, assigned to nobody

[2019-07-06 14:59] theriverman commented on #93
I can confirm the very same have happened to me. Spent way too many minutes to figure out why am I getting `Error importing plugin 'mypy_django_plugin.main'`. Then rolled one release back and suddenly everything seems to be OK.

[2019-07-09 02:18] #76 closed, assigned to nobody

[2019-07-10 12:06] nuschk opened #104 "First argument of localdate() and localtime() should be Optional"
In timezone.pyi, instead of

[code]

these should quite simply be:

[code]

This is true for django >= 1.11, so well within the scope of django-stubs.

Oh, and thank you so much for this great package! <3

[2019-07-10 12:35] sobolevn commented on #104
Yes, I confirm that this is true: https://github.com/django/django/blob/master/django/utils/timezone.py#L191-L211

[2019-07-10 12:58] #104 closed, assigned to nobody

[2019-07-11 06:01] nuschk commented on #104
Thanks!

[2019-07-12 17:52] asfaltboy commented on #93
Can confirm same happened to me, downgrade to 0.12.0 helps, am on MacOS and Python 3.6.4

[2019-07-15 11:54] scop opened #108 "Internal error with mypy 0.720's new semantic analyzer"
I'm seeing internal errors with mypy 0.720's new semantic analyzer. No minimal reproducer yet, but perhaps you can make some sense of the traceback alone:

[code]
Same thing with current django-stubs master.

Running mypy with the `--no-new-semantic-analyzer` flag works around it for now, but that flag is going away soon.

[2019-07-15 13:59] mkurnikov commented on #108
This is a big rewrite incoming, which will be using Django's `AppRegistry` and new semantic analyzer, should be out in a week or so. Stay tuned, all those issues should be fixed there.

[2019-07-17 12:01] bygri commented on #93
This appears to be only an issue with both 0.12.1 and Python 3.6. 0.12.1 with Python 3.7 works fine.

[2019-07-18 14:01] ynikulin opened #110 "Inconsistent behavior depending on cache"
Hello,

[code]

When I run `mypy .` I got **113** errors, but if I will run it again I got **371** errors.

To fix it - I remove local `.mypy_cache` and all fine, I got base **113** errors.

Can you please give me some advice :) Thanks.

[2019-07-18 14:56] sobolevn commented on #110
@ynikulin thanks for using this library and reporting and issue! Currently the big rewrite process is going on.

The best advice I can give is to wait for it to be released and use it.

I am not sure that your problem will be solved in the old version.

[2019-07-18 15:27] ynikulin commented on #110
Thanks, for the answer! Good luck! Will wait :)

[2019-07-19 09:53] ivanrvpereira commented on #83
I use an abstract `BaseModel`, and for models using this `BaseModel` class mypy gives the `"Type[Model]" has no attribute "objects" `

[2019-07-19 12:36] sobolevn opened #112 "Add pull request template for github"
We need to ask for docs to the original source when types are updated.
We would also want to know which version are affected: 2.1, 2.22, 2.2+, etc

Example: https://github.com/wemake-services/wemake-python-styleguide/blob/master/.github/pull_request_template.md

[2019-07-19 17:16] mkurnikov commented on #83
If `BaseModel` does not depend on `django.db.models.Model`, it won't work.

[2019-07-19 22:11] Yobmod commented on #70
I don't know if it makes sense to do, but I tried changing my request type to WSGIRequest, which subclasses HTTPRequest and adds a user attribute (as AbstractUser).
It silenced the error at least....

[2019-07-19 23:15] mkurnikov commented on #70
It could be added as a plugin, like, "if some `AuthenticationMiddleware`", add `user` to some `HttpRequest`". We need some way to describe this fact in the middleware class.

[2019-07-20 19:53] mkurnikov commented on #83
If issue is indeed with `get_user_model()` typing, it should be fixed in https://github.com/typeddjango/django-stubs/pull/109

[2019-07-20 20:10] mkurnikov commented on #63
I've fixed it in https://github.com/typeddjango/django-stubs/pull/109/commits/ad44a4035365e0869780143624080e1545c6ab62

[2019-07-22 13:55] ivanrvpereira commented on #83
`BaseModel` depends on `django.db.models.Model`

![Screenshot 2019-07-22 14 25 01](https://user-images.githubusercontent.com/183991/61636204-1093d200-ac8d-11e9-82f1-e633d1fb416e.png)
![Screenshot 2019-07-22 14 24 45](https://user-images.githubusercontent.com/183991/61636216-14bfef80-ac8d-11e9-8bf6-a4703bf99bae.png)
![Screenshot 2019-07-22 14 24 53](https://user-images.githubusercontent.com/183991/

[2019-07-22 13:57] mkurnikov commented on #83
Wait for https://github.com/typeddjango/django-stubs/pull/109, I've added default `objects` to `models.Model` there and fixed a bunch of related bugs. I would be great if you'd test it now, so that I could fix your case before merging.

UPD. Problem here, I think, is because `BaseModel` does not have `objects` itself, because it's abstract. It's just a guess though. Try new PR=)

[2019-07-24 13:49] ivanrvpereira commented on #83
Installing #109 version fixes the reported error, but another one came up. I don't know if it is related with the version on #109
`Error importing plugin 'mypy_drf_plugin.main'`

[2019-07-24 14:44] mkurnikov commented on #83
DRF plugin is not compatible to new branch yet, sorry.

Will be at the end of the week.

[2019-07-25 17:14] #72 closed, assigned to nobody

[2019-07-25 17:14] #96 closed, assigned to nobody

[2019-07-25 17:14] #108 closed, assigned to nobody

[2019-07-25 17:14] #46 closed, assigned to nobody

[2019-07-25 17:14] #51 closed, assigned to nobody

[2019-07-25 17:14] #62 closed, assigned to nobody

[2019-07-25 17:14] #63 closed, assigned to nobody

[2019-07-25 17:14] #70 closed, assigned to nobody

[2019-07-25 17:14] #83 closed, assigned to nobody

[2019-07-26 03:52] kylebebak opened #114 "Don't make psycopg2 a dependency"
Installing `pscyopg2` can be difficult on many platforms.

Making this a dep for type stubs seems **really** excessive to me.

[2019-07-26 08:18] sobolevn commented on #114
One can also use `psycopg2-binary` and they might conflict.

[2019-07-26 14:41] withthelemons opened #116 "mypy_django_plugin cannot find module with settings"
snippet from mypy.ini:
[code]

./manage.py runserver is fine
[code]

but running "mypy ." fails
[code]

[2019-07-26 14:43] mkurnikov commented on #116
Does this help https://github.com/typeddjango/django-stubs/pull/115 ?

[2019-07-26 15:39] #114 closed, assigned to nobody

[2019-07-26 15:48] withthelemons commented on #116
It does! Thanks!

[2019-07-26 15:48] #116 closed, assigned to nobody

[2019-07-26 18:20] kylebebak commented on #114
Awesome @mkurnikov

Thanks for the quick response, and thanks for these awesome type stubs =)

[2019-07-26 18:26] canassa opened #118 "IndexError on extract_proper_type_queryset_values_list"
Hello,

I updated to django-stubs 1.0.0 and mypy started crashing. Here is a minimal example that reproduces the issue:

[code]

It crashes with the following traceback:

[code]

And this is some `pdb` inspection:

[code]

[2019-07-26 19:47] #118 closed, assigned to nobody

[2019-07-31 12:56] bluetech opened #121 "Consider changing .first()/.last() back to Optional"
Regarding this comment:

https://github.com/typeddjango/django-stubs/blob/5d2efdb80bb3adab3851a86da20a712778bc272d/django-stubs/db/models/query.pyi#L91-L93

I think it will be better to change it back to Optional for these reasons:

- It is safer.

- I've seen a lot of places where `Model.objects.filter(...).first()` is used instead of `Model.objects.get(...)` so that an `Optional` is returned ins

[2019-08-01 14:44] K0Te opened #122 "Wrong annotation for EmailMessage.attachments"
Hi,

Current annotation: `attachments: Optional[Union[List[Tuple[str, str]], List[MIMEText]]] = ...,`
According to documentation:
[code]
Look it should be `attachments: Optional[Union[List[Tuple[str, Union[bytes, str], str]], List[MIMEText]]] = ...,`

[2019-08-01 17:06] K0Te opened #123 "Revealed field instead of descriptor"
Hi,

This one seems to cause quite a log of false positives on my project, however I'm not sure how to fix it.
Django-stubs correctly shows type for `ModelInstance.field`, but not for `ModelClass.Field`.
For example, `ForeignKey` is revealed as `django.db.models.fields.related.ForeignKey[...]` instead of `django.db.models.fields.related_descriptors.ForwardManyToOneDescriptor`, `FileField` is revea

[2019-08-03 14:06] tyrion opened #125 "Support mypy --python-executable"
I was successfully using django-stubs until recently. It appears that recently you started importing `DJANGO_SETTINGS_MODULE` in the code of the plugin. This breaks for everyone that is running mypy from an other python interpreter than the one where the project is installed.

Many people prefer to install mypy (and other tools/linters) only once in a dedicated virtualenv instead of installing it

[2019-08-03 20:22] proofit404 commented on #125
Hi, thanks for the report.

The plugin isn't only import settings module. It also runs `django.setup`. As you can imagine, this plugin relies on proper environment installation in its heart.

With this approach, we exchange the ability to implement little usability features for useful type information. All this with as little maintenance effort as possible.

Given that serious project should run m

[2019-08-04 14:17] tyrion commented on #125
Hello @proofit404 ,

Thank you for the reply.
Your explanation makes perfect sense. Feel free to close the issue if you think it is not currently possible to solve it, or if doing so would be too much effort compared to the benefits it would bring.

Cheers

[2019-08-09 23:32] sobolevn opened #127 "Bug: Module 'django.contrib.admindocs' has no attribute 'urls'"
Source:

[code]

[code]

Ref: https://github.com/wemake-services/wemake-django-template/blob/81f162b8ce26671429c32dfa2701648c8ddcb038/%7B%7Bcookiecutter.project_name%7D%7D/server/urls.py#L16
Real source: https://github.com/django/django/blob/master/django/contrib/admindocs/urls.py

[2019-08-10 07:49] sobolevn commented on #127
@mkurnikov can you please advise me where to look for the solution here?

I am looking at `from django.contrib.admin`: but it does not have `urls.pyi` neither.
But it works. While `from django.contrib.admindocs import urls` raises.

[2019-08-11 00:08] mkurnikov commented on #127
There's no `urls.py` in `django.contrib.admin` https://github.com/django/django/tree/master/django/contrib/admin
Not sure what you're talking about.

You can add `urls.pyi` to `django.contrib.admindocs` here if it affected you, why not. Then it should fix the problem.

I'm [OOOS](https://discuss.python.org/t/mariatta-will-be-ooos-out-of-open-source-starting-march-18-may-9th-2019/973) till the end

[2019-08-11 09:07] sobolevn commented on #127
Oh, I am sorry. I have missed this part:

[code]

That's why it works. PR with the fix is incoming.

[2019-08-12 10:14] sobolevn opened #128 "Setup flake8-pyi to lint stubs"
It will enforce `...` instead of `None`, find useless nodes for annotations, etc.
https://github.com/ambv/flake8-pyi

[2019-08-12 15:32] antonagestam opened #130 "collecstatic methods should accept any `Storage`"
In `django.contrib.staticfiles.management.commands.collectstatic`, the `source_storage` argument is annotated as `django.core.files.storage.FileSystemStorage`. I believe this is incorrect and should actually be `django.core.files.storage.Storage`.

https://github.com/typeddjango/django-stubs/blob/master/django-stubs/contrib/staticfiles/management/commands/collectstatic.pyi#L26

[2019-08-12 15:46] #122 closed, assigned to nobody

[2019-08-12 15:50] sobolevn commented on #130
Yes, that's a bug. Thanks!

[2019-08-12 15:54] #125 closed, assigned to nobody

[2019-08-13 20:33] antonagestam commented on #130
@sobolevn Thanks for that incredibly quick acknowledgment and fix ✨

[2019-08-14 02:36] SHxKM opened #133 "Plugin can't find Django module file"
Below is my `mypy.ini` which is at the root of my project:

[code]

When I run `mypy some_app/some_file.py` I get an error:

I'm using `pip` (not `pipevn`) and running inside a `virtualenv`

[2019-08-14 08:32] sobolevn commented on #133
Have you tried `PYTHONPATH=${PYTHONPATH}:${PWD}`?
We have this in the docs:
<img width="894" alt="Снимок экрана 2019-08-14 в 11 31 54" src="https://user-images.githubusercontent.com/4660275/63006395-227d2500-be87-11e9-9ba9-3a30538dcaca.png">

[2019-08-14 08:39] SHxKM commented on #133
@sobolevn - yes I have. It doesn’t have any effect.

[2019-08-14 19:32] SHxKM commented on #133
Adding some more info to this: As soon as I remove these three lines:

[code]

`mypy` works again (at least in VSCode editor highlights and without the django functionality of course). I obviously cannot run `mypy some_file.py/some_module_with_django_code` because that's what's the plugin is supposed to let me do but what I'm saying is that something with the way the settings module is read is bre

[2019-08-14 20:19] SHxKM commented on #133
I guess I wasn't setting `PYTHONPATH` correctly after all because `PYTHONPATH=${PYTHONPATH}:${pwd} mypy ...` does work.

[2019-08-14 21:55] sobolevn commented on #133
@SHxKM glad that it worked! I guess that I can improve the docs to show that this command should be prepended to the `mypy` call.

I will reopen the issue to fix it.

Thanks for bringing this up!

[2019-08-14 22:01] SHxKM commented on #133
Thank **you** for the hard work and welcoming attitude.

Yep. It is quite unclear as it stands now because usually this kind of stuff is declared in a file or in the Terminal prompt as a separate command.

Now that it's working there's another issue which is that it's ignoring the other configs, like:

[code]

For example, I had to do this to get `silent-imports`:

[code]

But I guess that's a sep

[2019-08-14 22:19] SHxKM opened #134 "Question: how to get "real-time" errors in VSCode?"
I'm open to moving this question to the respective/most-suitable VSCode repo, in case it doesn't belong here.

I have the following for my `workspace` settings file:

[code]

This in my `mypy.ini` file:

[code]

When I run `mypy` like so:

[code]

I get the correct errors, for example:

But this is not highlighted in my editor in real-time/after save.

However, if I remove the plugin section from

[2019-08-15 19:41] ncvc commented on #68
I'm also seeing this issue with
[code]

Has anyone found a workaround for this?

[2019-08-15 19:44] pirate commented on #68
We just added manual type annotation comments to all the fields, never found a solution unfortunately.

[2019-08-15 20:08] sobolevn commented on #68
@pirate have you tried `1.0.x`?

[2019-08-15 21:11] pirate commented on #68
Yup, still happening on `1.0.2`:

`Pipfile.lock`:
[code]
`mypy.ini`:
[code]
`mypy_django.ini`
[code]
![image](https://user-images.githubusercontent.com/511499/63127137-7d397e00-bf66-11e9-964f-0e241acda090.png)

[2019-08-16 09:21] aleksanb commented on #68
What IDE are you using? If you invoke mypy from the command line, does it work then?
I har trouble getting it to work in VSCode at some point as it wouldn't pick up my config file correctly based on which folder was root in my VSCode project.

If you manage to run it correctly and types are revealed with reveal_type in the cli, then it's your IDE setup that isn't working.

[2019-08-16 12:45] #130 closed, assigned to sobolevn

[2019-08-16 12:45] #127 closed, assigned to sobolevn

[2019-08-16 12:46] sobolevn commented on #93
Versions `1.0.x` are released.

[2019-08-16 12:46] #93 closed, assigned to nobody

[2019-08-16 12:46] sobolevn commented on #94
Versions `1.0.x` are released. And it is a complete rewrite. `0.12.x` are no longer supported.

[2019-08-16 12:46] #94 closed, assigned to nobody

[2019-08-16 19:08] ncvc commented on #68
This issue occurs for me outside of my IDE, running `mypy .` on the command line.

[2019-08-16 19:10] pirate commented on #68
Confirmed here as well, it's not limited to the IDE. All other django stubs are working fine too, it's just the model Fields that are having this problem.

[2019-08-23 00:31] #121 closed, assigned to nobody

[2019-08-23 01:03] #123 closed, assigned to nobody

[2019-08-23 15:43] ynikulin commented on #110
Hello,

Now all works fine! Thanks!

I will close an issue.

[2019-08-23 15:43] #110 closed, assigned to nobody

[2019-08-23 15:50] sobolevn commented on #110
Thanks for reporting!

[2019-08-23 23:27] mkurnikov commented on #112
@sobolevn If/when you're going to work on that, could you also add an issue template with
1. request to check on master first
2. provide failing test case, like it's done in https://github.com/typeddjango/django-stubs/pull/120, it's immensely helpful

[2019-08-24 07:53] sobolevn commented on #112
Sure.

[2019-08-24 15:27] mkurnikov commented on #61
Closing in favor of https://github.com/typeddjango/django-stubs/issues/64

[2019-08-24 15:27] #61 closed, assigned to nobody

[2019-08-24 15:28] #47 closed, assigned to nobody

[2019-08-24 15:29] #42 closed, assigned to nobody

[2019-08-24 15:33] mkurnikov commented on #95
Current way of configuration using `mypy.ini` is quite ergonomic, for more enhancements on top of it please refer to upstream issue https://github.com/python/mypy/issues/3532

[2019-08-24 15:33] #95 closed, assigned to nobody

[2019-08-24 15:35] #75 closed, assigned to nobody

[2019-08-25 17:52] sobolevn opened #142 "Model class definition error: Explicit "Any" is not allowed"
When I create `model.py` with the following content:

[code]

And following setting:

[code]

That's what I get:

[code]

Reproduction link: https://github.com/sobolevn/django_stubs_example (note, that you have to uncomment `disallow_any_explicit = True` in `setup.cfg`)
Versions: django2.2, python3.7, django-stubs1.1

I am not sure why `server/apps/main/models.py:9: error: Explicit "Any" is not al

[2019-08-25 18:05] sobolevn opened #143 "Incorrect types revealed for several user fields"
Source code:

[code]

Reproduction: https://github.com/sobolevn/django_stubs_example/blob/master/server/apps/main/models.py

Output:

[code]

The same happens for `username`, `email`, `is_superuser`, etc. But `missing` field raises (as it should):

[code]

Any ideas about why this might happen?

[2019-08-25 18:05] sobolevn commented on #142
This might be related to https://github.com/typeddjango/django-stubs/issues/64

[2019-08-25 18:40] sobolevn opened #144 "ValuesQuerySet is removed and not available"
I have tried to use `ValuesQuerySet` that is returned in:

[code]

Reproduction link: https://github.com/sobolevn/django_stubs_example/blob/master/server/apps/main/logic/repo.py

Output:

[code]

But, it looks like `ValuesQuerySet` is removed in `1.9`, and there's not such class: https://github.com/django/django/blob/aed89adad54a977829c4f180b036033e031ebcc7/docs/releases/1.9.txt#L1069

So, it is n

[2019-08-25 18:50] sobolevn opened #145 "Incorrect type revealed for `.select_related(...)`"
Here's my code:

[code]

Output:

[code]

Note, that it is `django.db.models.manager.Manager` and not `django.db.models.query.QuerySet`.

That's what it should return:

[code]

Reproduction: https://github.com/sobolevn/django_stubs_example/blob/master/server/apps/main/logic/repo.py

[2019-08-25 20:04] mkurnikov commented on #144
I meant it to be stubs-only class, maybe I should've start it with `_` or smth. Anyway, I haven't thought about the annotation of the return value...
Is it possible to annotate it with the string based annotation, like `'ValuesQuerySet'`?  Will mypy be ok with that?

If it's not, then I guess the only way is to go back to the multi-parameter generics then... Support of the `annotate()` will requir

[2019-08-25 20:13] mkurnikov commented on #143
Could be related to the fact that `email` field is specified as
[code]
https://github.com/typeddjango/django-stubs/blob/master/django-stubs/contrib/auth/models.pyi#L56

I never tested whether it actually works as expected.

[2019-08-25 20:14] mkurnikov commented on #145
Related to new queryset type `ValuesQuerySet` mentioned here https://github.com/typeddjango/django-stubs/issues/145

[2019-08-25 22:44] sobolevn commented on #143
Other fields like `is_superuser` behave the same way. Only `id` works as expected.

[2019-08-25 22:48] sobolevn commented on #144
That's my attempt:

[code]

Output:

[code]

I was not sure about the second argument. And I have tried `int`:

[code]

And it worked.

[2019-08-26 00:02] sobolevn commented on #145
@mkurnikov you might be interested: https://sobolevn.me/2019/08/typechecking-django-and-drf

I wrote a tutorial for complete beginners about TypedDjango. I will write about `pytest-mypy-plugin` next week. Thanks a lot for your work!

[2019-08-26 00:26] mkurnikov commented on #144
Yes, this is kind of what I expected users to be doing. I wanted to make `QuerySet` a single argument type, as it's a most common case, and for other ones provide a special kinds of queryset classes.

Actually, for your case, in the wild, if you're going to return `values_list` from the function, it's probably going to be a `Collection[...]`, not a `QuerySet[...]`, and it will work with `ValuesQue

[2019-08-26 08:35] sobolevn opened #146 "Queryset: TypeError: 'type' object is not subscriptable"
Code:

[code]

Output:

[code]

Reproduction: https://github.com/sobolevn/django_stubs_example

Fix:

[code]

I guess that it is related to #144 and also should be just documented properly.
Because for now it might cause a confusion for newcomers.

[2019-08-26 14:54] ntietz commented on #68
I've run into this as well. When I ran into it, I noticed that it was occurring anywhere I was using `django_extensions.db.models.TimeStampedModel` as my parent class, rather than `models.Model`. When I switched to using `TimeStampedModel` as a mixin, like this, it worked as expected:
[code]

@pirate @ncvc either of you using `django_extensions`? If so, that might be the common link.

[2019-08-27 10:56] ghost opened #147 "settings attributes aren't recorgnized"
When I run mypy, it complains that the Settings object does not have certain attributes. I'm running mypy with `PYTHONPATH` set correctly and I specified the settings module in my mypy.ini.

mypy command:
[code]

mypy.ini:
[code]
mypy output:
[code]

[2019-08-27 11:18] sobolevn commented on #147
Can you please:

1. show us what version of `django-stubs` do you use?
2. show us the source code that raises some of the given error?

We had `ignore_missing_settings` setting some time ago, it was working for `django-stubs<1`

[2019-08-27 11:51] ghost commented on #147
The version of django stubs is 1.1.0. `ignore_missing_settings  = true` doesn't seem to have any effect.

A sample of the offending code is:
[code]
The settings are defined through `environ` like this in seperate files:
[code]

[2019-08-29 11:51] pintofcat commented on #68
Got the same error at 1.0.2

[2019-08-29 21:26] jaredlockhart opened #148 "Form changed_data should not be callable"
The form stubs have `changed_data` marked as a `Callable[[], List[str]]`, but it's not callable, it's a [property](https://github.com/django/django/blob/master/django/forms/forms.py#L431-L432),  so I think it should just be `List[str]`

[2019-08-30 08:18] #148 closed, assigned to nobody

[2019-08-31 09:29] canassa opened #150 "Not detecting Foreign key reverse relationship"
Hello,

I couldn't get the reverse relationships to work, at first I thought that it's not supported but from browser other issues it seems that it's supported.

Here is an example based on my code:

[code]

This fails with `error: "Transaction" has no attribute "transactionlog_set"`

I also tried to add the `related_name` but it didn't help.

Thanks!

mypy==0.720
django-stubs==1.1.0

[2019-09-03 03:10] pirate commented on #68
We do happen to be using `django_extensions` in our codebase, but I don't think it's the root because we don't use `django_extensions.db.models.TimeStampedModel` or any other `django_extensions` base model in our code.

We have a different custom base model that we use for everything `class BaseModel(models.Model): ...`.
So maybe it's a bug with it not being able to infer field value types on cust

[2019-09-03 23:36] treyhunner opened #151 "Admin change list callable attributes not recognized"
I'm trying this package out and decided to request a feature based on a number of errors I'm seeing on my own project.

This is a feature request to allow Django model admin classes to understand the significance of various attributes which can be added to their methods.

I customize my change list fields in my model admins often. I'm seeing lots of errors like this in my `admin.py` because of the

[2019-09-03 23:47] treyhunner opened #152 "Class-based view mixin attributes have incompatible types"
With the following class-based view mixin and a view that inherits from it as well as `DetailView`, the `model` and `context_object_name` attributes are picked up as having incorrect types:

[code]

[code]

Here are their revealed types:

[code]

[2019-09-04 08:28] sobolevn commented on #151
Thanks, @treyhunner! Do you want to give this a try?

[2019-09-04 16:02] treyhunner commented on #151
@sobolevn I don't. I likely won't be using this package soon (I'm not using type hints yet, but have been eyeing them).

I'm interested in this project though and thought I'd run it against my project and report some issues for others to take up if interested. 😊

[2019-09-04 17:21] sobolevn commented on #151
Sure! We need users' feedback to improve. 👍

[2019-09-05 08:15] wlisesrivas opened #154 "File.size: Unsupported operand types for "Callable" and "int"."
Django File.size is a property type:
`
@cached_property
def size(self):
...
`
https://github.com/django/django/blob/master/django/core/files/base.py#L32

But in stubs it's treated like callable function (which is wrong):
`
def size(self) -> int:
...
`
https://github.com/typeddjango/django-stubs/blob/master/django-stubs/core/files/base.pyi#L17

[2019-09-05 09:36] sobolevn commented on #154
@wlisesrivas can you please change `def size(self) -> int: ...` to be `@property`?

[2019-09-05 09:44] sobolevn commented on #112
@mkurnikov I will write a guide about writing tests with `pytest-mypy-plugin`. Because currently a lot of people might be confused with the syntax and usage.

First iteration of templates is ready. Check the PR.

[2019-09-05 13:59] wlisesrivas commented on #154
@sobolevn you mean create a pull-request fixing that? If so, sure.

[2019-09-05 14:00] sobolevn commented on #154
Yes 🙂

[2019-09-06 06:16] #112 closed, assigned to sobolevn

[2019-09-06 06:17] sobolevn commented on #154
Closed by #156

[2019-09-06 06:17] #154 closed, assigned to nobody

[2019-09-13 19:36] Tatsh commented on #68
@ntietz' solution seems to work for those using django_extensions.

[2019-09-13 23:14] blueyed opened #160 "Compatibility with mypy 0.730"
Using `mypy 0.730+dev.28423cd78062b81365ec9aaa591b4e823af1606d` I am seeing an error:

The exception there is:

I've not investigated, but are there plans to make it compatible with the upcoming mypy version?
Pinning it to "<0.730" was done in b11a9a8.

[2019-09-15 23:53] benrudolph commented on #68
Just confirming that this didn't have anything to do with `django_extensions`, but rather the fact that I was inheriting from a base model that inherited from `models.Model` (exactly @pirate 's issue)

[2019-09-16 00:23] Tatsh commented on #68
It would be good to have this check every class defined in a typical `models.py` (or `models/*.py`) and then inspect the inherited class to check if it extends Django's `Model` class. I have not yet encountered any side issues with @ntietz' solution but there could be some.

[2019-09-16 04:13] benrudolph commented on #68
For me this actually results in a type error with the `Meta` class: `Definition of "Meta" in base class "BaseModel" is incompatible with definition in base class "Model"`. Since our BaseModel defines a Meta (abstract = True)

[2019-09-16 09:21] mkurnikov commented on #68
@Tatsh

So, like,
[code]
look at `MyModel`, see all the bases, and for every base, process `Field` subclass as if it was a model. Like this? Seems like a good idea. I'll try to work on it today or tomorrow.

[2019-09-16 13:10] Tatsh commented on #68
You only have to make sure the last class passed to extend from in that example, at some point, extends models.Model.

In Python, the last class passed takes precedence over the rest which should only be mixins.

[2019-09-17 07:48] zacchiro commented on #160
yup, same here: due to this I can't use this plugin with recent versions of mypy (0.720 here)

[2019-09-17 07:52] sobolevn commented on #160
@zacchiro `0.720` works fine for me. Please, check that you use `django-stubs@1.1`.

[2019-09-17 07:53] zacchiro commented on #160
[code]

[2019-09-17 07:58] sobolevn commented on #160
@zacchiro ok 😞

Then, please create a new issue for your case. This one is specifically for `0.730`. And `0.720` should be supported, that's a bug.

[2019-09-17 08:05] zacchiro opened #166 "Error importing plugin 'mypy_django_plugin.main'"
(As per #160, I'm forking a dedicated issue for this.)

I'm using mypy 0.720 with django-stubs 1.1.0 (from PyPI today):
[code]
With `plugins = mypy_django_plugin.main` in `mypy.ini`, mypy fails as follows:
[code]
even though mypy_django_plugin loads just fine.

I've tried dropping `.main` from the mypy.ini and that gives:
[code]

I've also tried replacing `.main` with `:main` (which seems to be th

[2019-09-17 08:05] zacchiro commented on #160
*nod*, here it is: #166

[2019-09-17 08:36] blueyed commented on #166
Please check what the exact error is (need to patch/debug mypy; see https://github.com/python/mypy/pull/7512).

[2019-09-17 08:52] zacchiro commented on #166
On Tue, Sep 17, 2019 at 01:36:49AM -0700, Daniel Hahler wrote:

Oh boy, they sure don't make it easy to find out what happened...

So, the error is:

[code]

which I understand, *but*, I do have this in mypy.ini too, as prescribed
by documentation:

[code]

and the module in question is already used for django testing by pytest,
where it works properly.

What am I missing?

(thanks a lot for your

[2019-09-17 09:02] blueyed commented on #166
Try exporting `DJANGO_SETTINGS_MODULE` additionally.
I would print the whole traceback based on my above PR (you might leave a comment that it (having a traceback) would be useful over there then)  (`__import__("traceback").print_stack()`), or use a debugger there - to see where it is coming from.

Are you running `mypy` directly or through some pytest plugin?

[2019-09-17 09:10] zacchiro commented on #166
On Tue, Sep 17, 2019 at 02:02:42AM -0700, Daniel Hahler wrote:

That was it. Was it supposed to read the doc without it too, though?

(I can patch my workflow to export the variable in this specific case,
no big deal, just trying to understand what would be the expected
behavior here.)

Directly.

pytest is run separately. I've mentioned it just as validation that the
module in question is a valid

[2019-09-17 11:14] blueyed commented on #166
It should not be necessary to export it.  (https://github.com/typeddjango/django-stubs/pull/153 is a way to only use the exported env.)

So it looks something is setting up Django during import time likely for you.
The traceback would be useful therefore.

[2019-09-17 12:30] zacchiro commented on #166
On Tue, Sep 17, 2019 at 04:14:25AM -0700, Daniel Hahler wrote:

Here it is:

[code]

[2019-09-17 12:35] blueyed commented on #166
@zacchiro please fix the formatting.

[2019-09-17 12:38] blueyed commented on #166
Appears to be triggered via:
[code]
Without investigating it looks like the plugin's setting up of Django should happen before this already then.

@zacchiro
What Django version is this?

[2019-09-17 12:43] zacchiro commented on #166
On Tue, Sep 17, 2019 at 05:35:58AM -0700, Daniel Hahler wrote:

I've no idea why it isn't been rendered as preformatted text as
usual. The markdown looks correct to me.

On Tue, Sep 17, 2019 at 05:38:22AM -0700, Daniel Hahler wrote:

1.11.23

[2019-09-17 18:11] mkurnikov commented on #160
@blueyed Regarding this error specifically

I've merged a fix in https://github.com/typeddjango/django-stubs/pull/165/files#diff-4220d6302939b8f0164e64a68181a0d4R25

As for 0.730 in general, we'll going to make it compatible as long as 0.730 mypyc build is out. Version installed directly from repo is too slow to run tests on / debug. New release for django-stubs will follow.

[2019-09-17 18:21] mkurnikov commented on #68
I've added processing of Field instantiation for mixin classes in https://github.com/typeddjango/django-stubs/pull/167, but after more thorough reading of the issue, it doesn't seem to be all that needed to be done.
Could anyone who experience this issue currently, use PR branch and if it doesn't work - create failing test in the same format as done in
https://github.com/typeddjango/django-stubs/t

[2019-09-17 18:38] mkurnikov commented on #150
I can't reproduce. Could you provide more info? Are those models in the same file, or in different ones?

Also, as always, make sure plugin is enabled in `mypy.ini`.

[2019-09-17 20:30] #152 closed, assigned to nobody

[2019-09-17 21:12] canassa commented on #150
Yes, it's in the same file. This is my `setup.cfg` config:

[code]

[2019-09-17 21:16] canassa commented on #150
I will try to create a small project to reproduce the error

[2019-09-17 22:07] canassa commented on #150
Okay, it works fine on a minimal project, so I guess it's something related to my project. I will investigate a bit more

[2019-09-17 22:13] canassa commented on #150
I found the problem (sorry for the spam), my model has a custom manager:

[code]

and my manager runs like this:

[code]

[2019-09-17 22:17] mkurnikov commented on #150
I still don't quite understand how custom manager could affect a `ForeignKey` relationship.  Could you describe a bit more, or would you be able to provide a project / file to reproduce the issue?

[2019-09-17 22:22] mkurnikov commented on #150
Nevermind, I can reproduce with
[code]

Thanks for the insight!

[2019-09-17 22:40] #143 closed, assigned to nobody

[2019-09-17 23:20] #150 closed, assigned to nobody

[2019-09-18 06:00] benrudolph commented on #68
https://github.com/typeddjango/django-stubs/pull/172

[2019-09-18 06:19] benrudolph commented on #68
Nearly all my errors go away when i don't inherit from `from django.contrib.gis.db import models`

[2019-09-18 11:26] mkurnikov commented on #68
I never worked with `django.contrib.gis`, but it seems that there's another base `models.Model` there which I didn't considered before.
Thanks for the insight, I'll try to find time for it this weekend.

[2019-09-18 16:30] benrudolph commented on #68
thanks @mkurnikov let me know if i can help

[2019-09-19 14:22] ynikulin opened #173 "Incompatible types in assignment"
# Bug report

Hello,

With a new version, couple issues were fixed but got new. In general looks like all explainable.

So I got:

[code]

Look like the first two issues are main. If look rest of issues it's:

(For first issue)
`user = User.objects.get(email=email.lower())`
or
`User.objects.create`
or
`User.objects.get_or_create`

(for second)
`currency=self.currency`
or
`self.currency == other.cu

[2019-09-19 14:42] zacchiro opened #174 "Incompatible types in assignment with User subclass"
Heya, I've this class deriving from the (concrete) User class:
[code]
mypy with django-stubs 1.1.0 is complaining on the `objects` line that:
[code]
even if `DepositClient` is a subclass of `User` and the type variable in `Manager` is declared as covariant by django-stubs.

This should work out-of-the-box with django-stubs, right?
Or am I missing something here?

[2019-09-23 16:37] mkurnikov commented on #174
This is a case specified in the https://github.com/typeddjango/django-stubs/blob/master/test-data/typecheck/managers/test_managers.yml#L281
It's a mypy limitation, smth around Liskov incompatibility.

[2019-09-23 16:42] mkurnikov commented on #173
First issue, I believe, is the same as https://github.com/typeddjango/django-stubs/issues/174

For the second one, I need a code for `AmountStringRepresentationMixin` to be able to fix it.

[2019-09-23 17:15] pirate commented on #68
@mkurnikov that fix in #177 looks GIS-specific, I don't think it will fix the general case of `Field`s on a model that inherits from another custom `BaseModel`.

[2019-09-23 17:16] Tatsh commented on #68
That PR doesn't solve the issue for those using django_extension classes like TimestampedModel. This issue should be kept open.

[2019-09-23 17:20] mkurnikov commented on #68
I think the idea is like that: if you have a base model which is type annotated (mypy knows that it's a `models.Model` subclass) it will correctly infer is as a model, and everything should be ok.

If it's not, then mypy will infer `Any`, and nothing will work. It's just a guess though, could you confirm it with `reveal_type(YourBaseModel)` somewhere in the code (under `if TYPE_CHECKING`)?

UPD.
I

[2019-09-23 17:48] zacchiro commented on #174
On Mon, Sep 23, 2019 at 09:37:11AM -0700, Maxim Kurnikov wrote:

So what is the recommended way to go about these?  # type: ignore ?

[2019-09-23 17:51] mkurnikov commented on #174
Yes, `# type: ignore` + manual annotation I believe would work (can't test right now).
Until https://github.com/python/mypy/issues/7468 is fixed.

[2019-09-23 22:46] qcoumes commented on #68
Having the same problem using another ModelBase (MPTTModel from [django-mptt](https://github.com/django-mptt/django-mptt)), I can confirm this:

[code]

I got :
[code]

And in my case,

[code]

Did not solve the problem:

[code]

___

Using:

[code]

Solved the problem of attribute annotation, but I obviously got complaints about method declared in MPTTModel :

[code]

[2019-09-23 22:57] mkurnikov commented on #68
Would this work?
[code]
(just tried it locally, seems fine)

[2019-09-23 23:05] qcoumes commented on #68
This one did work for me, thanks !

[2019-09-23 23:33] pirate commented on #68
[code]

This is a bit of a gnarly a hack to require adding at the top of many files all over a large codebase. Is there no generic solution to fix this for all base models?

[code]
Given that they're still `models.Model` subclass instances, is there no mypy-compatible way for `django-stubs` to check farther up the inheritance chain internally and see whether the Class derives from `models.Model`?

[2019-09-23 23:44] mkurnikov commented on #68
What's a result of
[code]
in your case?

[2019-09-24 02:48] pirate commented on #68
`sync/models.py:797: note: Revealed type is 'def (*args: Any, **kwargs: Any) -> sync.models.Version'`

[2019-09-24 18:38] pirate commented on #68
For anyone following this, @mkurnikov's new solution worked for me! https://github.com/typeddjango/django-stubs/pull/182

It looks like it's properly checking all of the model base classes in the inheritance chain now, and I no longer get `Field` `Need type annotation` warnings on models that inherit from custom `BaseModel`s.

Thanks for the quick turnaround time on that fix over the last week @mk

[2019-09-24 23:08] rik opened #185 "Abstract models from library cause a crash"
I'm using https://github.com/django-oscar/django-oscar which provides abstract models to subclass in your app. Because Oscar does not provide type hints, I'm adding a local stub file to help `django-stubs` find this model (instead of typing it as `Any`). Doing so causes a crash (see traceback below) in `AddRelatedModelsId` on an abstract model that has a foreign key on `'self'` ([`AbstractProduct.

[2019-09-25 00:46] mkurnikov commented on #185
Could you provide an example?

[2019-09-25 00:51] rik commented on #185
`AbstractProduct.parent` has a link to django-oscar's code (https://github.com/django-oscar/django-oscar/blob/186f60df05cf852494fcb0c3bc76813201701bae/src/oscar/apps/catalogue/abstract_models.py#L278). Is that the example you're asking for?

[2019-09-25 12:27] Tatsh commented on #68
Will that PR get merged? Is there going to be a release soon?

[2019-09-25 16:49] pirate commented on #68
@Tatsh if you need it asap you can install it from the branch:
[code]

[2019-09-25 16:54] mkurnikov commented on #68
@Tatsh Release is planned a week or two after 0.730 is released. As for merge, I don't know, I'll try to make it till the end of the week.

[2019-09-27 08:32] zacchiro commented on #160
I'm sure the maintainers are aware, but for other lurkers following this issue: mypy 0.730 has been released yesterday and is indeed incompatible with the most recent release of django-stubs available on PyPI.

[2019-09-28 01:05] #68 closed, assigned to nobody

[2019-09-28 02:23] #160 closed, assigned to nobody

[2019-09-28 20:57] SHxKM commented on #134
Hmmm, after more than a month I’m still not able to get the correct behavior for VSCode. Are people just running the mypy command manually..? What am I missing?

[2019-09-29 06:05] sobolevn commented on #134
Sorry, I do not have any experience in this field. Because yes, I do run `mypy` manually.

Would be happy to know the solution / error reason.

[2019-09-30 11:44] sobolevn opened #194 "Typecheck `django.db.models.F`"
As discussed in #183 we do not typecheck `F('my_field')` expressions: https://docs.djangoproject.com/en/2.2/ref/models/expressions/#f-expressions

And I think that we should!

[2019-10-01 10:30] zacchiro commented on #160
hey, thanks a lot for this !

do you have any ETA for releasing 1.2.0? Given mypy is often used in CI toolchains that pull directly from PyPI, it would be very useful to have a django-stubs version there that is compatible with the mypy version there

[2019-10-01 12:00] sobolevn commented on #160
@zacchiro here's the release plan: https://github.com/typeddjango/django-stubs/milestone/1

[2019-10-01 12:28] zacchiro commented on #160
On Tue, Oct 01, 2019 at 05:00:21AM -0700, Nikita Sobolev wrote:

Thanks !

[2019-10-02 07:13] TyVik commented on #185
One more example https://circleci.com/gh/TyVik/geopuzzle/3423. Even with `# typing: ignore`.

[2019-10-02 13:18] linevych opened #196 "AttributeError: 'NoneType' object has no attribute '__module__' while referencing model as string in ForeignKey"
# Bug report

In the project that I'm working on I have an application with the following structure:

[code]

There is a model `ModelA` defined in `bar.py` and `ModelB` defined in `foo.py` that has FK to `ModelA`:

[code]

This is a valid syntax for referencing model in the same application but when I run mypy I get an error.

## What's wrong

[code]

The problem is that `mypy_django_plugin.django

[2019-10-02 18:08] antonagestam opened #197 "Overrides of BaseCommand.handle() are problematic"
[`django.core.management.base.BaseCommand.handle()`](https://github.com/django/django/blob/master/django/core/management/base.py) has the signature:

    def handle(self, *args, **options) -> NoReturn: ...

And has the stub:

    def handle(self, *args: Any, **options: Any) -> None: ...

But some if its subclasses has incompatible signatures for this method, like [`django.core.management.base.AppC

[2019-10-02 19:16] sobolevn commented on #197
Seems like Django has to fix it indeed. Would you create a bug there, please?

[2019-10-03 05:37] autoferrit commented on #147
I am getting this error as well. Both from a latest install using `pip` as well as from git using the master branch.
django 2.2.5
mypy 0.730

I have this in my root directory:
![image](https://user-images.githubusercontent.com/89895/66101607-51994400-e564-11e9-950a-1fbddffbcc1c.png)

and my django settings module is `config.settings.local`. Both `runserver` and `runserver_plus` run without issue.

[2019-10-03 11:07] mkurnikov commented on #147
Please, try explicitly annotating settings with a type
[code]
and let me know if it works.

[2019-10-03 20:35] antonagestam commented on #197
Sure! I'll try and get to it as soon as I can. Would you be open to changing the annotation of `BaseCommand.handle()` to `(Any, Any) -> Optional[str]`?

[2019-10-03 21:20] strokirk commented on #185
I'm seeing this as well. Here is a test that reproduces the issue – hope it helps!

[code]

[2019-10-05 13:13] mkurnikov commented on #194
Expression math is too big of a task for this release, it's a whole another plugin. I'm going to add tests to make sure they won't give false positives, and tackle it later.

[2019-10-05 13:35] mkurnikov commented on #196
Sure it's valid? I thought that for Django to be able to find models, they all has to be reimported in the `models/__init__.py` file.
https://docs.djangoproject.com/en/2.2/topics/db/models/#organizing-models-in-a-package

UPD. I've reproduced a crash though, thanks!

[2019-10-05 17:00] #196 closed, assigned to nobody

[2019-10-05 18:36] #185 closed, assigned to nobody

[2019-10-05 18:36] #197 closed, assigned to nobody

[2019-10-07 23:36] Sukochev opened #203 "Signature of "has_add_permission" incompatible with supertype "BaseModelAdmin""
## What's wrong
Getting mypy error:
`project/contact/admin.py:25: error: Signature of "has_add_permission" incompatible with supertype "BaseModelAdmin"`

For example in registering a custom Django Admin such as
[code]
results in the error above for the method `has_add_permission`.

This is possibly due to the fact that https://github.com/typeddjango/django-stubs/blob/8402e7c53ee4d2fa2ea31a506b6a98

[2019-10-08 07:46] sobolevn commented on #203
Yes, looks like a bug in stubs. @Sukochev can you please send a PR with the fix?

[2019-10-08 10:45] Sukochev commented on #203
@sobolevn Sure, will do.

[2019-10-08 13:07] ynikulin commented on #173
Hello,

With 1.2.0, all looks fine. I will an issue. Thanks!

[2019-10-08 13:07] #173 closed, assigned to nobody

[2019-10-11 06:57] AndreyMZ opened #204 "Several stub for `django.db.models.base.Model` are missing"
# Bug report

## What's wrong

### Steps to reproduce

The following code produces the following warning.

[code]

### Root cause
No `django.db.models.base.Model.unique_error_message` method in the stub.
https://github.com/typeddjango/django-stubs/blob/8402e7c53ee4d2fa2ea31a506b6a986b67e10c1a/django-stubs/db/models/base.pyi#L11-L44

## How is that should be

`django.db.models.base.Model.unique_err

[2019-10-11 07:01] sobolevn commented on #204
@AndreyMZ thanks a lot! Can you please send a PR with the fix?

[2019-10-11 07:57] AndreyMZ commented on #204
I have sent a PR with the stub for `django.db.models.base.Model.unique_error_message`.

But I cannot add stubs for other methods (listed below), because I do not know correct type hints.
Maybe for a start it's worth adding stubs with `Any` type hint, isn't it?

Methods of `django.db.models.base.Model` with no stub:
- ~`__init__`~
- `from_db`
- `__repr__`
- `__str__`
- `__eq__`
- `__hash__`
- `__re

[2019-10-11 09:08] sobolevn opened #206 "Add a CONTRIBUTING guide"
I will describe all steps to get the stuff done.

[2019-10-11 09:10] sobolevn commented on #204
I will rename this issue and merge the PR. Later we will return to this. Ok?

[2019-10-11 09:16] #203 closed, assigned to Sukochev

[2019-10-15 06:50] lfrodrigues opened #207 "Wrong type inferred from settings"
# Bug report

## What's wrong
In my settings I have:
[code]

Running mypy on another file that uses the settings

[code]

[code]

## How is that should be

If I place the definition on the file I'm validating
[code]
[code]

## System information

- OS: Linux
- `python` version: 3.6.5
- `django` version: 2.2
- `mypy` version: 0.730
- `django-stubs` version: 1.2.0

[2019-10-15 07:21] lfrodrigues commented on #207
Going to close. I was getting this issue because I was running mypy outside the project directory. Inside works find

[2019-10-15 07:21] #207 closed, assigned to nobody

[2019-10-15 07:26] sobolevn commented on #207
Thanks for the report!

[2019-10-18 00:12] SRChiP opened #210 "HttpResponsePermanentRedirect missing in django.shortcuts"
# Bug report

## What's wrong

I get an issue:
`error: Module 'django.shortcuts' has no attribute 'HttpResponsePermanentRedirect'; maybe "HttpResponseRedirect"?`.

It seems that `HttpResponseRedirect` is defined in django.shortcuts, but not `HttpResponsePermanentRedirect`.

## How is that should be

No errors when running mypy

## System information

- OS: ArchLinux
- `python` version: 3.7.4
- `dj

[2019-10-18 05:46] sobolevn commented on #210
@SRChiP would you like to submit a PR with the fix, please?

[2019-10-20 11:40] Saymmic opened #212 "Abstract model inheritance"
# Bug report

## What's wrong
When the concrete model inherits from the abstract model mypy wants me to annotate fields.

## How is that should be
It should know that this is an inheritance and annotate fields.

## System information

- OS:
- `python` version: 3.8
- `django` version: 2.1
- `mypy` version: 0.720
- `django-stubs` version: 1.1.0

[2019-10-20 15:33] silviogutierrez opened #213 "Model manager is loosely typed and return Any for arbitrary attributes"
# Bug report

## What's wrong
Even for basic cases, `objects` on a model class returns an object without a finite list of properties.

I can do `MyModel.objects.this_does_not_exist` and mypy won't complain. It should.

Notably, if I do `MyModel.objects.all()` for example, I do get back a properly typed object.

It's almost as if it has `__getattr__` implemented.

## How should it be

I'd expect my

[2019-10-30 09:03] yhoiseth opened #219 "error: Return type "Optional[bool]" of "test_func" incompatible with return type "None" in supertype "UserPassesTestMixin""
# Bug report

Hi,

Thanks for making `django-stubs`. I really appreciate it.

I've encountered an issue that I'm not entirely sure is a bug, but I think it is.

## What's wrong

In my code, I get the following error when running `mypy`:

[code]

The relevant code looks like this:

[code]

In [django-stubs/contrib/auth/mixins.pyi:26](https://github.com/typeddjango/django-stubs/blob/master/django-st

[2019-10-31 07:05] ibraraslam commented on #166
was facing the same issue, but placing `[mypy.plugins.django-stubs]` before setting plugins in setup.cfg fixed it for me.

[2019-10-31 11:23] gerbyzation commented on #142
Same issue here, reporting `Explicite "Any" is not allowed` on the lineno of the class declaration.

[2019-11-01 15:28] zacchiro commented on #166
I think that just make you not load the plugin at all, because then the `plugins=` key is no longer in the top-level stanza of `mypy.ini`

[2019-11-04 20:40] lahwran opened #221 "Warning from pycharm on accessing postgres json fields"
# Bug report

## What's wrong

I get a warning from pycharm when I have a model class with a json field and I try to access that json field, eg (pseudocode I can't easily test for repro, unfortunately, but it demonstrates what I'm pretty sure is a repro case of the problem from our private code):

[code]

## How is that should be

JSONField should act as a union between JSONField and either the ty

[2019-11-04 20:56] lahwran commented on #221
Update: something similar occurs with ArrayField.

(It's conceivable I might fix this myself, but it's not currently obvious to me how to do that from the way the generic types are defined.)

[2019-11-05 15:55] cwittlinger opened #222 "AttributeError: 'ManyToManyRel' object has no attribute 'has_default'"
# Bug report

AttributeError: 'ManyToManyRel' object has no attribute 'has_default' occurs when using a ManyToMany Queryset

## What's wrong

[code]
## How is that should be

I believe (not sure at all), that either a check has to be made, if field has a method called has_default and if not, field.field.has_default() has to be checked.

## System information

- OS: Manjaro
- `python` version: 3.6.

[2019-11-08 16:15] Tatsh opened #223 "QuerySet: Expression of type 'NameExpr' is not supported"
# Bug report

A QuerySet expression like the following gives this odd message from Mypy:

[code]

I do not know if this bug is in Django-stubs or in Mypy.

## How is that should be

This error should not appear.

## System information

- OS: Linux
- `python` version: 3.6
- `django` version: 2.2.6
- `mypy` version: 0.720
- `django-stubs` version: 1.1.0

[2019-11-08 18:25] richkirsch opened #224 "ModuleNotFoundError using a custom apps directory & path"
To make my apps more reusable, I prefer to use an `apps` directory in my project root to house them, with the following structure:
[code]

To make life easier, in `manage.py`, I have the following:
[code]

This enables me to use e.g. `from app1 import SomeClass` anywhere in the project, instead of `from apps.app1 import SomeClass`.

However, this is causing `mypy` with `django-stubs` (though not w

[2019-11-11 01:15] benjamin-kirkbride commented on #166
I am having the same issue, and adding `DJANGO_SETTINGS_MODULE` to my `.profile` did not make a difference.

Not sure how to proceed.

[2019-11-12 02:52] #219 closed, assigned to nobody

[2019-11-12 13:12] #210 closed, assigned to nobody

[2019-11-12 17:36] #213 closed, assigned to nobody

[2019-11-12 23:30] youssefm opened #228 "is_relation and related_model attributes are not declared on the Field stub"
# Bug report

## What's wrong

When type checking a function that looks like this with mypy

[code]

you get the following errors:

[code]

These are attributes that are always available on Fields and should be declared in the stub. See:

https://github.com/django/django/blob/89368ab6e358ebe29a0417d65209182238daa245/django/db/models/fields/__init__.py#L120

and

https://github.com/django/django/bl

[2019-11-13 08:58] sobolevn commented on #228
@youssefm thanks! Can you please send a PR with the fix?

[2019-11-18 21:15] asikowitz opened #231 "PermissionsMixin.has_perm and .has_perms have incorrect typing for `obj` argument"
# Bug report
## What's wrong
When type checking the following function with mypy:
[code]
you get the following errors:
[code]
The documentation on this function, [here](https://docs.djangoproject.com/en/2.2/ref/contrib/auth/#django.contrib.auth.models.User.has_perm), as well as relevant documentation [here](https://docs.djangoproject.com/en/2.2/ref/contrib/auth/#django.contrib.auth.backends.ModelB

[2019-11-19 01:54] #231 closed, assigned to nobody

[2019-11-28 04:26] Tatsh commented on #223
I added a function with a return statement just in case this is part of the issue. My formatter (Black) adds the parentheses.

[2019-11-29 23:32] anlambert opened #236 "Error with latest mypy release (0.750)"
Due to that [recent change](https://github.com/python/mypy/commit/e97377c454a1d5c019e9c56871d5f229db6b47b2#diff-abd352ca9f518956b2d76e1cfc9ad35b) in `mypy` source code, the following error is reported when using `django-stubs`
[code]

[2019-11-30 19:35] mkurnikov commented on #236
Fixed via https://github.com/typeddjango/django-stubs/pull/238

[2019-11-30 19:35] #236 closed, assigned to nobody

[2019-11-30 19:40] #228 closed, assigned to nobody

[2019-12-02 16:31] lundberg opened #241 "New release"
A new release of master to pypi would be nice, thanks.

[2019-12-03 16:10] mattbonnell opened #243 "Error in NewSemanalDjangoPlugin.get_additional_deps: 'str' object is not callable"
# Bug report

## What's wrong
I get this error when I try to run mypy from the command line:
[code]

## How is that should be
This is the output when I disable the plugin:
[code]

## System information

- OS:
- `python` version: 3.7.4
- `django` version: 2.2.7
- `mypy` version: 0.750
- `django-stubs` version: 1.2.0

[2019-12-03 18:51] mattbonnell commented on #243
@mkurnikov do you know if there's a previous version I could drop down to to avoid this problem?

[2019-12-03 19:15] mkurnikov commented on #243
mypy 740 should be fine. Or you could just move from `fullname()` to `fullname` (to property) in the forked version, it should work too.

[2019-12-05 06:15] brianhelba commented on #241
@mkurnikov Is it possible to release a `1.2.1` version now? The latest release of `django-stubs` is broken under typical install scenarios, and requires ugly package pinning (which must later be reverted) by downstreams to be usable. This even breaks CI for related upstream projects such as [djangorestframework-stubs](https://github.com/typeddjango/djangorestframework-stubs).

#238 fixes the break

[2019-12-06 20:36] mkurnikov commented on #241
I'll finish testing for Django 3.0, and then release.

[2019-12-06 20:40] #243 closed, assigned to nobody

[2019-12-06 23:10] #241 closed, assigned to nobody

[2019-12-11 12:26] sobolevn opened #261 "Incorrect type of `form_valid` hook"
# Bug report

## What's wrong

This code does not typecheck:

[code]

Where `RegistrationForm` is instance of `class RegistrationForm(models.ModelForm):`

Error:

[code]

When I try to use `BaseForm` as it suggests I get a new error:

[code]

And indeed, only `ModelForm` has `save` method.

## How is that should be

It should work with the same form class that is defined in `form_class`

## System

[2019-12-11 12:28] sobolevn opened #262 "Proposal: versioning policy"
Currently `master` branch contains several features that only `django@3` has.
Which makes `2.2` releases no longer possible. And it is a long time support (LTS) release.
Which means that we probably should support it for a long time.

That's why I propose to use something similar to https://github.com/python/typeshed
We need to structure types under specific versions if we want to make this projec

[2019-12-11 12:33] mkurnikov commented on #262
Isn't typeshed directory structure special cased in mypy?

Also, could you elaborate?

[2019-12-11 12:39] sobolevn opened #263 "Incorrect type for `get_object()` in view mixins"
# Bug report

## What's wrong

This code:

[code]

Where `prepare_submission_for_retry` is `def prepare_submission_for_retry(instance: ApplicationSubmission) -> ApplicationSubmission:`

Raises this error:

[code]

## How is that should be

`get_object` should return instance type from `QuerySet`.

## System information

- `python` version: 3.7
- `django` version: 2.2
- `mypy` version: 0.750
- `dja

[2019-12-11 12:42] sobolevn commented on #262
Merging PRs like this one https://github.com/typeddjango/django-stubs/pull/256 messes up types for other supported versions. For example, people using `2.2` will see types that are only added to `3.0`. And as it seems to me this problem will be quite frequent.

[2019-12-11 13:38] sobolevn opened #264 "Model field validators type is incorrect"
# Bug report

## What's wrong

This code:

[code]

Does not typecheck. Here's my `validate_domain` function:

[code]

Output:

[code]

## How is that should be

Validator type should match column type. And return value is not important.
Like so: `Callable[[TColumn], ...]`

## System information

- `python` version: 3.7
- `django` version: 2.2
- `mypy` version: 0.750
- `django-stubs` version: 1.3

[2019-12-12 02:35] mkurnikov opened #265 "Add support for QuerySet.as_manager()"
Refs https://github.com/typeddjango/django-stubs/issues/19#issuecomment-564764730

[2019-12-12 05:09] #222 closed, assigned to nobody

[2019-12-12 05:20] #223 closed, assigned to nobody

[2019-12-12 22:23] youssefm opened #269 "Reverse manager should be a subclass of `_default_manager` of related model"
# Bug report

## What's wrong

[code]

When type checking:

`count: int = user.orders.active.count()`

it should succeed, but instead we get:

`error: "RelatedManager[Order]" has no attribute "active"`

It seems like the wrong manager gets associated with `user.orders`. The real manager is a subclass of the default manager for the model - see https://github.com/django/django/blob/26cab4e8c113b873b

[2019-12-13 11:16] mkurnikov commented on #269
Shouldn't it be a `_base_manager`? https://docs.djangoproject.com/en/3.0/topics/db/managers/#base-managers
Which is still a `Manager` in your example.

On other hand, from this code https://github.com/django/django/blob/26cab4e8c113b873b99b747128a064ba72d40c74/django/db/models/fields/related_descriptors.py#L519
it seems that `_default_manager` is used (which will be consistent with your example)

[2019-12-13 16:54] MarcinWieczorek commented on #146
Any update on this?

[2019-12-13 17:15] mkurnikov commented on #146
Short term fix:
* for annotations - wrap with string, as mentioned by @sobolevn
* for subclassing -
[code]
if you have this code (`models.Manager` is the same as `models.Manager[Any]`), plugin should perform some magic so that actual `objects` class will have the correct generic `Manager[MyModel]`.

Long term fix:
vote, push core-devs, add comments under https://github.com/django/deps/pull/65#issu

[2019-12-13 20:24] youssefm commented on #269
The documentation doesn't seem entirely clear, but Django's behavior is that a subclass of the default manager seems to be used. Here's some testing I did:

[code]

[2019-12-14 08:37] mkurnikov opened #274 "Add documentation"
* add issue templates for: feature request, issue (with test case, explain how to create it)
* explain how to run tests
* explain how to run checking stubs against django tests

FAQ:
* what to do with no `__class_getitem__` on `Manager`
* which mypy options are support, which are not yet
* how to specify custom `HttpRequest.user`
* not supported features, workarounds

* roadmap

[2019-12-14 08:38] mkurnikov commented on #274
@sobolevn Let's use this issue as TODO list for documentation improvements.

[2019-12-14 10:04] sobolevn commented on #274
sphinx + readthedocs?

[2019-12-16 17:11] b0g3r commented on #274
I think CONTRIBUTING.md with the info required for development also is a good idea: travis.yml already contains how to run all checks and tests, but not contains any specific things like debugging, project structure and test coverage

[2019-12-19 17:25] sklarsa commented on #166
I'm able to repro this in Django v2 as well.

This happens at module import time, before the `DjangoContext` gets initialized (and sets up django).  A hacky fix is to move the `ArrayField` import block inside the `DjangoContext.__init__` func after the `initialize_django` call.  This works because the class is only referenced inside an instantiated version of the class.  Although I admit, this is

[2019-12-19 20:07] frnhr commented on #264
Should a validator return a value? From [here](https://docs.djangoproject.com/en/3.0/ref/validators/#module-django.core.validators) it seems like it should only raise an exception if needed, otherwise return `None`.

Quote from the link above:

If I'm not mistaken with that, then your validator should look like this and then it should pass the type check:
[code]

[2019-12-19 20:15] frnhr opened #283 "Assigning an incompatible type to a model field instance does not raise an error"
I think this should raise a typing error:

[code]

Expected behaviour can be achieved like so (with a bunch of other downsides, I expect):

[code]

Am I wrong in expecting to see the error (like in the second example) instead of a no-error situation (which is what actually happens)?

[2019-12-19 20:36] sobolevn commented on #264
@frnhr fair point about return type. However, the argument type for validator is still incorrect.

[2019-12-20 17:36] AlwxSin opened #285 "Inheritance from models fields"
I've got the following snippet
[code]

And there are two problems:
* First - `models.py:3 error: Missing type parameters for generic type "CharField"`

* And second
[code]

How can I annotate generic CharField?

And how can I pass kwargs to super?

[2019-12-20 22:15] youssefm commented on #285
Can you try completing the annotation on your init definition?

`def __init__(self, *args: Any, **kwargs: Any) -> None:`

and type your options variable:

`options: Dict[str, Any] = {`

[2019-12-22 22:44] AlwxSin commented on #285
I did and `incompatible type "**Dict[str, object]"` errors are gone.

But I still get `models.py:3 error: Missing type parameters for generic type "CharField"` error.

[2019-12-23 10:49] bluetech commented on #134
One thing that might cause this is that django-stubs fails to initialize django, specifically your `django_settings_module`, `my_app.settings.dev`, is not found in the `sys.path` of the plugin when it is initialized. The relevant code is

https://github.com/typeddjango/django-stubs/blob/7ba578f6b2e79782f45076fbb8f48eaca656cb23/mypy_django_plugin/django/context.py#L48-L70

AFAICS, vscode sets the c

[2019-12-27 01:22] jordanmkoncz commented on #147
@autoferrit did you ever find a solution? I have the exact same setup as you (guessing you also started your project using https://github.com/pydanny/cookiecutter-django) and I'm getting the same "Name 'settings.AUTH_USER_MODEL' is not defined" errors.

[2020-01-08 17:15] SHxKM commented on #134
@bluetech - Thanks for trying to assist. I was really hopeful about this, but unfortunately trying several paths did not help. I'm still getting this:

[2020-01-08 19:56] Tatsh opened #291 "Missing OutputWrapper.write() stub"
# Bug report

`OutputWrapper.write()` only accepts one argument (as it inherits from `TextIOBase`).

## What's wrong

`OutputWrapper.write()` accepts a style function argument, but this is not in the stub. As a result, this error appears:

[code]

Example management command:

[code]

## How is that should be

There should not be any error.

The stub should be similar to:

[code]

Maybe it takes `A

[2020-01-10 13:59] danifus opened #293 "Incorrect type for django.core.files.File.file"
# Bug report

## What's wrong

Trying to assign the result of `open()` to a `File.file` attribute results in the following warning:

[code]

[code]

## How is that should be

No error should be raised.

https://github.com/typeddjango/django-stubs/blob/master/django-stubs/core/files/base.pyi#L11

is `file: StringIO = ...` but should probably be `file: IO[Any] = ...`

## System information

- OS: ma

[2020-01-10 17:12] sobolevn commented on #293
Thanks, @danifus would you like to send a PR?

[2020-01-11 11:27] #293 closed, assigned to nobody

[2020-01-11 14:24] danifus commented on #147
Hi, I can't help with the original report raised but for the `Name 'settings.AUTH_USER_MODEL' is not defined` errors when user `cookiecutter-django`:

I've also been getting these errors and they appear to be in the user tests which look like:

[code]

Is it possible that `settings` hasn't been initialised by the time python / mypy examines the function signatures? Assessing the type using `reveal

[2020-01-11 14:31] sobolevn commented on #147
`settings.AUTH_USER_MODEL` does not seem like a valid type to me. Why?
1. `settings` is a very dynamic thing, moreover it is mutable and context specific
2. `AUTH_USER_MODEL` is a `django` specific string, not `mypy` specific one

Why won't you use the real type here?
You can have a look at https://github.com/wemake-services/wemake-django-template and how we use types there.

[2020-01-11 14:45] mkurnikov commented on #147
For `AUTH_USER_MODEL` you can try `get_user_model()`, it has plugin support.

UPD. Oh, sorry, I think I got the context a bit wrong. `settings.AUTH_USER_MODEL` as a type annotation won't work, yeah, it's a string. There's a possibility to add support for
[code]
I can look into it if it's useful for you.

[2020-01-11 16:28] sobolevn commented on #147
Just to be clear:

[code]

currently does not work as @mkurnikov said. Currently `mypy` says that `User` cannot be used as a type.

[2020-01-14 09:18] canassa opened #295 "Manager has no attribute _db"
# Bug report

## What's wrong

The following example from the Django documentation doesn't work:

[code]

django-stubs is not defining the `_db` property:

[code]

## System information

- OS: OS X
- `python` version: 3.8.1
- `django` version: 3.0.2
- `mypy` version: 0.761
- `django-stubs` version: 1.4.0

[2020-01-14 09:32] sobolevn commented on #295
Thanks for the bug report! @canassa are you willing to provide a fix?

[2020-01-14 11:48] danifus commented on #147
The cookiecutter-django errors should be gone in future releases with https://github.com/pydanny/cookiecutter-django/pull/2396 now merged.

It now explicitly checks against `<your_project_name>.users.models.User`.

[2020-01-14 14:05] #295 closed, assigned to nobody

[2020-01-14 23:42] dfarley1 opened #297 "`natural_key.dependencies` "has no attribute" error"
# Bug report

## What's wrong

I have a model which defines a `natural_key()` method as well as `natural_key.dependencies` (per https://docs.djangoproject.com/en/2.2/topics/serialization/#dependencies-during-serialization)
[code]
Running Mypy on this code gives me `models.py: error: "Callable[[Metric], Any]" has no attribute "dependencies"`. I haven't found any solution for this except to `# type:

[2020-01-14 23:59] zacps opened #298 "Swappable keyword argument missing on ForeignKey, OneToOneField"
# Bug report

## What's wrong

[code]

produces:

[code]

## System information

- OS: docker: bionic
- `python` version: 3.6.9
- `django` version: 2.2.9
- `mypy` version: 0.761
- `django-stubs` version: 1.4.0

[2020-01-15 02:13] frnhr commented on #134
I've had reasonable success with this: https://marketplace.visualstudio.com/items?itemName=matangover.mypy

Seems to not parse all settings from `mypy.ini`, as I'm sometimes getting different errors than what running mypy directly reports, but they are mostly in agreement.

[2020-01-15 02:42] frnhr opened #299 "Abstract generic models not supported"
# Bug report

As the title says, abstract generic models (a.k.a. model mixins with a generic) are not supported with Django and django-stubs.

Well, they are **_almost_** supported. Everything works in mypy and at runtime, except when running `./manage.py makemigrations`, then things explode.

## What's wrong

Here is what I mean by "abstract generic model":

[code]

It would be used like so:

[co

[2020-01-20 11:06] sobolevn opened #302 "Consider adding wsgitypes"
https://github.com/shabbyrobe/wsgitypes

I am not sure if this is helpful or not, just wanted to share the possibility.

[2020-01-23 15:48] yhoiseth opened #304 "Too broad return value for apps.get_model()"
When writing data migrations, you use `apps.get_model()` instead of the usual model imports.

However, PyCharm doesn't understand that the returned values are models:

<img width="836" alt="Screenshot 2020-01-23 at 16 46 57" src="https://user-images.githubusercontent.com/8469540/72999690-000d1180-3e00-11ea-8729-c7abccda5447.png">

The problem is that `get_model` is set to return `Type[Any]`. I'll

[2020-01-23 15:56] sobolevn commented on #304
Thanks for the bug report and a quick fix!

[2020-01-23 15:59] yhoiseth commented on #304
No worries! Thanks for your work on django-stubs—I find that it's making Django programming a lot easier and safer 😀

[2020-01-27 22:34] #291 closed, assigned to nobody

[2020-01-28 00:31] dfarley1 opened #308 "IndexError in `is_any_parametrized_manager`"
## What's wrong

I'm adding mypy and djang-stubs to our repo but I'm running into the following error when enabling the django-stubs plugin. This is happening even with my own INSTALLED_APPS disabled in the settings module:
[code]

[code]

## System information

- OS: Gentoo
- `python` version: 3.6
- `django` version: 2.2.9
- `mypy` version: 0.760
- `django-stubs` version: 1.4.0

[2020-01-28 18:46] dfarley1 commented on #308
Dropping into pdb it looks like `isinstance(typ.args[0], AnyType)` fails because `typ.args` is empty for the Django base Manager,
[code]

[2020-01-29 00:44] lfrodrigues opened #309 "Can't assign AnonymousUser to request.user"
# Bug report

I'm implementing my own logout routine and need to assign AnonymousUser to request.user like:

[code]

## What's wrong
The code above has the error:

error: Incompatible types in assignment (expression has type "AnonymousUser", variable has type "AbstractBaseUser")

## How is that should be

request.user should allow both AnonymousUser and AbstractBaseUser

## System information

- O

[2020-01-30 11:21] kalekseev commented on #309
@lfrodrigues you can always define your own Request type and use it across your database.

@mkurnikov One way to solve this would be to use `Union[AbstractBaseUser, AnonymousUser]` type on request, with [tagged unions](https://mypy.readthedocs.io/en/latest/literal_types.html#tagged-unions) support mypy should discriminate union type based on `is_authenticated` check:
[code]

Although that change m

[2020-01-30 18:37] dfarley1 commented on #308
I ran some tests on our code with a small fix seems to have fixed the problem:
[code]

[2020-01-30 19:37] sobolevn commented on #308
@dfarley1 would you please submit a test case for this and your fix?

[2020-01-31 00:49] lassesteffen opened #311 "__get__ of foreign key field returns "ForwardManyToOneDescriptor" instead of model"
# Bug report

## What's wrong

Model:

[code]

Test:
[code]

mypy result:

`"ForwardManyToOneDescriptor" has no attribute "email"`

## How is that should be

`invitation.host` should have been correctly recognized as `User`

## System information

- OS: macOS Catalina 10.15.2
- `python` version: 3.8
- `django` version: 3.0.2
- `mypy` version: 0.761
- `django-stubs` version: 1.4.0

Thanks a lot for

[2020-01-31 13:53] lfrodrigues commented on #309
Thanks for the suggestion but it adds complexity to my code.

Django itself can have AbstractBaseUser or AnonymousUser in request.user. I'll wait for a fix :)

[2020-01-31 13:59] lfrodrigues opened #312 "Type from settings not correctly loaded in a model"
# Bug report

I have this in settings:
[code]

and this in my model:
[code]

## What's wrong

mypy fails with:

[code]

If I place a reveal in settings and another in models.py I get

[code]

## How is that should be

mypy should be able to load the full type from settings, not only that it's a list

## System information

- OS: Ubuntu 18.04
- `python` version: 3.6
- `django` version: 2.2
- `mypy`

[2020-01-31 14:04] sobolevn commented on #312
Can you please post the result of `reveal_type(BANK_ENTITIES)` inside your settings and `reveal_type(settings.BANK_ENTITIES)` inside your models?

[2020-01-31 14:39] lfrodrigues commented on #312
I posted it in the initial report:

[code]

[2020-01-31 14:41] sobolevn commented on #312
Oh, sorry, I have missed it. Yes, looks like a bug!
Thanks for the report.

[2020-01-31 16:43] YPCrumble commented on #151
@sobolevn I'd be happy to give this a try if/when it's possible!

Do you think it's currently blocked by https://github.com/python/mypy/issues/2087 ?

[2020-02-01 07:14] vsalvino opened #314 "django.utils.learn_cache_key incorrect type"
# Bug report

## What's wrong
`django.utils.learn_cache_key()` has the incorrect type specified for the `cache` parameter.

https://github.com/typeddjango/django-stubs/blob/f89a0fbbaa53a23b80fd0b9bfe8fdbf71da35de8/django-stubs/utils/cache.pyi#L31

It is currently set as `Optional[LocMemCache]` but in reality this can be any valid type of `BaseCache`. Looking into the function you can see if `cache

[2020-02-01 08:04] lfrodrigues opened #315 "Error when overriding user manager"
# Bug report

I'm overwritting the user manager like:

[code]
## What's wrong

mypy returns:

[code]
## How is that should be

It should just work :)

## System information

- OS: Ubuntu 18.04
- `python` version: 3.6
- `django` version: 2.2
- `mypy` version: 0.761
- `django-stubs` version: 1.4.0

[2020-02-01 09:48] sobolevn commented on #314
@vsalvino would you please send a PR?

[2020-02-01 19:03] #314 closed, assigned to nobody

[2020-02-06 02:10] sbdchd opened #318 "traceback when not using `django.contrib.auth`"
# Bug report

## What's wrong

The django-stubs mypy plugin fails when not using django's `django.contrib.auth`

[code]

minimal repo: https://github.com/sbdchd/django-stubs-bug-repo

## How is that should be

Ideally django-stubs would work when not having the `django.contrib.auth` app in `INSTALLED_APPS`

## System information

- OS: Mac OS 10.15
- `python` version: 3.7.6
- `django` version: 2.2

[2020-02-06 11:16] sobolevn opened #320 "Create Makefile or tox.ini"
While working on #319 I found our setup very complicated.
We need to have a single command to test things locally.

It might exclude some long-running parts like `python ./scripts/typecheck_tests.py --django_version=3.0` by default.

[2020-02-06 12:01] #206 closed, assigned to sobolevn

[2020-02-09 14:04] yhoiseth commented on #304
@sobolevn Can you please add the `help wanted` label to this issue?

[2020-02-09 15:03] sobolevn commented on #304
Sure! Thanks a lot for the report.

[2020-02-11 21:25] dfarley1 commented on #308
Turns out I had other issues going on with our repo, this bug's invalid.

[2020-02-11 21:25] #308 closed, assigned to nobody

[2020-02-13 02:31] silviogutierrez opened #324 "Make as_manager() in queryset generic instead of using Any"
# Bug report

## What's wrong
`as_manager()` on querysets currently uses `Any` instead of `_T`.

Like so:

[code]
## How is that should be
Looks like a simple switch to _T fixes it:

[code]

See https://docs.djangoproject.com/en/3.0/topics/db/managers/#creating-a-manager-with-queryset-methods for more info.

[2020-02-13 06:00] sobolevn commented on #324
@silviogutierrez would you please send a PR?

[2020-02-13 16:21] silviogutierrez commented on #324
@sobolevn done!

[2020-02-15 02:04] leos opened #329 "unknown import causes ModuleNotFoundError"
# Bug report

## What's wrong
This plugin crashes `mypy` when there is an unknown import in a source file. Repro is super simple, add `from foo import bar` to source file, run mypy against it with this plugin.

Actual behavior: uncaught `ModuleNotFoundError`

[code]

## How is that should be
Expected behavior: `mypy` works properly and plugin doesn't crash it.

## System information

- OS: MacOS 1

[2020-02-15 05:28] sobolevn commented on #329
This is a known problem. This happens because we run `django.setup()` inside the plugin.
And if your code is broken - the plugin will crash. https://github.com/typeddjango/django-stubs#mypy-crashes-when-i-run-it-with-this-plugin-installed

I guess the only thing we can do is to make better error messages. I will work on it!

[2020-02-15 06:05] AndreyMZ opened #330 "Django 3.0 support"
Django 3.0 was released quite long ago. The support of Django 3.0 is needed.

[2020-02-15 07:03] sobolevn commented on #330
Yes, we are working on it #246

[2020-02-15 11:20] leos commented on #329
Thanks for looking at this. I haven't looked deeper at the code but could you just catch the exception, create a mypy warning/error and then simply continue on? The plugin would be effectively disabled until the error was fixed but it wouldn't crash mypy.

[2020-02-15 13:54] sobolevn commented on #329
Yes, this is exactly my plan. By the way, @leos do you want to take this one? I can reassign the issue if you want.

[2020-02-16 15:42] leos commented on #329
I appreciate the offer but I unfortunately don't have the time to dig in right now

[2020-02-16 23:39] danifus opened #332 "Improve references to database connection wrapper type"
# Bug report

A tracking issue for improving the typing of database connection wrapper `db.backends.base.base.BaseDatabaseWrapper` through the project. For instance (I think) we could replace many of the `connection: Any` method args in `db.models.fields.__init__.py` with `connection: db.backends.base.base.BaseDatabaseWrapper`.

There are a few other places in the project where we could similarly

[2020-02-17 11:43] AndreyMZ opened #333 "Stub for `django.contrib.admin.sites.AdminSite._build_app_dict` is missing"
# Bug report

## What's wrong

The following code produces the following warning.

`myproject/apps/admin/sites.py`:
[code]

## How is that should be

No errors/warnings.

## System information

- OS: Windows 10
- `python` version: 3.7.4
- `django` version: 2.2.10
- `mypy` version: -
- `PyCharm` version: 2019.3.3 (Community Edition)
- `django-stubs` version: 1.4.0

[2020-02-17 11:53] sobolevn commented on #333
@AndreyMZ will you please fix it?

[2020-02-21 23:32] torbjorntorbjorn commented on #151
I hit the same result from mypy, trying to add typing the Django tutorial code.

@sobolevn, @YPCrumble, I'd be glad to help out improving this, but I'm quite green when it comes to mypy. Any suggestions on where I should start looking ?

[2020-02-21 23:44] torbjorntorbjorn commented on #151
The workaround suggested in the thread referenced by @YPCrumble worked for me.
It is quite verbose, requiring a Protocol class, a decorator and usage of said decorator.
Is there a way this can be simplified or generalized ?

https://github.com/python/mypy/issues/2087#issuecomment-462726600

[2020-02-22 05:48] sobolevn commented on #151
We can just make these actions to return predefined `Protocol` with all properties that are possible to be set.

Like so:

[code]

[2020-02-27 01:22] kevinmarsh opened #334 "Stubs for humanize functions should also accept integers"
# Bug report

## What's wrong

`ordinal`, `apnumber` and `intword` in [`django.contrib.humanize.templatetags.humanize`](https://docs.djangoproject.com/en/1.11/ref/contrib/humanize/) also accept integers (or anything that can be passed into `int()`)

[code]

However running mypy over it produces
[code]

## How is that should be

`ordinal`,  `apnumber` and `intword` should also accept any input [whi

[2020-02-27 07:10] #334 closed, assigned to nobody

[2020-03-02 14:16] coiax opened #336 "Resources for annotating third party Django libraries"
![image](https://user-images.githubusercontent.com/609465/75683882-cb5a6880-5c8f-11ea-994f-1a6211f6f236.png)

In our project, we're using [django-enumfield](https://github.com/5monkeys/django-enumfield), and their custom field.

Currently, the custom field is typed as an `Any`. The get type should be the specific Enum that you associate with the field, while the set type should be `Union[int, MyEn

[2020-03-02 14:50] sobolevn commented on #336
You can try to use class-level attribute annotation with `Field`: https://github.com/typeddjango/django-stubs/blob/master/django-stubs/db/models/fields/__init__.pyi#L45

It is a generic type with two parameters:
- `_ST` for types that can be used when settings a value
- `_GT` as a type that will be returned when getting a value

Something like:

[code]

Can you please report if this works for you?

[2020-03-02 15:26] coiax commented on #336
I tried to make a test setup, with the snippet you suggested, my results are in this gist.

https://gist.github.com/coiax/e4a26eb224c97b33cfb303f1df2f9fe0

Typing the field with `Field[Union[int, Colour], Colour]` only provides typing coverage when using an instance of the object, but looks like there's trouble with other ways of engaging with the object, unless I set up my test environment wrong!

[2020-03-02 15:38] sobolevn commented on #336
Thanks! Can you please also attach `mypy` output to your gist?

[2020-03-02 17:04] coiax commented on #336
Done.

[2020-03-05 17:27] MarcinWieczorek opened #337 "patch_response_headers expecting float for number of seconds"
## What's wrong
`patch_response_headers` from `django-stubs.utils.cache.pyi` expects `float` as the second parameter.

Original code:
https://github.com/django/django/blob/master/django/utils/cache.py#L249
Stubs source:
https://github.com/typeddjango/django-stubs/blob/master/django-stubs/utils/cache.pyi#L18

## How is that should be
The source code of django says:

Why would it be a float? I check

[2020-03-05 17:47] sobolevn commented on #337
@MarcinWieczorek are you willing to fix this? 🙂

[2020-03-05 17:55] MarcinWieczorek commented on #337
Yes, as I said. May I consider this bug confirmed?

Edit: I don't know what kind of a test would be appropriate for this issue. Could you link me a similar one?

[2020-03-09 10:09] Atala commented on #224
I think a workaround is to add the `apps`  folder to your PYTHONPATH :
[code]

[2020-03-11 15:20] MohGanji commented on #146
To make it easier to access, this means doing like this:
[code]

[2020-03-11 21:16] intgr commented on #330
#246 was merged ages ago, can this issue be closed or is there something significant still missing?

[2020-03-12 15:24] oystein-beaufort commented on #134
I'm late to the party, and I don't know if this will work for you (I'm using `virtualenv`), but I've had success in using `mypy` with the `mypy_django_plugin` in VSCode by doing the following. It seems setting the `PYTHONPATH` to the directory containing the Django project and apps is what the `mypy_django`-plugin needs to find the Django project's settings file and setup the plugin correctly, lik

[2020-03-13 13:11] Alex-Sichkar opened #340 "Incorrect type revealed for `Manager.all()`"
[code]

## Output
[code]

[2020-03-13 22:52] intgr opened #342 "Please do a new release"
Now that mypy 0.770 is released and #341 added support for it, can you please do another official release?

[2020-03-14 08:43] sobolevn commented on #342
Yes, we can. But, I need @mkurnikov's help here.

[2020-03-14 22:10] mkurnikov commented on #342
Done.

I don't use Python much nowadays, so please don't expect any maintenance efforts from me any time soon. I'll update the library to support `__class_getitem__` when https://github.com/django/django/pull/12405 is merged.

[2020-03-14 22:10] #342 closed, assigned to nobody

[2020-03-15 15:10] intgr commented on #342
Thank you :)

PS: If you're scaling down your involvement in TypedDjango, have you considered granting PyPI access to someone else as well, perhaps sobolevn?

[2020-03-15 17:07] MarcinWieczorek commented on #340
How do you even use `QuerySet[...]` without quotes? What version are you using?
afaik they're working on it, also django guys.

[2020-03-15 19:41] Alex-Sichkar commented on #340
I'm using monkey-patched Django.

[2020-03-15 20:00] MarcinWieczorek commented on #340
Could you provide something easier to reproduce then or show your patches?

[2020-03-16 08:53] Alex-Sichkar commented on #340
Tried with with quotes and without monkey-patching - the same result.
For Django patching I use the `mypy_django_plugin` [way](https://github.com/typeddjango/django-stubs/blob/master/mypy_django_plugin/django/context.py#L60):
[code]

[2020-03-17 11:13] layoaster commented on #285
I also have the same `error: Missing type parameters for generic type "DateTimeField"` when subclassing a Django `DateTime` field.

[code]
Any workaround?

[2020-03-17 11:29] sobolevn commented on #285
All fields are generic with kind of 2: https://github.com/typeddjango/django-stubs/blob/master/django-stubs/db/models/fields/__init__.pyi#L45

You can try to do something like this:

[code]

[2020-03-17 11:53] layoaster commented on #285
@sobolevn doesn't work, it results in:
[code]

[2020-03-17 12:43] sobolevn commented on #285
That because of https://github.com/django/django/pull/12405

Sadly, I don't have any ideas on how to fix it except `# type: ignore`

[2020-03-22 10:02] piyushpyoaknorth opened #344 "Upgrading to mypy 0.770 and Django-stubs 1.5, breaks mypy_django_plugin"
# Bug report
Upgrading mypy and Django-stubs breaks the mypy_django_plugin

## What's wrong

* I did `poetry lock` in my module
* This updated the versions of my dependencies
* This breaks the type checks that I do using `mypy .`. It works without doing these updates

## How is that should be
This should not break my `mypy .` typechecks

## System information

- OS: linux
- `python` version: 3.7.4

[2020-03-22 10:07] sobolevn commented on #344
Can you please post output of `mypy . --show-traceback`?

[2020-03-22 10:16] piyushpyoaknorth commented on #344
[code]

It shows a long list of internal files

[2020-03-22 22:56] bsod90 commented on #344
I'm seeing a similar behaviour in my project too:

[code]

[2020-03-23 14:26] 09F911029D74E35BD84156C5635688C0 opened #346 "Django 3.0 model choices missing label type"
# Bug report

`Choices.label` is missing from the base choices classes

[code]

Runs fine:

[code]

## What's wrong

Unexpected error

[code]

## How is that should be

Expecting no issues. Type should be `str`, other types rejected by stdlib `Enum`.

## System information

- OS: linux
- `python` version: 3.8
- `django` version: 3.0
- `mypy` version: 0.770
- `django-stubs` version: 1.5.0

[2020-03-25 16:38] piyushpyoaknorth commented on #344
Hi,
Any update on this issue?

[2020-03-25 19:37] sobolevn commented on #344
Sorry, I did have the time to dig into it. Will do in several days!

[2020-03-29 18:22] stevanmilic opened #347 ""Model" has no attribute "_state""
# Bug report

The `mypy` reports that model is missing the `_state` attribute. I've checked the source code and it looks like the `ModelState` is defined, but it isn't included into `Model`.

## What's wrong
Run mypy on:
[code]

And you will get an error:
[code]
## How is that should be

No error should be reported since `Model` has the `_state` attribute.

## System information

- OS:
- `python`

[2020-03-29 18:45] sobolevn commented on #347
@stevanmilic thanks a lot! Would you please submit a fix for it?

[2020-03-29 22:25] kszmigiel opened #349 "Contact request"
Hello!

I know it's an unwanted way to contact you gentlemen @sobolevn @mkurnikov but I have not much time left. Yesterday I wrote emails to both of you regarding GSoC 2020, and I look forward to hearing from you. I would like to kindly ask if you could respond to me ASAP, as the deadline to send the proposal passes on Tuesday.

Please don't feel offended by my message here, I'm just a little desp

[2020-03-30 07:35] #347 closed, assigned to nobody

[2020-03-30 07:36] sobolevn commented on #349
@kszmigiel thanks a lot! 👍

I have got your email, but didn't have time during weekends to write you a reply.
Let's continue in the email thread!

Best,
Nikita Sobolev

[2020-03-30 07:36] #349 closed, assigned to nobody

[2020-03-30 13:09] sobolevn commented on #340
My guess is that this happens because of the `__class_getitem__` patch. Can you please try with string quotes?

[2020-03-30 13:20] Alex-Sichkar commented on #340
The same result.

[2020-04-04 12:12] kszmigiel commented on #333
@sobolevn @AndreyMZ
I will try to take care of this one, any tips?

[2020-04-04 13:38] sobolevn commented on #333
@kszmigiel you can inspect django sources (including tests and docs) to find the required type for this. That's probably the only tip 😃

[2020-04-04 17:38] #333 closed, assigned to nobody

[2020-04-05 15:21] V-ampire opened #352 "Error for django.conf.settings"
I have got error when i try to use django settings object.
Something like this:
[code]
Got errors:
[code]
Is this real issue or I just should use some option in conf. file?

[2020-04-06 04:07] dragonpaw opened #353 "When using from_queryset, attributes are missing"
# Bug report
## What's wrong

I have a custom FooManager, and FooQueryset, and as per Django docs, I'm using from_queryset to initialize the Manager for the class, and it's not discovering the attributes of the QuerySet.

[code]

[code]

FYI, when building a manager this way, it ends up being something like `django.db.models.manager.FooManagerFromFooQuerySet`

## How is that should be
Ideally, it

[2020-04-06 08:18] sobolevn commented on #353
Yes, this is a well-known bug of `django-stubs`. We have to refactor mypy plugin to fix it.
Sorry for the inconvenience 😞

[2020-04-06 22:07] kszmigiel commented on #274
I can start writing docs this week, and complement it as I get more familiar with the project :)

[2020-04-07 17:58] dmerejkowsky opened #355 "Using TypedDict for templates rendering"
# Bug report

## What's wrong

So, not sure if it's a bug or not - maybe what I'm trying to achieve is
outside the scope of the typeddjango project. Anyway, here goes.

I have a `view_index()` view that delegates building the context used
for template rendering to a `IndexPresenter` class with a `get_context()`
method:

Here are the relevant snippets (tell me if you need more):

[code]

You can se

[2020-04-07 17:59] dmerejkowsky commented on #355
Oh, and one more thing - I don't really mind if the type check does not work "all the way through" - I think that the annotation of the returned dict already serves quite nicely as "executable documentation" for the templates authors :)

[2020-04-14 17:48] dfarley1 opened #357 "Strings and Bitwise operators"
I'm using the `netfields` ([link](https://github.com/jimfunk/django-postgresql-netfields)) package and have a simple model:
[code]
Given an entry like `prefix="00:50:C2:00:00:00", mask="ff:ff:ff:00:00:00"` I want to query with a MAC Address `mac="00:50:C2:12:34:56"` and find all prefixes which could contain the address. So I do a query like `MACAddressBlock.filter(prefix=F("mask").bitand(mac))`.

[2020-04-14 19:03] sobolevn commented on #357
@dfarley1 what about other databases?

[2020-04-14 19:07] dfarley1 commented on #357
I haven't tried any other DBs, PostgreSQL is all I use and the `netfields` package doesn't support any other DBs. However, the bitwise operators are universal to SQL so I would imagine you can "try" to do bitwise operations on any value that you can put in an SQL query.

[2020-04-15 08:22] tumb1er opened #358 "django.contrib.admin.helpers.AdminForm expects change password form"
# Bug report

## What's wrong
[code]

## How is that should be

`AdminForm.__init__`  should have `form: BaseForm`  parameter.

## System information

- OS: ubuntu 18.04
- `python` version: python3.8
- `django` version: 3.0.5
- `mypy` version: 0.770
- `django-stubs` version: 1.5.0

[2020-04-15 08:46] sobolevn commented on #358
Thanks a lot for the bug report! @tumb1er are you willing to submit a fix? Please 🙂

[2020-04-16 15:22] #358 closed, assigned to nobody

[2020-04-23 08:39] Ashish-Bansal opened #362 "Invalid typings for django.core.cache.backends.base.BaseCache"
# Bug report

`django.core.cache.backends.base.Base` typings are invalid.

According to https://github.com/django/django/blob/447980e72ac01da1594dd3373a03ba40b7ee6f80/django/core/cache/backends/base.py#L108, add operation should be returning `True` if the value was stored, otherwise `False`, but in the typings, it's set to None.

https://github.com/typeddjango/django-stubs/blob/96914e466bcd7a65fdd

[2020-04-23 08:54] sobolevn commented on #362
@Ashish-Bansal can you please send a fix? 🙂

[2020-04-23 09:10] Ashish-Bansal commented on #362
@sobolevn Thanks for the quick response! I'll ship PR in few hours.

[2020-04-24 09:44] #362 closed, assigned to nobody

[2020-04-28 14:28] jacebrowning commented on #344
I've confirmed that the use of `from __future__ import annotations` seems to trigger this issue. As mentioned on the `mypy` [documentation](
https://mypy.readthedocs.io/en/latest/extending_mypy.html?highlight=anal_type#notes-about-the-semantic-analyzer):

After replacing all future type references in my code with strings (e.g. `my_model: MyModel` => `my_model: 'MyModel'`), I'm unable to trip `asse

[2020-04-29 00:31] LucidDan commented on #224
I do this too, using a dedicated apps directory, and as @Atala says, I adjust my PYTHONPATH, which works fine.

[2020-05-04 13:47] flyte commented on #224
This isn't possible when you don't control the calling environment creation such as when mypy is called from the Python extension in VSCode.

Could this module respect the `mypy_path` `mypy.ini` setting and add those paths before trying to import the Django settings file?

https://mypy.readthedocs.io/en/stable/config_file.html#import-discovery

[2020-05-08 14:29] lfrodrigues opened #367 "Creating model and form objects fails"
# Bug report

Creating model objects fails with mypy error

## What's wrong

When I create a model like:
[code]

I get
[code]

## How is that should be

Should  work as the model is correctly defined

## System information

- OS: Ubuntu
- `python` version: 3.6
- `django` version: 2.2
- `mypy` version: .0770
- `django-stubs` version: 1.5.0

[2020-05-08 16:09] #367 closed, assigned to nobody

[2020-05-12 17:41] askoretskiy commented on #330
So, is Django 3.0 is supported out of the box? `README.md` does not state it is supported.

[2020-05-12 19:21] sobolevn commented on #330
It is partially supported right now. We do plan to work on this during GSoC.

[2020-05-13 09:35] aleksanb commented on #330
FWIW i'm runnning django-stubs on a large django 3.0 / DRF setup, and everything's working smooth.

[2020-05-13 09:39] askoretskiy commented on #330
I personally have only issue with `asgi.py` that is not in stubs.

What I could suggest is to update `README.md` to indicate that Django 3.0 is "partially supported"

[2020-05-13 14:54] WisdomPill opened #369 "Cache typing"
Hello,

I am working on typing `django-redis` library and I had a look at this repository to figure out if some parameters have a type or not.

This is the WIP PR. https://github.com/jazzband/django-redis/pull/451

I have a question, specifically about the typing of key, version and prefix. As far as I know, in the case of redis anything binary can be used as a key, even an image. But it seems to

[2020-05-13 16:57] sobolevn commented on #369
My use-cases are simple, sorry. I am using strings mostly.

[2020-05-15 01:38] MrkGrgsn opened #370 "Formset factories return type doesn't resolve to type of formset arg"
# Bug report

## What's wrong
[code]
This is correct of course but in cases where there are custom attributes/methods on `MyBaseModelFormSet` errors will be raised by type checkers (I was using mypy) about these not existing in `BaseModelFormSet`.

## How is that should be

If the revealed type of `MyModelFormSet ` was `Type[MyBaseModelFormSet]` then there would be more precise type checking of fo

[2020-05-22 18:50] asfaltboy opened #371 "render_to_string context argument should accept Context"
# Bug report

## What's wrong

[code]

[code]

This is because:

https://github.com/typeddjango/django-stubs/blob/963d50c717282c340fa7d397bdb0402a4e7f9434/django-stubs/template/loader.pyi#L9-L14

## How is that should be

The `render_to_string` function simply passes the `context` argument to the `template.render` function. This function already accepts the correct Union of arguments:

https://git

[2020-05-23 10:47] #371 closed, assigned to nobody

[2020-05-26 23:11] dmwyatt opened #373 "AssertionError when using models.Manager"
# Bug report

## What's wrong
I can't seem to create a minimal example demonstrating this, but I'm getting this on one of my projects.

If I change a custom queryset to become a custom manager by changing what it inherits from and changing `objects = CustomQuerySet.as_manager()` to `objects = CustomManager()` I get the following.

[code]

- OS: Win10
- `python` version: 3.8
- `django` version: 3.0

[2020-05-28 21:48] kszmigiel commented on #355
@dmerejkowsky Hello! I've investigated your code, and I think that's not really a problem with Mypy. The reason is this part:
[code]
Here you define "user" as User instance, while `render()` function expects `context` to be `Dict[str, Any]` or none.

Also, it's weird that Mypy hasn't warned you about doing `"user": self.user`. According to `AbstractBaseUser` class in Django `self.user` returns a s

[2020-05-29 19:20] antonio-antuan commented on #146
I can suggest a hack that helped me:
[code]

[2020-05-30 09:42] dmerejkowsky commented on #355
I don't think it's an issue in django-stubs actually

This also fails:

[code]
I've aked on mypy bug tracker: https://github.com/python/mypy/issues/8923

[2020-05-31 16:32] kszmigiel commented on #355
@dmerejkowsky Now I see that my first comment was actually pretty dummy, so sorry for that. I haven't checked Mypy docs on TypedDict, and it was pretty late at night when I was writing it iirc.

So, according to [this Mypy issue](https://github.com/python/mypy/issues/4976) it's done on purpose, and probably there's no convenient way to make `TypedDict` work when `Dict` is expected (probably there

[2020-05-31 16:44] dmerejkowsky commented on #355
No worries - it happens. Also, it forced me to write a simpler example, so this was actually a win :)

I agree. It looks like a good idea from where I'm standing but I'm not aware of all the implications.

Thanks for your help anyway.

[2020-05-31 21:43] sobolevn commented on #355
Yes, we can try `Mapping`!

[2020-06-01 16:41] #355 closed, assigned to nobody

[2020-06-01 17:19] dmerejkowsky commented on #355
Thank you - keep up the good work!

[2020-06-01 19:03] silviogutierrez opened #378 "django.shortcuts.redirect should use a type Literal overload for return value"
# Bug report

## What's wrong
As of a recent `django-stubs` release, and `HttpResponseRedirect` and `HttpResponsePermanentRedirect` are no longer compatible with each other (rightly so, they only share an ancestor but the latter does not inherit from the former).

This means to annotate a view's response, you need to use something like `Union[TemplateResponse, HttpResponseRedirect, HttpResponsePer

[2020-06-01 23:14] kszmigiel commented on #378
Hello @silviogutierrez and thanks for report!

Are you able to precisely point out django-stubs version in which this bug hadn't exist? It would help me a lot solving this.

[2020-06-01 23:21] kszmigiel opened #379 "[Proposal] Tests for Python 3.8"
Hi!

During writing tests for my contributions I've noticed that `typing` module is slightly different for Python 3.7 and 3.8, i.e. `TypedDict` is part of `typing_extensions` in 3.7, whereas it's included in `typing` in 3.8. In case we plan to support 3.8 in the future I'd suggest to:

1) refactor our tests so they'd work for both versions
2) go hardcore and drop testing for 3.7 and switch to newe

[2020-06-01 23:28] silviogutierrez commented on #378
@kszmigiel : sure thing.

1.2 had `redirect` returning `HttpResponseRedirect` *only*. In reality, this was incorrect as we know it can return `HttpResponsePermanentRedirect` too. See here:

https://github.com/typeddjango/django-stubs/blob/v1.2.0/django-stubs/shortcuts.pyi

1.3 was updated to return a `Union` of both types. Link here:

https://github.com/typeddjango/django-stubs/blob/v1.3.0/django-

[2020-06-01 23:58] bullfest opened #380 "__init__ for OrderedSet missing"
Typechecking this snippet
[code]
Gives the error:
[code]

## Expected behaviour
I'd expect it to work as `OrderedSet` accepts an optional parameter `iterable`: https://github.com/django/django/blob/ecaac9e42f497be04ddc72dfebb6e397ccca9517/django/utils/datastructures.py#L10

[2020-06-02 09:25] sobolevn commented on #379
Totally! Thanks a lot!

[2020-06-02 10:56] #380 closed, assigned to nobody

[2020-06-02 15:06] Anto59290 opened #382 "Incorect type for items method of Sitemap class"
# Bug report

## What's wrong
When using the Sitemap class in the following way:
[code]
Will raise the following error:
`Return type "QuerySet[Product]" of "items" incompatible with return type "List[Any]" in supertype "Sitemap"`

## How is that should be

The given snippet should not raise any error. In the Django documentation we can find some example [using a QuerySet](https://docs.djangoprojec

[2020-06-03 09:58] #382 closed, assigned to kszmigiel

[2020-06-03 10:16] Anto59290 commented on #382
Thanks @sobolevn and @kszmigiel that was quick :1st_place_medal:

[2020-06-03 17:29] #309 closed, assigned to nobody

[2020-06-03 20:46] #378 closed, assigned to kszmigiel

[2020-06-04 08:01] AdrienLemaire commented on #134
coc.nvim user here (vscode plugin for vim).

I'm also getting this error
[code]

My mypy.ini file:
[code]
I could verify that my WorkspaceFolders are correctly set up
[code]

If I comment out the django_settings_module line in mypy.ini, I get
[code]

If I comment out the mypy_django_plugin.main line from mypy.ini, I get mypy linting working fine (except without django-stubs).

This is confusing.

[2020-06-04 08:56] sobolevn opened #388 "mypy@0.780 is out"
We need to test if everything works on this new version and update the dependency.

[2020-06-04 08:56] sobolevn commented on #379
Related #388

[2020-06-04 09:54] sobolevn commented on #388
This is also outdated: https://github.com/typeddjango/django-stubs#version-compatibility

[2020-06-05 22:50] davepeck commented on #373
I'm running into this bug too, under the same circumstances: changed a `QuerySet` to a `Manager`

[2020-06-06 08:35] #388 closed, assigned to kszmigiel

[2020-06-06 11:28] #379 closed, assigned to kszmigiel

[2020-06-07 08:27] AndreyMZ commented on #333
Why not release `django-stubs` 1.5.1?

[2020-06-07 09:31] sobolevn commented on #333
We will release `1.6` soon enough.

[2020-06-08 06:58] AndreyMZ opened #392 "Wrong supported python versions in PyPi metadata"
According to [README](https://github.com/typeddjango/django-stubs/blob/54f5f63e719bb16bb51f19b20c5241227db7bc54/README.md#version-compatibility) and [the test configuration](https://github.com/typeddjango/django-stubs/blob/54f5f63e719bb16bb51f19b20c5241227db7bc54/.travis.yml#L8) it looks like django-stubs supports Python 3.8.

But [the metadata](https://github.com/typeddjango/django-stubs/blob/mas

[2020-06-08 07:55] sobolevn commented on #392
Thanks a lot for the report! Fixed in `master`.

python3.8 support was added several days ago: #379
There was no release made since then.

[2020-06-08 07:55] #392 closed, assigned to nobody

[2020-06-15 08:58] sobolevn opened #399 "Add `Annotated` type to represent the result of `.annotate()` call"
See #https://github.com/typeddjango/django-stubs/pull/398

Currently, we are discussing that this API looks good:

[code]

[2020-06-16 05:24] AdrienLemaire commented on #312
Getting the same issue. Is there a plan to fix it @sobolevn ?

settings:
[code]

models.py
[code]

EDIT: Actually, my situation is explained in https://mypy.readthedocs.io/en/stable/metaclasses.html, and I was not defining a metaclass. Sorry for the disturb.

[2020-06-16 15:06] coiax opened #400 "update_session_auth_hash() type doesn't match documentation and functionality"
# Bug report

## What's wrong

The stub for update_session_auth_hash() is inaccurate, it asks for a WSGIRequest, when
the function itself expects a HttpRequest (with a .session attribute).

In the [documentation](https://docs.djangoproject.com/en/2.2/_modules/django/contrib/auth/#update_session_auth_hash), it is also passed a request.

## How is that should be

The stub should be:

```def update_s

[2020-06-16 16:19] #400 closed, assigned to nobody

[2020-06-16 19:44] adithyabsk commented on #373
Yep, I'm getting the same issue here.

`Python` 3.6.8
`Django` 2.2.3
`mypy` 0.770
`django-stubs` 1.5.0

[2020-06-18 00:21] AdrienLemaire opened #402 ""AbstractBaseUser" has no attribute "is_staff""
# Bug report

## What's wrong
django-stubs incorrectly associates `HttpRequest.user` to AbstractBaseUser when my user extends AbstractUser.

## How is that should be
Given the `settings.py`:
[code]
and the `app/models.py`:
[code]

When calling an AbstractUser property:
[code]
No type error should be raised, but I get:
[code]

I suppose the simplest of fixes would be to change https://github.com/ty

[2020-06-18 02:46] AdrienLemaire commented on #402
Actually, the fix suggested won't do it. My custom user fields also raise issues, so django-stubs needs to do something like this:

[code]

[2020-06-18 06:41] vkukushkin88 opened #403 "ValueError: Related model 'users.User' cannot be resolved"
# Bug report

Crashing trying resolve related model.

## What's wrong

[code]

Code which case error:
[code]

I think that problem is that related model has ForeignKey like: `created_by = models.ForeignKey('users.User',....)` and it make dependency to itself.

## How is that should be

Should proper resolve dependencies and not crash.
Regards.

## System information

- OS: 4.19.76-linuxkit GNU/Lin

[2020-06-18 08:26] sobolevn commented on #402
Related to
- https://github.com/typeddjango/django-stubs/issues/309
- https://github.com/typeddjango/django-stubs/pull/383

Can you guys please take a look? @kszmigiel @bullfest

[2020-06-18 08:29] sobolevn commented on #403
I am pretty sure that the problem is that `apps-users` is not a valid app name.

[2020-06-19 07:45] bullfest commented on #402
I won't be able to access a computer until monday, but I believe this is essentially what's being done (but in a more non-direct way by mypy-magic).

Have you added the plugin to the mypy configuration as instructed here? https://github.com/typeddjango/django-stubs#configuration

[2020-06-19 07:55] AdrienLemaire commented on #402
Yes, here's my mypy.ini:
[code]
Is there a way to confirm for sure that django-stubs are loaded by mypy? I'm pretty sure that it's loaded since the number of mypy errors skyrocketed after I installed it, but I might have misunderstood something

[2020-06-19 08:03] vkukushkin88 commented on #403
Code from my example is is not real code, it is just schema.
In real life it works pretty good more than 2 years. `apps-users` in real life has different name (I cannot provide real snapshot of code). I show you only general case.
It looks like that `django-stubs` cannot properly resolve referenced ForeignKey keys if it referenced to itself.

[2020-06-19 23:07] kszmigiel commented on #402
@AdrienLemaire changing `follow_imports` to `normal` or `silent` should do the job
https://mypy.readthedocs.io/en/stable/running_mypy.html#follow-imports

[2020-06-20 05:50] AdrienLemaire commented on #402
@kszmigiel seems to work. Having other request issues, but due to missing stubs for the wagtail framework. request.user looks fine, thanks!

[2020-06-20 05:50] #402 closed, assigned to kszmigiel

[2020-06-20 05:56] AdrienLemaire opened #404 "save incompatible with supertype "Model""
# Bug report

## What's wrong
mypy raises an error for the model save method defined as follow:

[code]

error: `[mypy error] [E] Signature of "save" incompatible with supertype "Model"`

## How is that should be
No error, or something more meaningful to help me fix my typing.

I can see the [model type definition here](https://github.com/typeddjango/django-stubs/blob/master/django-stubs/db/models

[2020-06-20 21:18] kszmigiel commented on #312
@lfrodrigues could you verify if this bug still occurs? I wasn't able to reproduce it at all. I guess that someone fixed this in the meantime, or maybe your `mypy.ini` file wasn't properly configured.

[2020-06-20 23:23] kszmigiel commented on #373
@dmwyatt @davepeck @adithyabsk Could some of you guys support me with an example code causing the bug occur, preferably together with Mypy config file and the command you're using? I'm trying to reproduce this bug but with no success so far.

[2020-06-20 23:36] lfrodrigues commented on #312
I just tested it again. If I just have a simple settings.py file like the one created when django starts a project there is no problem.

The problem is that my settings import different sub modules for settings depending on the country that was configured.

Here's a demo repository:
https://github.com/lfrodrigues/testdjangotypes

[code]

[code]

[2020-06-21 10:24] kszmigiel commented on #312
@lfrodrigues Thank you for the tips, I'll try to fix this as soon as I have enough time.

[2020-06-21 21:40] mkurnikov opened #405 "Testing stubs against Django source code"
We need to start using actual Django sources to test stubs. For that, we have to merge our `.pyi` files inside the `.py` files of Django.

There's a library called LibCST https://github.com/Instagram/LibCST, which allows traversing and modifying Python source code. It's new, Python 3 only, covered with type annotations and well-maintained by Instagram. I think we should use it as a base for our me

[2020-06-22 09:03] sobolevn commented on #404
Can you please try to use `def save(self, *args, **kwargs) -> None:`?
Because `def save(self, *args: list, **kwargs: dict) -> None:` is indeed incompatible.

[2020-06-22 09:17] sobolevn commented on #373
Or even with a reproduction repo 😉

[2020-06-22 09:26] AdrienLemaire commented on #404
@sobolevn thanks for the reply.
In that case, mypy will still complain about missing type annotations
![](https://i.imgur.com/4kXh1S6.png)

It seems to be due to `disallow_untyped_defs = True`

Do you agree that replacing with the following should fixed the issue while keeping the mypy conf at a "strict" mode?

[code]
If yes, we can close the issue, thanks for you support :)

[2020-06-22 09:30] sobolevn commented on #404
This happens because of `warn_incomplete_stub` AFAIK. I am not a big fan of this setting. I really recommend to turn it off.

[2020-06-22 09:55] kszmigiel commented on #405
@mkurnikov Thank you for precise task description, I'll take care of it as soon as possible 😃

[2020-06-22 10:11] bullfest opened #407 "Unable to subclass HttpRequest to override type of User"
I'd like to create a `AuthenticatedHttpRequest` to indicate that a user has been authenticated (for example to annotate the `request` parameter for views with the `login_required` decorator).

I'd expect this to be done like so:
[code]

The problem is that the type of `user` is changed by this transformer https://github.com/typeddjango/django-stubs/blob/574a87e68cfb2e6ff66b3d7e1a0bb75f51148a8c/myp

[2020-06-22 10:13] bullfest commented on #407
We should probably also update the readme and remove/update this section: https://github.com/typeddjango/django-stubs#how-can-i-use-httprequest-with-custom-user-model

[2020-06-23 10:10] sobolevn commented on #407
This is a critical bug, because without custom user models - these stubs do not make much sense.

[2020-06-23 10:11] sobolevn commented on #407
@kszmigiel can you please have a look?

[2020-06-23 10:14] kszmigiel commented on #407
@sobolevn Sure thing, as soon as I solve dining philosophers problem for Uni 😝

[2020-06-23 11:39] bullfest commented on #407
Custom user models work fine (the type becomes `Union[<custom user model>, AnonymousUser]`), it's just that creating subclasses of `HttpRequest` with only authenticated users doesn't work.

I'd say it's important but it's not critical, more a quality of life thing to avoid having to have non-needed asserts/if-statements.

In regards to the readme the mentioned section should probably be removed as

[2020-06-23 12:10] sobolevn commented on #407
Oh, I see. This indeed is not critical.

But, we still need to fix that as well.
Can you please post the output from `mypy`?

[2020-06-25 17:44] b0g3r opened #409 "How to create chain of QuerySet methods?"
For example we have manager generated from queryset:
[code]

Which type should I use for return value in filter_foo/filter_bar?

I tried `filter_foo() -> EntityQuerySet:`, but `reveal_type(Entity.objects.filter_foo().get())` returns 'Any :(

It looks like `models.Manager.from_queryset` did magic which I cannot reproduce in my typing. Any ideas?

[2020-06-26 04:33] AdrienLemaire commented on #269
Looks like I have the same issue.

[code]

I'll do this temporarily
[code]
Hopefully this isn't wrong, please let me know otherwise

[2020-06-26 09:05] flaeppe opened #410 "transaction.atomic is incompatible with ExitStack().enter_context"
# Bug report

`django.db.transaction.atomic` is incompatible with `contextlib.ExitStack().enter_context`

## What's wrong

Repro case:

[code]

Causes:

[code]

## How is that should be

`transaction.atomic()` should be accepted as a valid argument to `stack.enter_context` as it declares the expected `__enter__` and `__exit__` methods.

## System information

- OS:
- `python` version: 3.8.0
- `dja

[2020-06-27 15:13] jnoortheen commented on #388
when can we expect the PyPI release?
![image](https://user-images.githubusercontent.com/6702219/85925567-cf516c80-b8b6-11ea-8133-4831042e2e29.png)

[2020-06-30 20:31] mschoettle opened #411 "Bump max mypy version"
I just updated `mypy` to `0.782` and got the following error:

So far I have not encountered any issues despite this error (it still installed it regardless).

Can the max version requirement be safely increased?

[2020-07-01 10:43] Swamii opened #412 "Partition type signature can be improved"
# Partition type signature can be improved

## What's wrong

It narrows the use case to Model only, even though it works for all kinds of objects.

## How is that should be

It should take a `TypeVar` and return the same type, but divided by the callables return value.

## System information

- OS:
- `python` version:
- `django` version:
- `mypy` version:
- `django-stubs` version:

[2020-07-01 12:35] #412 closed, assigned to nobody

[2020-07-05 21:36] kszmigiel commented on #411
@mschoettle Mypy version in requirements was already bumped, but we haven't released 1.6.0 yet
@sobolevn I think updating Mypy requirement to 0.782 should do no harm, I've opened a PR, all tests are passing

[2020-07-05 21:46] kszmigiel commented on #409
@b0g3r I'm working on fixing this under GSoC program, please be patient 😄

[2020-07-06 07:34] #411 closed, assigned to nobody

[2020-07-06 16:01] palfrey opened #416 "Adding test database settings gets incompatible type error"
# Bug report

## What's wrong

Doing the following in settings gets an error
[code]

The error is
[code]

## How is that should be

No error for using test database settings

## System information

- OS: macOS 10.14.6
- `python` version: 3.7.7
- `django` version: 3.0.7
- `mypy` version: 0.770
- `django-stubs` version: 1.5.0

[2020-07-07 04:23] snejus opened #417 "Incompatible with django-configurations due to the way the settings are imported"
# Bug report
:bug:

## What's wrong

Trying to use `django-stubs` together with `django-configurations` is a big pain since the latter interferes and controls how django settings are loaded. By default, the following exception gets thrown when trying to run `mypy`:
[code]
That makes sense, since `configurations` disallows loading the settings manually and requires to run these two calls to configu

[2020-07-07 08:28] sobolevn commented on #417
Maybe we can provide a configuration option that leads to a some function hook?

[code]

[code]

This will solve your (and possibly all other problems).

[2020-07-07 08:45] snejus commented on #417
Great idea! It's also inline with `pylint`, so that's not something unseen:
[code]
I reckon that a config option is enough - no need to support an environmental var, since it's not something that changes between environments or different dev setups considering a single project.

Are you by any chance aware of any side effects that this may cause? The function above calls `settings.pre_setup()`, `s

[2020-07-07 09:05] sobolevn commented on #417
The good thing we allow any side-effects during the setup phase 😆

Joking aside, I don't think there will be any. Because we already use `django.setup()` and it is pretty similar.

[2020-07-07 09:42] snejus commented on #417
It's a lovely one - mypy ends up showing a single error instead of a couple of hundred :D Just released there was a PR intending to solve this issue: #180. Though it looks like it's stale now and wasn't exactly what you'd expect to have here.

Just for clarification, I guess your requirements haven't changed, right?

[2020-07-07 09:51] sobolevn commented on #417
Yes, I still believe that we should not add any support for third-party libraries here.
But, the proposed hook is different: it is just a mechanism that will always work the same way for us.
I don't have any problems with that.

[2020-07-07 09:52] #407 closed, assigned to kszmigiel

[2020-07-07 09:53] snejus commented on #417
Surely not.

Cool, that's great. I'll get this done in the eve.

[2020-07-08 15:04] ghost commented on #404
On top of that: `*args` isn't a list and `**kwargs` isn't a dict: one should type 1 member, not the container. In most cases, this will mean to type them with Any. But in some cases, one can do better:

[code]
Ref: https://www.python.org/dev/peps/pep-0484/#arbitrary-argument-lists-and-default-argument-values

[2020-07-08 16:03] bespokebob opened #419 "Missing most management commands"
# Bug report

You're welcome.

No problem.

## What's wrong

Stubs are missing for most of `django.core.management.commands`. Attempting to import one (to wrap in a custom command) results in the error `Module 'django.core.management.commands' has no attribute 'somecommand'`

## How is that should be

There should be stubs

## System information

- OS: macOS
- `python` version: 3.8.2
- `django` ve

[2020-07-08 16:35] PetrDlouhy commented on #144
I have get away with this code in my case:
[code]
But I consider it a very dirty hack.

[2020-07-08 23:11] snejus opened #420 "Exceptions should be reported in a more clear way"
# Technical improvement suggestion
Not exactly a bug something that should get some more attention: exception handling and reporting them to the user. I've been working on the configuration reading in `main.py` module and found that _handled exceptions_ end up being reported like this:
[code]
![image](https://user-images.githubusercontent.com/16212750/86977324-466ae880-c174-11ea-9d46-5329753c9725.

[2020-07-09 00:11] AdrienLemaire commented on #404
Thanks

[2020-07-09 00:11] #404 closed, assigned to nobody

[2020-07-09 08:52] sobolevn commented on #420
@snejus I would love to merge a PR with this feature!

[2020-07-09 11:27] snejus commented on #420
Perfect! It's in the works :)

[2020-07-11 14:07] danifus commented on #373
I've experienced a similar traceback. I've created a reproduction repo: https://github.com/danifus/djstubs-reproduce

Steps:
- `cd` to the directory containing `mypy.ini`
- run `mypy . --tb`

Gives me:
[code]

Let me know if you need anything else to help this along.

[2020-07-11 14:08] danifus commented on #373
Not sure if it is the minimal reproduction repo but it resembles the structure that triggered this for me

[2020-07-11 20:15] kszmigiel commented on #373
@danifus Thanks, getting to work

[2020-07-11 22:20] kszmigiel commented on #373
@davepeck @danifus @adithyabsk @dmwyatt

Changing

[code]
to

[code]

helped 😄 You have to specify a class before using it as type hint. Let me know if it works for you.

[2020-07-11 23:21] sobolevn commented on #373
@kszmigiel can this be solved using `.defer()`? We need to be sure that the order is not important.
Otherwise, we would have a lot of bug reports like this one.

[2020-07-12 00:12] danifus commented on #373
@kszmigiel That's the workaround I'm currently using but as it is a [forward reference](https://mypy.readthedocs.io/en/stable/kinds_of_types.html#class-name-forward-references) to `ModelB` in `def do_something(self, other_obj: "ModelB"):`, `ModelB` should be able to be defined after it is used as a mypy type.

[2020-07-12 04:04] danifus opened #423 "mypy crash when .mypy_cache is present"
## What's wrong
Under certain circumstances, a project with a typing error will produce correct mypy errors and hints when `.mypy_cache`  is not present but a stack trace if it is.

Here is a simplified reproduction repo demonstrating this behaviour: https://github.com/danifus/djstubs-reproduce2

- pip install `django` and `django-stubs`
- `cd` to directory containing `mypy.ini`
- run `mypy . --tb

[2020-07-12 04:58] danifus commented on #373
Looks to be a little related to: https://github.com/typeddjango/django-stubs/issues/344

They mention that `mypy==0.750` and `django-stubs==1.3.2` worked for their deferred types. The same appears to be true here, this bug is not triggered in the reproduction repo with those versions.

[2020-07-12 05:39] danifus commented on #373
Git bisect points to https://github.com/typeddjango/django-stubs/commit/1196336e3b238a67115548bda805465bd37ece93 as the commit that introduced this issue.

[2020-07-12 08:12] sobolevn commented on #373
@danifus thanks a lot for the crime scene investigation! 🚓

My wild guess that https://github.com/python/mypy/issues/7071 can possibly solve this issue.

[2020-07-13 13:31] #373 closed, assigned to kszmigiel

[2020-07-13 22:35] kszmigiel commented on #423
@danifus I've encountered the same problem, reinstalling both `django-stubs` and `mypy` worked for me, but I'll check your repo tomorrow and try to reproduce this bug.

[2020-07-13 23:48] danifus commented on #373
Thanks guys! Working for me now :D

[2020-07-17 03:21] isac322 opened #428 "ContentType issue"
# Bug report

Error occurred while running mypy with django-stubs's mypy plugin.

## What's wrong

#### Related code

[code]

#### Result of `mypy ./src`

[code]

FYI. Line `17` is `return Job(`

#### `mypy.ini`

[code]

---

Weird thing is... if I add to `INSTALLED_APPS` of my project's `settings.py` this error is gone.

## How is that should be

No error.

## System information

- OS: macOS Cata

[2020-07-17 07:40] sobolevn commented on #428
That's not really an issue with `django-stubs`. We have to run `django.setup()` while typechecking your code.
And it fails, because there's something wrong with your setup.

The only thing we can do here is to improve our error messages: see https://github.com/typeddjango/django-stubs/pull/421

[2020-07-17 07:40] sobolevn commented on #428
@kszmigiel will you please have a look?

[2020-07-17 08:24] isac322 commented on #428
@sobolevn I have empty `INSTALLED_APPS` and there's no usage of `ContentType` nor `django.contrib.contenttypes`.
but I found [this line](https://github.com/typeddjango/django-stubs/blob/97ec2ee43b17bad55c68994c917321f5abdd1a0e/mypy_django_plugin/django/context.py#L154) (which import `ContentType` internally) in `mypy_django_plugin`. Could this be the cause?

[2020-07-17 08:35] sobolevn commented on #428
Yes. It can be.

We should make this optional.

[2020-07-21 05:05] AndreyMZ commented on #333
It's been 6 weeks, but django-stubs 1.6 is still not released...

[2020-07-21 12:31] #423 closed, assigned to kszmigiel

[2020-07-21 12:53] kszmigiel commented on #423
@danifus fixed, sorry for the delay, I'm a bit busy with GSoC stuff at the moment

[2020-07-21 23:48] danifus commented on #423
Thanks! That was actually super quick! It's great to be able to use incremental mode again :D

[2020-07-22 01:12] jaredlockhart opened #430 "Module 'django.conf.urls' has no attribute 're_path'mypy"
# Bug report

## What's wrong

`Module 'django.conf.urls' has no attribute 're_path' mypy(error)`

## How is that should be

`re_path` is defined here:

https://github.com/django/django/blob/3.0.7/django/urls/__init__.py#L6
https://github.com/django/django/blob/3.0.7/django/urls/conf.py#L77

and appears here in the typestubs:

https://github.com/typeddjango/django-stubs/blob/v1.5.0/django-stubs/ur

[2020-07-22 07:32] sobolevn commented on #430
@jaredlockhart thanks a lot! PR is welcome!

[2020-07-24 03:05] Datamance commented on #400
The second type should actually be `AbstractBaseUser`...

[2020-07-24 03:12] Datamance opened #431 "update_session_auth_hash second param should be `AbstractBaseUser`"
https://github.com/typeddjango/django-stubs/blob/master/django-stubs/contrib/auth/__init__.pyi#L32

Currently needlessly limiting it to `AbstractUser` when in fact `update_session_auth_hash` looks like so:

[code]

`AbstractBaseUser`, meanwhile, has `get_session_auth_hash` even on this set of typestubs

[code]

Should prefer the superclass here.

Thanks for a great set of stubs otherwise!

[2020-07-24 07:20] sobolevn commented on #431
PRs are welcome!

[2020-07-29 05:28] danifus opened #432 "mypy incremental run shows errors not present in initial mypy run"
# Bug report

## What's wrong

I've created a reproduction project: https://github.com/danifus/djstubs-reproduce2

This may be related to #423 (so the reproduction is an extension of that).

It looks like the methods on the manager of the inherited base model are not being defined the same way in initial and incremental runs.

- pip install django and django-stubs from git (I'm testing on 3915aa06

[2020-07-29 19:35] gpkc opened #433 "Allow field hiding for abstract classes"
# Bug report

## What's wrong

Creating a subclass of, for example, `AbstractUser` errors if one tries to hide a field. For example:

[code]

will fail with something like:

[code]

## How is that should be

This should be allowed as per the following doc entry:

https://docs.djangoproject.com/en/3.0/topics/db/models/#field-name-hiding-is-not-permitted

## System information

- `python` version: 3

[2020-07-29 20:37] sobolevn commented on #433
I am not sure if this is related to `django-stubs`. That's how `mypy` works. I would say that `# typing: ignore` here is reasonable.

[2020-07-30 09:15] gpkc commented on #433
Wouldn't it be possible to define those as `Optional[models.Field]` instead, since this is documented behavior?

[2020-07-30 09:52] ljodal opened #434 "Incorrect type annotation for update_fields parameter to Model.save"
# Bug report

## What's wrong

Hi there, it looks like the type annotation for the `update_fields` parameter to `Model.save` and `Model.save_base` is incorrect. It's currently typed as `Optional[Union[Sequence[str], str]]` which indicates that a single string can be sent as an argument, but it doesn't look like Django actually supports that. If `update_fields` is not `None`, Django calls `frozense

[2020-07-30 09:58] sobolevn commented on #433
@mkurnikov what do you think?

[2020-07-30 09:59] cihati opened #435 "Incompatibility with mypy 0.78x"
# Bug report

## What's wrong
I recently upgrade to mypy 0.782 and I started seeing the following:

[code]

## System information

- OS:
- `python` version: 3.7.7
- `django` version: 2.2.13
- `mypy` version: 0.782
- `django-stubs` version: 1.5.0

[2020-07-30 09:59] sobolevn commented on #434
@ljodal PR is more than welcome!

[2020-07-30 10:00] sobolevn commented on #435
Duplicate of #388

[2020-07-30 10:00] #435 closed, assigned to nobody

[2020-07-30 10:01] mkurnikov commented on #433
So, users will have to do `is not None` check every time they want to use the field?

[2020-07-30 10:07] gpkc commented on #433
I guess not, because since this class is abstract you must inherit from it. The class inheriting from it can change the type to just `models.Field` or `models.CharField` instead, if you want correct typing. Not sure if there's a better way though.

[2020-07-30 17:12] sobolevn commented on #433
I would appreciate a working demo! @gpkc do want to work on this?

[2020-07-30 18:06] jhabarsingh commented on #263
@sobolevn, I would like to work on this issue.

[2020-07-30 18:20] jhabarsingh commented on #263
"get_object should return instance type from QuerySet". can you explain this to me.

[2020-07-31 07:14] #434 closed, assigned to nobody

[2020-08-01 19:31] syastrov commented on #430
You didn't  provide the code that fails, but it looks like you tried importing it from `django.conf.urls` when it should be from `django.urls.conf` :)
So it doesn't seem to be a bug, as far as I can tell.

(As a side note, it would be nice to have a better type for `path`/`re_path` than `Any`... but that's another story).

[2020-08-01 21:11] sobolevn commented on #430
I am going to close this due to the reason @syastrov provided. Feel free to reopen if that does not solve your problem.

[2020-08-01 21:11] #430 closed, assigned to nobody

[2020-08-03 14:56] gpkc commented on #433
OK, I'll try to come up with something in the next few days.

[2020-08-05 06:09] danifus opened #438 "Crash when return type of a Manager method is a forward reference"
# Bug report

## What's wrong

mypy crashes when the return type of a manager method is a forward reference (similar to #373)

I've created a reproduction repo: https://github.com/danifus/djstubs-reproduce

Steps:

    cd to the directory containing mypy.ini
    run mypy . --tb

[code]

## How is that should be

No crash :p

## System information

- OS:
- `python` version: 3.8.4
- `django` version

[2020-08-05 10:13] kszmigiel commented on #438
@sobolevn should I do the fix on the master branch or in the refactor?

[2020-08-05 11:08] sobolevn commented on #438
Whatever you think is best @kszmigiel

[2020-08-05 12:56] kszmigiel commented on #438
@danifus @sobolevn
I've fixed this issue on refactor branch here (added test too): https://github.com/typeddjango/django-stubs/pull/427/commits/1ae7ecaaccf673d8fc3d00ee601ad5c5e537fd4c
I've encountered error with annotating `ModelA.objects` here, I've managed to fix it earlier with `from_queryset`, so I'll try to do the same here

[2020-08-05 18:47] bespokebob opened #439 "Django 3.1 JSONField is missing"
# Bug report

## What's wrong

Django 3.1 adds a generic `models.JSONField` and `fields.JSONField` to replace the PostgreSQL-only versions:
https://docs.djangoproject.com/en/3.1/releases/3.1/#jsonfield-for-all-supported-database-backends

Attempting to use these new fields results in `error: Module has no attribute "JSONField"`

## How is that should be

Type definitions should exist for the new i

[2020-08-05 20:25] sobolevn commented on #439
Yeap, `django@3.1` is not yet supported.

[2020-08-06 11:41] kszmigiel commented on #439
@sobolevn I can take care of this in the meantime
@youngbob could you provide me some minimal reproduction code please?

[2020-08-06 14:24] bespokebob commented on #439
I was going to put together a PR since it seemed pretty straightforward, but I'm having issues running the tests 😞

A minimal case would be like:

[code]

Note that KeyTransform and KeyTextTransform should also be available from django.db.models.fields.json, like the PostgreSQL equivalent (just copying the existing type defs will probably work).
Source is here: https://github.com/django/django/blo

[2020-08-06 17:00] sobolevn commented on #439
This is not that easy. Because we still don't know how to support multiple versions of django types in a single codebase.
Because versions `<3.1` should not have these types.

[2020-08-06 19:08] bespokebob commented on #439
What would be the impact of having the types available on `<3.1`? It seems like any code attempting to use the new fields would fail before type checking even came into play. If the types were changing in a backwards incompatible way, then it would be a problem, but I don't see what would break by making types available for things that just don't exist in older versions.

[2020-08-07 01:23] eyqs commented on #344
Hi, I've managed to make a [minimal reproducible example](https://github.com/eyqs/django-stubs-issue-344/), which causes Mypy to error out with "maximum semantic analysis iteration count reached". This code does not involve `from __future__ import annotations`, which seems to fix a different bug that doesn't involve an infinite loop.

Most interestingly, there are no type annotations in the code!

[2020-08-09 03:27] snejus commented on #428
@isac322, could you confirm that your application is configured by including line `default_app_config = <path to apps.py>` to `<app-root-path>/__init__.py`? Starting with Django 2, they started discouraging this type of configuration and advise including the dotted path to `INSTALLED_APPS` instead, [see more background here](https://docs.djangoproject.com/en/2.2/ref/applications/#configuring-appli

[2020-08-09 08:27] #420 closed, assigned to nobody

[2020-08-11 15:32] BurningLights opened #441 "django.db.models.functions.Left expression parameter can be more than just str"
# Bug report

The type annotation for the expression parameter of the Left class `__init__` is str, but it accepts a lot more than that. The docstring says:
expression: the name of a field, or an expression returning a string

I've tested it, and Left also works with at least F (which would be the same as providing a string field name), OuterRef, Subquery, and Value for the expression parameter.
#

[2020-08-12 14:10] federicobond commented on #439
One way I have seen it done in other projects with similar constraints is to branch into two versions. 1.x could continue supporting the current versions while 2.x would support Django 3.1, and changes that apply to both can be backported to the 1.x branch.

An approach that is even easier to understand is to release versions that match the Django major and minor versions, with patch versions that

[2020-08-12 14:15] sobolevn commented on #439
@federicobond yes, I guess it is the easiest way.

[2020-08-12 14:20] bespokebob commented on #439
That's basically the pattern used by the TypeScript definitions in https://github.com/DefinitelyTyped/DefinitelyTyped, and it works well.

[2020-08-13 09:15] syastrov opened #444 "values_list returns Optional[Type] for field when field has a default value and is not nullable"
# Bug report
## What's wrong

[code]

## How is that should be

The type of `result` is expected to be `Decimal` as the field is not nullable.

It seems to be due to the use of the `default` value for the field.
The culprit is probably this line: https://github.com/typeddjango/django-stubs/blob/31e795016f154309e675c85616f4f8af033c0860/mypy_django_plugin/django/context.py#L241
It should return `Fal

[2020-08-14 12:55] AndreyMZ commented on #330
`README.md` was updated in scope of #390 to indicate that Django 3.x are supported.

[2020-08-14 13:04] AndreyMZ commented on #330
Reopened until the next version of `django-stubs` (with the changes includes) is released.

[2020-08-17 14:23] sobolevn commented on #439
We need to think about how we should handle stubs and plugin. We cannot store our plugin in different branches.

[2020-08-17 15:40] federicobond commented on #439
@sobolevn can you clarify a bit more the requirements for the plugin and how they differ from the stubs?

One possible way forward would be to extract the plugin to a different repo.

[2020-08-17 15:50] sobolevn commented on #439
Plugin is not bound to django version. Stubs are.
We with @kszmigiel also think that moving our plugin to a separate repo is a good idea.

[2020-08-20 15:15] james-perretta opened #447 "Field class is missing "one_to_many", "one_to_one", "many_to_many", and "many_to_one" attrs"
# Bug report

## What's wrong
According to [Django's documentation](https://docs.djangoproject.com/en/3.1/ref/models/fields/#attributes-for-fields-with-relations), these attributes should be present on all Field instances. However, the [Field](https://github.com/typeddjango/django-stubs/blob/master/django-stubs/db/models/fields/__init__.pyi#L45) class stub does not include them. Instead, they are

[2020-08-21 16:05] relwell commented on #439
Is there an approved workaround for this?

[2020-08-22 21:33] kszmigiel commented on #447
@james-perretta considering that those fields are declared at `Field` class in Django code (https://github.com/django/django/blob/3e753d3de33469493b1f0947a2e0152c4000ed40/django/db/models/fields/__init__.py#L116) I'm quite sure that you're correct. Would appreciate a PR!

@sobolevn what do you think?

[2020-08-22 23:43] kszmigiel commented on #439
I've been thinking a while about this and here's my idea:

We could create one separate repo for stubs, having two main branches, for example `master` for 3.1 and newer, and `legacy` for pre-3.1. One of the branches should be pulled from the repo during install, in the similar way as we pull Django source code in `scripts/typecheck_test.py` at this moment.

Using `pip` functionality `--install-opt

[2020-08-22 23:49] relwell commented on #439
Is there a reason why releases of this project wouldn't just track the
major and minor versions of supported Django versions?

On Sat, Aug 22, 2020 at 7:43 PM Kacper <notifications@github.com> wrote:

Robert Elwell
http://robertelwell.info

[2020-08-23 00:01] kszmigiel commented on #439
@relwell Yes. The plugin itself is far from perfect, and user who would like to use Django Stubs with Django 2.2 would get a buggy plugin delivered, with no hope for improvement.

[2020-08-23 00:05] relwell commented on #439
I'm not sure I understand. Each branch would track a combination major and
minor version, and releases would be generated from each track. You could
use the patch version of each release to provide bug fixes or improvements.
I'm not sure this project needs separate repos. It just needs a different
branching and build strategy.

On Sat, Aug 22, 2020 at 8:01 PM Kacper <notifications@github.com> wrot

[2020-08-23 00:12] kszmigiel commented on #439
@relwell In that case if someone report an issue with plugin, we would have to apply it to either major and minor branch. This would generate twice as much PRs to review, and could cause a danger that plugin would work differently at major and minor version in case someone forgets to apply change to both branches. It's not about the stubs really, missing stub will generate an error, while bug in p

[2020-08-23 00:31] relwell commented on #439
Fair enough! Pinning related versions is a pretty common practice in
"ecosystem" libraries like this (see Kotlin Gradle plugins, for example).
The approach does require a great deal of support and maintenance. Since it
encourages explicit version pinning between related dependencies, I'm
confident it would solve the problem you're experiencing decisively,
scalably, and without needing to fork. It'

[2020-08-23 06:41] sobolevn commented on #439
@kszmigiel let's discuss this tomorrow!

[2020-08-24 20:09] #447 closed, assigned to nobody

[2020-08-26 14:11] kszmigiel opened #450 "GSoC 2020 Summary"
Here's a list of issues I've managed to solve during GSoC 2020, and list of accepted pull requests authored by me. The biggest part of my work (Mypy plugin refactoring) was done in pull request #427, and I continue my work on this at pull request #445 to apply my changes to master branch.

There are few things that needs polishing, at this moment I'm working on passing the CI tests. After that I p

[2020-08-26 14:14] sobolevn commented on #450
We can also count #439 as WIP, because we have spent a significant time discussing it.

[2020-08-28 06:27] a-musing-moose opened #452 "FileField storage parameter should also accept a callable"
# Bug report

## What's wrong

When running mypy against a code base with django-stubs installed I get an unexpected typing error:

[code]

## How is that should be

The `storage` parameter of the `FileField` class can take either an instance of `Storage` or a no-arg callable that will return an instance of `Storage` as stated here: https://docs.djangoproject.com/en/3.1/ref/models/fields/#django.d

[2020-08-28 07:14] #452 closed, assigned to nobody

[2020-08-31 03:15] oladhari opened #455 "Field[Any, Any]" has no attribute "on_delete" in test file"
# Bug report

## What's wrong
while running mypy for the field `ForeignKey`
I got this error :
[code]

the field:
[code]

the test:
[code]

I was able to resolve it by casting the related field with its type:
[code]

## How is that should be

this error should not happen and I should not cast the related field to resolve it

## System information

- OS: Linux
- `python` version: 3.8
- `django` ver

[2020-09-08 16:57] javulticat commented on #423
Any news on a new release containing this fix?  Even if `1.6.0` isn't close to being ready, a minor hotfix (`1.5.1`?) containing this change would be incredibly appreciated - it's a significant impediment to development on large typed Django code bases to have to run `mypy` with no caching.

[2020-09-09 11:19] ilyachch opened #456 "ModuleNotFoundError - can't find app"
# Bug report

## What's wrong

My project structure is
[code]

My `mypy.ini` file is:
[code]

I'm trying to run `poetry run mypy backend` but error appers:
[code]

The app `base` is in `INSTALLED_APPS`:
[code]

If i make a copy of `mypy.ini` inside of backend folder, near `manage.py` and run `poetry run mypy .` from this folder, it works.

## How is that should be

I think it should be run normall

[2020-09-09 11:27] sobolevn commented on #456
Yes, `mypy.ini` should be near `manage.py` 👍

Going to close this, because there's nothing to fix!

[2020-09-09 11:27] #456 closed, assigned to nobody

[2020-09-09 22:16] autoferrit commented on #388
I am still getting this error. currently we are at `mypy=0.782`. Are there any chances of getting this updated?

[2020-09-10 09:17] WhyNotHugo opened #458 "`settings.py` is executed locally"
# Bug report

## What's wrong

This plugin attempts to execute `settings.py`.
I'm using 12factor, where I use about 15 environment variables to configure my app. The defaults for these make the crash to indicate a configuration error (e.g.: these variables **must** be set).

Re-architecting my entire application to support this seems like a wrong direction: I don't want to add complexity to critic

[2020-09-10 09:39] sobolevn commented on #458
Sadly, this is not possible. There are a lot of thing we need from `settings.py` like `INSTALLED_APPS` (it can be a dynamic array), `URL_CONF`, etc, etc

This also seems like an overkill to me. Maybe you can create `settings_mypy.py` with values that you need? And use it during the type-checking?

[2020-09-10 09:48] WhyNotHugo commented on #458
That's not unreasonable. But wouldn't I need to manually keep that in sync when adding `INSTALLED_APPS` (and other variables)?

[2020-09-10 09:48] WhyNotHugo commented on #458
Sorry, I'm asking the wrong questions. I guess the right question is:
What's the minimal fields that are **required** on the settings file for the plugin to work?

[2020-09-10 10:49] sobolevn commented on #458
We use full `django.setup()` here: https://github.com/typeddjango/django-stubs/blob/master/mypy_django_plugin/django/context.py#L70

So, it needs all fields `django` needs. AFAIK, we don't require any extra fields to be set.

[2020-09-10 15:32] WhyNotHugo commented on #458
Thanks! I'll try to figure out a minimal set and will try to push a PR with docs for others who are curious :)

[2020-09-10 16:37] WhyNotHugo opened #459 "mypy INTERNAL ERROR"
# Bug report

mypy crashes with an internal error.
Removing this plugin makes mypy pass, so I'm under the impression there's something with the plugin that makes it fail.

Do let me know if this should actually be reported to mypy.

[code]

## What's wrong

Here's a [link to my code](https://github.com/WhyNotHugo/django-afip/blob/c37624ac16889556e239aa2d57ce79042efe5c3b/django_afip/models.py#L182)

[2020-09-10 17:15] WhyNotHugo commented on #458
I've tried to create a settings file with _just_ the `INSTALLED_APPS`, `SECRET_KEY`, and a bunch of dummy settings. However, that's an endless rabbithole.

My application uses many python packages which, at runtime, require certain dependencies (including C libraries, and system libraries). I can't install those on my system; some are not packaged, other have incompatible versions, and other confl

[2020-09-10 18:47] sobolevn commented on #458
Mypy does not have to figure out what apps django has and what settings and models there are. So, it is possible for it to be static only. However, we cannot work without running `django.setup`.

Analyzing pure `ast` is **way too complex**. We have tried this before `1.4`. And it didn't work.

I am sorry to hear that `django-stubs` does not work for your use-case, but that's the best we can do.

[2020-09-14 16:43] flapedriza opened #461 "AssertionError when extending from an abstract model that includes a manager"
# Bug report

## What's wrong
When running mypy with a model that extends from an abstract model that defines a manager, mypy crashes internally on the line where such model is defined.

The model (names are changed, but everything else is the same, the other abstract models only define fields):
[code]
The abstract SendableModel model:
[code]

I get the following traceback:
[code]

If I remove the

[2020-09-14 17:35] kszmigiel commented on #461
Thanks for the report, even if it's a duplicate of #459
It's a known bug and I'm currently working on this.

[2020-09-16 15:56] anentropic commented on #312
I think I have a related issue

[code]
[code]
and mypy gives the following error:
[code]

The `_KT` TypeVar appears to be defined in mypy typeshed in relation to `Mapping` container, i.e. for dicts

Adding an annotation to the settings like this does not help:
[code]

we also have similar situation with conditional import of sub-module settings, maybe is relevant

(my example code above is simplif

[2020-09-17 11:14] kszmigiel commented on #461
@flapedriza
Here's what I discovered.

`models.py`
[code]

`views.py`
[code]

When I run `mypy --tb ./app/views.py` I get:

[code]

I guess we can consider this as correct behavior, can we @sobolevn?

First error can be easily fixed by adding type annotation to `objects` field:
[code]

@flapedriza could you try to use Mypy on your code with my version of Django-Stubs? It can be found here: https:/

[2020-09-17 14:29] canassa opened #463 "Pleas bump supported mypy versions"
Hi,

I am happily using mypy 782 and django-stubs 1.5.0 in all my projects for quite some time without any problem whatsoever. django-stubs 1.5.0 does not allows for mypy 782, but they work fine and I just ignore the pip warning during the installation.

The problem is that they are updating pip/setuptools in a few days. They are adding this "feature" that resolves dependency conflicts:

[code]

T

[2020-09-17 15:07] sobolevn commented on #463
Oh shiiiii 😨

[2020-09-17 15:18] flapedriza commented on #461
Hi @kszmigiel, thanks for your answer.

I did what you suggested (although I changed the `setup.py` file to use django 2.2.6 before doing `pip install -e .` because my code is not compatible with django 3.1).

Now the problem mentioned before does not cause a crash, but it crashes for another reason.

Here's the traceback:
[code]

This seems to be caused when calling super() in a property inside a

[2020-09-18 01:49] caseydm opened #465 "Type check model definitions?"
I'm working on type checking a Django project. Do you guys annotate your models? For example like this:

[code]

When I run that with mypy I get the error: `error: Incompatible types in assignment (expression has type "TextField[Union[str, Combinable, None], Optional[str]]", variable has type "Optional[str]")`

But I was thinking about it and since django-stubs is converting it to the right type,

[2020-09-18 08:20] sobolevn commented on #465
Yes, there's no need to annotate your models.

[2020-09-18 08:21] sobolevn commented on #465
Moreover, it is not recommended.

Because when you define a model, you use `Field`-based types to declare fields of your model.
Then, we use these types to infer the attributes of your model instances.

[2020-09-18 08:21] #465 closed, assigned to nobody

[2020-09-18 21:09] kszmigiel commented on #463
@sobolevn I guess in this situation we have to give up on waiting for refactor to be finished, and release 1.6.0 (or 1.5.1) version of django-stubs asap. We have `'mypy>=0.782,<0.790'` dependency in `setup.py` on current master branch, so it should do the job.

[2020-09-18 22:15] kszmigiel commented on #353
The good news is that piece of code given by @dragonpaw does not cause problems at refactored version. To be released soon!

[2020-09-19 00:40] kszmigiel commented on #461
@flapedriza There's no need for another issue. Could you please provide some minimum reproduction repository for these errors? It'd help a lot.

[2020-09-19 07:40] sobolevn commented on #463
Agreed 👍

@kszmigiel I can do the release right now. Let's do it?

[2020-09-19 07:44] #353 closed, assigned to nobody

[2020-09-19 22:06] kszmigiel commented on #463
@sobolevn sure, push the button! 😁
Sorry for the delay, I was afk today.

[2020-09-21 01:51] caseydm opened #468 "error: Cannot determine type of 'objects' with models.Manager"
Any idea on what I can do to resolve the following error given my situation? The error is:

`error: Cannot determine type of 'objects'`

When using code like this:

`verified_user = User.objects.filter(verified=True).first()`

The User objects come from this:

[code]

This error seems to happen every time I call User.objects.

[2020-09-22 11:22] anentropic commented on #312
this looks the same https://github.com/typeddjango/django-stubs/issues/352

[2020-09-22 12:10] sobolevn commented on #352
Thanks for the report! Lets join it together with #312

[2020-09-22 12:10] #352 closed, assigned to nobody

[2020-09-23 05:06] JoaRiski opened #469 "admin.TabularInline: Signature of "has_add_permission" incompatible with supertype "BaseModelAdmin""
## What's wrong

The signature for the `admin.TabularInline.has_add_permission` method seems to be wrongly typed, resulting in the following error when a subclass declares a type according to the Django documentation:
[code]

Example signature resulting in this error:
[code]

The problem seems to be caused by the TabluarInline directly inheriting the types from here
https://github.com/typeddjango/

[2020-09-23 05:13] JoaRiski commented on #469
Loosely related to #203

[2020-09-23 06:39] sobolevn commented on #469
@JoaRiski PRs are appreciated!

[2020-09-23 08:41] JoaRiski commented on #469
@sobolevn I don't have the time to properly test it, but opened #470

[2020-09-23 09:51] anentropic opened #471 "error: Definition of "_meta" in base class "PermissionsMixin" is incompatible with definition in base class "AbstractBaseUser""
# Bug report

## What's wrong

We have defined a custom `AuthUser` model in our project like:

[code]

mypy gives an error:
[code]
(from the `class AuthUser(PermissionsMixin, AbstractBaseUser):` line)

The slightly weird part is Django's `PermissionMixin` and `AbstractBaseUser` both have an identical `Meta`:
[code]

## How is that should be

No error

## System information

- OS:
- `python` versio

[2020-09-23 13:09] kszmigiel commented on #471
@anentropic I'm not able to reproduce this bug, could you post a result of `reveal_type(AuthUser)` and `mypy --tb .myproject/models/auth.py`?

[2020-09-23 13:20] anentropic commented on #471
[code]

[2020-09-23 14:16] kszmigiel commented on #471
@anentropic Shouldn't you use `from django.contrib.auth.base_user import AbstractBaseUser`? Or maybe `AbstractUser` from `django.contrib.auth.models` would do the job?

[2020-09-23 14:33] anentropic commented on #471
importing the same class as `from django.contrib.auth.base_user import AbstractBaseUser` does not make a difference in the mypy error

we couldn't use `AbstractUser` as it defines stuff we don't want

[2020-09-23 14:54] kszmigiel commented on #471
Ok, so I'm out of ideas at this point, sorry. Maybe @sobolevn will come up with something?

[2020-09-23 15:55] sobolevn commented on #471
I would also love to see `._meta` attributes of all `AbstractBaseUser`, `PermissionsMixin`, and your type.

Thanks a lot for the help! 👍

[2020-09-23 16:08] anentropic commented on #471
[code]

[code]

[2020-09-23 16:50] sobolevn commented on #471
We can try to tweak the variance of `_meta` to be `contravariant`. My wild guess that this can be the case (I am totally not sure).

[2020-09-23 17:10] anentropic commented on #471
if you have a branch with the contravariant change at some point I'll be happy to try it out on my problem Django project

[2020-09-23 22:03] WhyNotHugo commented on #458
I honestly haven't been able to figure out how ti get `django-stubs` to work for any project (aside from a very small library where I'm blocked by #459).

I understand using an `ast` is complex, but the alternative simply doesn't work, and I don't see it every working. Attempting to do type-checking through code-execution clearly has too many limitations, and ultimately, will just leave many proje

[2020-09-23 22:33] WhyNotHugo commented on #458
I wonder if a compromise might be possible: would it be possible to gracefully fall back when `django.setup()` cannot be run, and only apply type hints to things that do no rely on it?

For example, this sort of scenario does not require anything specific to a `settings.py`, and it's be a huge benefit to avoid having to explicitly annotate these (it just hurts readability so much!).

[code]

[2020-09-24 15:06] bryanhelmig commented on #403
Same issue here!

[2020-09-24 22:21] kszmigiel commented on #471
@anentropic According to https://code.djangoproject.com/ticket/31437 (thanks to @syastrov for the link):

So, it seems like `# type: ignore` is the only solution (maybe?) I've spent quite a lot of time trying to fix the error coming from the piece of code mentioned in the link above as it was the last one failing in CI (see my PR #445).
@sobolevn we definitely need to update Django version we test

[2020-09-25 08:23] AndreyMZ commented on #333
It's been almost half a year since the issue is closed, but neither django-stubs 1.5.1 nor 1.6 is released. @sobolevn, is this project still alive?

[2020-09-25 09:28] sobolevn commented on #333
@AndreyMZ you can see that there are new issues, new bugfixes, new features merged. So, the project is 100% alive.
We also have our internal routine. And we release versions when it is time to release them.

In the meantime everyone can use:
1. `master` branch
2. specific commit hash
3. a custom fork

[2020-09-25 09:36] anentropic commented on #471
@kszmigiel I'm not saying it's not somehow... but it's not clear to me if that issue (about overriding _fields_ of abstract models in multiple inheritance scenario) is related to this error

presumably Django itself has the same problem since their `AbstractUser` class looks like:
[code]

[2020-09-27 01:29] #468 closed, assigned to nobody

[2020-09-27 11:40] syastrov commented on #471
Reproduced:
[code]

Output
[code]

Disabling the plugin removes the error...

[2020-09-28 14:59] flapedriza commented on #461
Hi @kszmigiel sorry for the delay.

After testing again, it seems that the crash is not happening anymore.

Both other strange errors are still showing though.

Here's my mypy config:
[code]

And this file has the same behavior as the original code:
[code]

I was not able to reproduce the `Name 'QuerySet' is not defined` error. But I'll try to create a repo where it happens too.

[2020-09-29 11:57] garanews commented on #463
can you update also on pypi?

[2020-09-29 13:26] sobolevn commented on #262
Related https://github.com/typeddjango/django-stubs/issues/439

[2020-09-29 19:04] #431 closed, assigned to nobody

[2020-09-29 22:23] kszmigiel commented on #471
@syastrov thank you! I'll get back to this as soon as I get back home from holidays.

[2020-09-29 22:25] kszmigiel commented on #461
@flapedriza thank you! I'll get back to this soon.

[2020-09-29 22:25] kszmigiel commented on #461
PR's are welcome too!

[2020-09-30 08:52] gghildyal commented on #463
As @garanews says, PyPi still depends on the older mypy version. Can you  push the latest package to mypy as well please?

[2020-10-01 08:19] sobolevn commented on #463
https://pypi.org/project/django-stubs/1.6.0/

[2020-10-01 08:19] #463 closed, assigned to kszmigiel

[2020-10-01 08:20] sobolevn commented on #450
This might be closed, I guess.

[2020-10-01 08:20] #450 closed, assigned to nobody

[2020-10-02 00:42] vgel opened #477 "Over-specific return type required for `ListView.get_queryset` overrides"
# Bug report

## What's wrong

Right now `django-stubs` requires that the return type of a `views.generic.ListView` subclass' `get_queryset` method be a queryset, which seems reasonable. However, `django` doesn't actually require that, and this bit me while adding typing to a project that uses a non-queryset iterable in a view.

See here:
https://github.com/django/django/blob/f87b0ecd37e64e7a019d4

[2020-10-02 19:24] eyqs commented on #344
Hi, I was wondering if anyone got a chance to look into this issue more. I upgraded to django-stubs 1.6.0 and mypy 0.782 today but unfortunately the infinite loop still exists in [my minimum reproducible example](https://github.com/eyqs/django-stubs-issue-344/).

[2020-10-06 14:15] BurningLights opened #479 "DateField and TimeField stubs missing auto_now_add and auto_now"
# Bug report

The type stubs for DateField and TimeField are missing the attributes auto_now_add and auto_now. This also effects DateTimeField, which inherits from DateField.

## What's wrong

The attribute definitions of DateField looks like:
[code]

and the attribute definitions of TimeField looks like:
[code]

## How is that should be

The definitions should look like:
[code]

and for TimeField

[2020-10-06 14:53] sobolevn commented on #479
@BurningLights PRs are welcome! Btw, we participate in Hacktoberfest! 🎃

[2020-10-07 15:12] mariamrf opened #480 "Widget.render() renderer argument should accept BaseRenderer"
# Bug report

## What's wrong

I've got a class that is a subclass of [`Widget`](https://docs.djangoproject.com/en/3.1/ref/forms/widgets/#widget) and overrides the [`render()`](https://docs.djangoproject.com/en/3.1/ref/forms/widgets/#django.forms.Widget.render) method.

The class + overridden method look something like this:

[code]
This produces the following error:
[code]

This is because of thi

[2020-10-07 17:19] #480 closed, assigned to nobody

[2020-10-09 12:25] nuschk commented on #134
FWIW, here's our setup, which works for sublime and vscode, with both, django and drf plugins.

First, `mypy.ini` lives in the `src/` directory, nothing fancy here, but we have to specify the settings module relative to `src/`:

[code]

The plan now is to call the `mypy` command from the `src` directory (hence, all django imports will work). Sublime is configured to change the working directory be

[2020-10-10 13:48] fancysnake opened #482 "BaseModelAdmin should be a generic class"
# Bug report

## What's wrong

I have a class inheriting from `BaseModelAdmin` and a method `delete_model` defined as such:
[code]
`AgendaItem` is a Django model

However, mypy raises an error:

[code]

because in stubs this function is defined as:

[code]

## How is that should be

The solution is to make `BaseModelAdmin` a generic class with model type variable.

## System information

- OS: Arc